<template>
  <div>
    <div v-if="item.operation === 'created' || item.operation === 'deleted'">
      <b-button variant="primary" @click="previewItem = item.content.new; $bvModal.show(`${item.id}`)" v-b-tooltip.hover.right title="Item ansehen"><font-awesome-icon icon="eye"/></b-button>
    </div>
    <div v-else>
      <b-button variant="secondary" @click="previewItem = item.content.old; $bvModal.show(`${item.id}`)" v-b-tooltip.hover.left title="Vorher"><font-awesome-icon icon="backward"/></b-button>
      <b-button variant="secondary" @click="previewItem = item.content.new; $bvModal.show(`${item.id}`)" v-b-tooltip.hover.right title="Nachher"><font-awesome-icon icon="forward"/></b-button>
    </div>

    <b-modal :id="item.id" centered title="Item-Vorschau" ok-only size="xl">
      <b-container fluid>
        <b-row align-v="center">
          <b-col>
            <itemPreview :item="previewItem"/>
          </b-col>
        </b-row>
      </b-container>
    </b-modal>
  </div>
</template>

<script>
import itemPreview from '../itemPreview'

export default {
  props: {
    item: { type: Object, required: true }
  },
  components: { itemPreview },
  data () {
    return {
      previewItem: {}
    }
  }
}
</script>
