<template>
  <div>
    <h2>Liste über laufende Software und Software-Repositorien</h2>
    <hr>
    <p>Übersicht <a href="https://gitlab.com/Tech4Comp?filter=eas.lit" target="_blank">aller Software-Repositorien</a>:</p>
    <ul>
      <li>Frontend (Web-App) (<a :href="frontendOrigin" target="_blank">aktive Instanz</a> / <a href="https://gitlab.com/Tech4Comp/eas.lit-ui" target="_blank">Repositorium</a>)</li>
      <li>Item-Service (<a :href=" serviceURIs.itemService.uri + '/documentation'" target="_blank">aktive Instanz</a> / <a href="https://gitlab.com/Tech4Comp/eas.lit-item-api-service" target="_blank">Repositorium</a>)</li>
      <li>Format-Service (incl. Import/Export) (<a :href=" serviceURIs.formatService.uri + '/documentation'" target="_blank">aktive Instanz</a> / <a href="https://gitlab.com/Tech4Comp/eas.lit-item-format-service" target="_blank">Repositorium</a>)</li>
      <li>Exam-Service (<a :href=" serviceURIs.examService.uri + '/documentation'" target="_blank">aktive Instanz</a> / <a href="https://gitlab.com/Tech4Comp/eas.lit-exam-service" target="_blank">Repositorium</a>)</li>
      <li>Knowledge-Map-Service (<a :href=" serviceURIs.knowledgeMapService.uri + '/documentation'" target="_blank">aktive Instanz</a> / <a href="https://gitlab.com/Tech4Comp/eas.lit-knowledge-map-service" target="_blank">Repositorium</a>)</li>
      <li>Log-Service (<a :href=" serviceURIs.logService.uri" target="_blank">aktive Instanz</a> / <a href="https://gitlab.com/Tech4Comp/eas.lit-log-service" target="_blank">Repositorium</a>)</li>
      <li>Datenbank (Fuseki) (<a :href=" serviceURIs.sparqlEndpoint.uri.replace('/eal','')" target="_blank">aktive Instanz</a> / <a href="https://jena.apache.org/documentation/fuseki2/" target="_blank">Dokumentation</a>)</li>
      <li>Fachlankarten WebApp (<a :href=" serviceURIs.dskgWebApp.uri" target="_blank">aktive Instanz</a> / <a href="https://gitlab.com/Tech4Comp/fachlandkarten-ui" target="_blank">Repositorium</a>)</li>
    </ul>

    <h2>Liste von genutzten Drittpaketen</h2>
    <hr>
    <ul>
      <li v-for="(Package, index) in packages" :key="index"><a :href="'https://www.npmjs.com/package/' + Package.name + '/v/' + Package.version.replace('^','')" target="_blank">{{Package.name}}@{{Package.version}}</a></li>
    </ul>
  </div>
</template>

<script>
import * as serviceURIs from '@/config.js'
const packages = require('./../../package.json')

export default {
  name: 'about',
  title: 'Über EAs.LiT',
  data () {
    return {
      packages: [],
      serviceURIs,
      frontendOrigin: ''
    }
  },
  async created () {
    this.frontendOrigin = window.location.origin
    const dependencies = Object.keys(packages.dependencies).map(name => { return { name, version: packages.dependencies[name] } })
    const devDependencies = Object.keys(packages.devDependencies).map(name => { return { name, version: packages.devDependencies[name] } })
    Array.prototype.push.apply(this.packages, dependencies)
    Array.prototype.push.apply(this.packages, devDependencies)
    this.packages.sort((a, b) => a.name > b.name ? 1 : -1)
  },
  watch: {
    $route: {
      immediate: true,
      handler (to, from) {
        window.scrollTo(0, 0)
      }
    }
  }
}
</script>
