<template>
  <div>
    <b-alert show variant="secondary">
      <b-row>
        <b-col cols="8">
          <examSettings :restrictions="restrictions" :activatedOptions="activatedOptions" :requirements="requirements" @newSettings="loadSettings" @downloadExams="downloadExamPreset"/>
        </b-col>
        <b-col cols="4" class="text-right">
          <b-badge v-b-tooltip.hover title="Mögliche Prüfungen"><font-awesome-icon icon="hashtag"/> <span v-if="lessThanAmountOfPossibleExams">{{'&lt;'}}</span>{{ + amountOfPossibleExams}}</b-badge>
        </b-col>
      </b-row>
    </b-alert>
    <b-card>
      <b-form @submit.prevent="onSubmit">
        <b-form-group label="Anzahl Prüfungs-Items:" label-cols="3">
          <b-input-group v-bind:append="restrictions.amountOfItems.toString()" v-b-tooltip.hover title="Maximalanzahl durch Item-Korb begrenzt">
            <b-form-input type="range" min="1" :max="$store.state.item.itemBasket.length" step="1" v-model="restrictions.amountOfItems"/>
          </b-input-group>
        </b-form-group>

        <b-alert show variant="info">
          Nachfolgend können Sie weiter eingrenzen, wie viele Items einer Kategorie minimal und maximal in einer Prüfung enthalten sein sollen. Die Maximalanzahl ist dabei immer durch die Anzahl der Items im Item-Korb begrenzt.
        </b-alert>

        <examOptionRestriction titleText="Item-Typ" :showCollapse="activatedOptions.showItemTypeCollapse" :amountOfItemsByX="amountOfItemsByType" :restrictions="restrictions.amountOfItemsByType" @visibilityChange="(val) => activatedOptions.showItemTypeCollapse = val" @restricted="(val) => typesRestricted = val"/>

        <examOptionRestriction titleText="Wissensdimension" :showCollapse="activatedOptions.showKnowledgeDimensionCollapse" :amountOfItemsByX="amountOfItemsByKD" :restrictions="restrictions.amountOfItemsByKD" @visibilityChange="(val) => activatedOptions.showKnowledgeDimensionCollapse = val"  @restricted="(val) => knowledgeDimensionsRestricted = val"/>

        <examOptionRestriction titleText="Prozessdimension" :showCollapse="activatedOptions.showPerformanceLevelCollapse" :amountOfItemsByX="amountOfItemsByPL" :restrictions="restrictions.amountOfItemsByPL" @visibilityChange="(val) => activatedOptions.showPerformanceLevelCollapse = val"  @restricted="(val) => performanceLevelsRestricted = val"/>

        <examOptionRestriction titleText="Learning Outcome" :showCollapse="activatedOptions.showLearningOutcomeCollapse" :amountOfItemsByX="amountOfItemsByLO" :restrictions="restrictions.amountOfItemsByLO" @visibilityChange="(val) => activatedOptions.showLearningOutcomeCollapse = val" @restricted="(val) => learningOutcomesRestricted = val"/>

        <examOptionRestriction titleText="Themen" :showCollapse="activatedOptions.showTopicCollapse" :amountOfItemsByX="amountOfItemsByTopic" :restrictions="restrictions.amountOfItemsByTopic" @visibilityChange="(val) => activatedOptions.showTopicCollapse = val" @restricted="(val) => topicsRestricted = val"/>

        <hr>

        <b-row>
          <b-col>
            <b-form-group label="Anzahl Prüfungen:" label-cols="3">
              <b-input-group v-bind:append="requirements.numberOfExamsToCreate.toString()" v-b-tooltip.hover title="Maximalanzahl durch Menge möglicher Prüfungen begrenzt, maximal 50">
                <b-form-input type="range" min="1" :max="amountOfPossibleExams > 50 ? 50 : amountOfPossibleExams" step="1" v-model="requirements.numberOfExamsToCreate"/>
              </b-input-group>
            </b-form-group>
            <b-form-group label-cols="3">
              <template slot="label" >
                Überschneidung:
                  <span @click="$swal.fire({ icon: 'info', titleText: 'Überschneidung in %', text: 'Grundsätzlich wird versucht, möglichst verschiedene Prüfungen zu erzeugen. Da dies nicht immer möglich ist, können Sie mit dieser Einstellung angeben, wie stark sich Prüfungen maximal überschneiden dürfen. Bei bspw. 25 % dürfen sich bis zu 1/4 aller Items einer Prüfung gleichen. Beachten Sie dabei, dass ggf. nicht die gesuchte Anzahl an Prüfungen gefunden werden können, die diese Einschränkung erfüllt.' })">
                  <font-awesome-layers>
                    <font-awesome-icon icon="circle"/>
                    <font-awesome-icon icon="question"/>
                  </font-awesome-layers>
                </span>
              </template>
                <b-input-group v-bind:append="requirements.differenceBetweenExams.toString() + '%'">
                  <b-form-input type="range" min="1" max="100" step="1" v-model="requirements.differenceBetweenExams"/>
                </b-input-group>
            </b-form-group>
            <b-form-group label-cols="3">
              <template slot="label" >
                Evolutionäre Suche:
                <span @click="$swal.fire({ icon: 'info', titleText: 'Evolutionäre Suche', html: 'Normalerweise wird die gierige Tiefensuche zur Errechnung von Prüfungen genutzt. Diese Option weist an, stattdessen die evolutionäre Suche zu nutzen.<br><br><h3>Gierigie Tiefensuche</h3><strong>Vorteil:</strong> Findet auch bei vielen Einschränkungen schnell passende Prüfungen<br><strong>Nachteil:</strong> Gefundene Prüfungen ähneln sich stark<br><br><h3>Evolutionäre Suche</h3><strong>Vorteil:</strong> Findet eher sich unterscheidende Prüfungen<br><strong>Nachteil:</strong> Benötigt mehr Zeit und bei vielen Einschränkungen werden ggf. keine Prüfungen gefunden' })">
                  <font-awesome-layers>
                    <font-awesome-icon icon="circle"/>
                    <font-awesome-icon icon="question"/>
                  </font-awesome-layers>
                </span>
              </template>
              <b-form-checkbox v-model="requirements.fastAlgorithm" switch size="lg" style="margin-top: 0.1rem;" class="float-left"/>
              <p class="float-right" style="margin-top: 0.2rem; margin-bottom: 0;">Aktuell genutzt: {{ requirements.fastAlgorithm ? 'Evolutionäre Suche' : 'gierige Tiefensuche' }}</p>
            </b-form-group>
            <b-form-group label-cols="3">
              <template slot="label" >
                Maximale Rechenzeit:
                <span @click="$swal.fire({ icon: 'info', titleText: 'Maximale Rechenzeit in min', text: 'Je nach Kriterien kann die Prüfungserzeugung viel Zeit in Anspruch nehmen. Deswegen wird jede Berechnung nach maximal 1h beendet und das Ergebnis zurückgemeldet. Mit dieser Option können Sie das Limit individuell anpassen. Beachten Sie dabei, dass mehr Rechenzeit die Wahrscheinlichkeit erhöht genug valide Prüfungen zu finden.' })">
                  <font-awesome-layers>
                    <font-awesome-icon icon="circle"/>
                    <font-awesome-icon icon="question"/>
                  </font-awesome-layers>
                </span>
              </template>
              <b-input-group v-bind:append="requirements.maxTime.toString() + 'min'">
                <b-form-input type="range" min="1" max="60" step="1" v-model="requirements.maxTime"/>
              </b-input-group>
            </b-form-group>
            <b-form-group label-cols="3">
              <template slot="label" >
                E-Mail:
                <span @click="$swal.fire({ icon: 'info', titleText: 'E-Mail', text: 'Bei Angabe einer E-Mail-Adresse wird Ihnen eine E-Mail mit dem Ergebnis der Prüfungsberechnung zugesandt. Diese eignet sich für komplexe Prüfungen, bei denen die Berechnung viel Zeit in Anspruch nimmt. So können Sie das Browser-Fenster schließen, ohne dass die Prüfungserzeugung abgebrochen wird.' })">
                  <font-awesome-layers>
                    <font-awesome-icon icon="circle"/>
                    <font-awesome-icon icon="question"/>
                  </font-awesome-layers>
                </span>
              </template>
              <b-form-input type="email" v-model="requirements.infoMailAddress"/>
            </b-form-group>
          </b-col>
          <b-col cols="3" align-self="center">
            <b-button type="submit" variant="success" class="float-right" :disabled="disableSubmitButton">Prüfungen generieren</b-button>
          </b-col>
        </b-row>

      </b-form>
    </b-card>

    <downloadItemsModal :showModal="showDownloadModal" v-model="outputFormat" v-on:confirmed="downloadExams()" v-on:showModal="showDownloadModal = $event" mode="exam"/>
    <b-modal ref="bePatientModal" v-model="showbePatientModal" centered title="Datei wird zusammengestellt" hide-footer no-close-on-backdrop no-close-on-esc hide-header-close>
      <div class="text-center">
        <p>Ihre Prüfungen werden aktuell von unseren Transistoren per Hand zusammengenäht. Bitte haben sie ein wenig Geduld - die Transistoren hatte heute noch keinen Mittagsschlaf ;) </p>
        <b-progress variant="info" :value="progress" animated></b-progress>
        <b-spinner variant="info" label="Spinning"/>
      </div>
    </b-modal>
  </div>
</template>

<script>
import examAPI from '@/api/exam.js'
import JSZip from 'jszip'
import isEmpty from 'lodash/isEmpty'
import assignIn from 'lodash/assignIn'
import fromPairs from 'lodash/fromPairs'
import get from 'lodash/get'
import first from 'lodash/first'
import { saveAs } from 'file-saver'
import { choosefileEnding, replaceItemTypeWithHumanReadableText } from '@/common'
import { combinations } from 'mathjs'
import downloadItemsModal from '@/components/downloadItemsModal'
import examSettings from '@/components/examSettings'
import examOptionRestriction from '@/components/examOptionRestriction'

/* Todos
- verify that a loaded settings file got the correct json format. currently, all json is parsed and loaded
- verify that a loaded file can be applied to the current item basekt
*/

export default {
  name: 'exam',
  components: { downloadItemsModal, examSettings, examOptionRestriction },
  data: () => {
    return {
      restrictions: {
        amountOfItems: 1,
        amountOfItemsByType: {},
        amountOfItemsByKD: {},
        amountOfItemsByPL: {},
        amountOfItemsByLO: {},
        amountOfItemsByTopic: {}
      },
      activatedOptions: {
        showItemTypeCollapse: false,
        showKnowledgeDimensionCollapse: false,
        showPerformanceLevelCollapse: false,
        showTopicCollapse: false,
        showLearningOutcomeCollapse: false
      },
      requirements: {
        numberOfExamsToCreate: 1,
        differenceBetweenExams: 100,
        fastAlgorithm: false,
        infoMailAddress: '',
        maxTime: 1
      },
      sessionID: null,
      disableSubmitButton: false,
      showDownloadModal: false,
      showbePatientModal: false,
      outputFormat: null,
      exams: null,
      progress: 0,
      typesRestricted: false,
      learningOutcomesRestricted: false,
      knowledgeDimensionsRestricted: false,
      performanceLevelsRestricted: false,
      topicsRestricted: false
    }
  },
  created () {
    this.$store.dispatch('fillLearningOutcomes')
  },
  async mounted () {
    const result = await examAPI.postItemsAndGetSessionID(this.$store.state.item.itemBasket)
    if (!isEmpty(result))
      this.sessionID = result.sessionID
    else
      this.$swal.fire({ icon: 'error', titleText: 'Fehler beim versenden der Items', text: 'Bitte Dokumentieren sie den Fall so gut es geht und melden sie dies beim Programmentwickler', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
    console.log('SessionID: ', this.sessionID)
  },
  computed: {
    amountOfItemsByType () {
      const [toReturn, specificRestriction] = this.amountOfItemsByX(this.$store.state.optionsItemTypes, this.$store.state.item.itemBasket, '@type')
      this.restrictions.amountOfItemsByType = specificRestriction//eslint-disable-line
      return toReturn
    },
    amountOfItemsByKD () {
      const [toReturn, specificRestriction] = this.amountOfItemsByX(this.$store.state.optionsKnowledgeDimensions, this.$store.state.item.itemBasket, 'annotations.bloom', 'knowledgeDimension')
      this.restrictions.amountOfItemsByKD = specificRestriction//eslint-disable-line
      return toReturn
    },
    amountOfItemsByPL () {
      const [toReturn, specificRestriction] = this.amountOfItemsByX(this.$store.state.optionsPerformanceLevels, this.$store.state.item.itemBasket, 'annotations.bloom', 'performanceLevel')
      this.restrictions.amountOfItemsByPL = specificRestriction//eslint-disable-line
      return toReturn
    },
    amountOfItemsByLO () {
      const [toReturn, specificRestriction] = this.amountOfItemsByX(this.$store.state.optionsLearningOutcomes, this.$store.state.item.itemBasket, 'learningOutcome')
      this.restrictions.amountOfItemsByLO = specificRestriction//eslint-disable-line
      return toReturn
    },
    amountOfItemsByTopic () {
      const topics = this.$store.state.topics.map((topic) => { return { text: topic.title, value: topic['@id'] } })
      const [toReturn, specificRestriction] = this.amountOfItemsByX(topics, this.$store.state.item.itemBasket, 'annotations.topics')
      this.restrictions.amountOfItemsByTopic = specificRestriction//eslint-disable-line
      return toReturn
    },
    lessThanAmountOfPossibleExams () {
      return this.typesRestricted || this.learningOutcomesRestricted || this.knowledgeDimensionsRestricted || this.performanceLevelsRestricted || this.topicsRestricted
    },
    amountOfPossibleExams () {
      return combinations(this.$store.state.item.itemBasket.length, this.restrictions.amountOfItems)
    }
  },
  methods: {
    amountOfItemsByX (xs, itemBasket, itemPath, deepProperty = '') {
      let prefiltered = xs.map((x) => {
        let filter = {}
        if (!itemPath.startsWith('annotations'))
          filter = itemBasket.filter((item) => get(item, itemPath, '') === x.value)
        else
          filter = itemBasket.filter((item) => {
            const amount = get(item, itemPath, []).filter((prop) => isEmpty(deepProperty) ? prop === x.value : prop[deepProperty] === x.value)
            return amount.length > 0
          })
        return [x.text, {
          id: x.value,
          amount: filter.length
        }]
      })
      prefiltered = prefiltered.filter(([_, { amount }]) => amount !== 0)
      const amountMap = new Map([...(prefiltered.map((el) => [el[1].id, el[1].amount]))])
      function mapFunction (tmp) { return [tmp.value, { min: 0, max: amountMap.get(tmp.value) }] }
      return [prefiltered, fromPairs(xs.map(mapFunction).filter(([_, x]) => x.max !== undefined))]
    },
    async onSubmit () {
      this.disableSubmitButton = true
      this.$swal.fire({ icon: 'info', titleText: 'Prüfungen werden erzeugt', text: 'Bitte haben sie etwas Geduld', didOpen: () => { this.$swal.showLoading() }, allowOutsideClick: false, allowEscapeKey: false })
      try {
        this.exams = await examAPI.getExams(this.sessionID, this.restrictions, this.requirements)
        this.downloadExams()
      } catch (e) {
        console.log(JSON.stringify(e))
        if (e.message === 'toFewExamsGenerated')
          this.$swal.fire({ icon: 'warning', titleText: 'Prüfungen konnten nicht erzeugt werden', text: 'Es konnten leider nicht genug Prüfungen generiert werden. Bitte verkleinern Sie die Anzahl der Prüfungen oder benutzen sie weniger Einschränkungen. Sollten Sie die evolutionäre Suche genutzt haben, so versuchen Sie es bitte erneut, ggf. mit mehr Rechenzeit.' })
        else if (e.message === 'intersectionViolation')
          this.$swal.fire({ icon: 'warning', titleText: 'Prüfungen konnten nicht erzeugt werden', text: 'Es konnten zwar genug Prüfungen erzeugt werden, aber es war nicht möglich die Einschränkung zur Überschneidung der Prüfungen zu erfüllen. Bitte passen Sie diese Einstellung an, verkleinern Sie die Anzahl der Prüfungen oder benutzen sie weniger Einschränkungen' })
        else
          this.$swal.fire({ icon: 'error', titleText: 'Fehler bei der Prüfungserzeugung', text: 'Bitte Dokumentieren sie den Fall so gut es geht und melden sie dies beim Programmentwickler', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
      } finally {
        this.disableSubmitButton = false
      }
    },
    downloadExamPreset (exams) {
      this.exams = exams
      this.downloadExams()
    },
    async downloadExams () {
      this.$swal.close()
      this.disableSubmitButton = false
      if (this.showDownloadModal === false) {
        this.showDownloadModal = true
        return
      }
      const format = this.outputFormat
      this.showDownloadModal = false
      this.showbePatientModal = true
      const replaceTitles = await this.$swal.fire({ icon: 'question', titleText: 'Titel ersetzen?', text: 'Möchten Sie den Titel der Aufgabe mit dem Item-Typ ersetzen? Im Prüfungsystem würde dann als Titel bspw. "Single-Choice Item" angezeigt werden.', showCancelButton: true, cancelButtonText: 'Titel beibehalten', confirmButtonText: 'Titel ersetzen', reverseButtons: true, allowOutsideClick: false, allowEscapeKey: false })

      const changeProgress = (progress) => { // NOTE cause reduceRight has no access to this
        this.progress = progress
      }
      // NOTE commented code downloads items from the store instead of using items from the basket
      // NOTE saved in case hydratedExams causes trouble
      // let examsAsJson = await Promise.all(this.exams.map(async (idList) => {
      //   return examAPI.getFullExamAs(idList, 'json')
      // }))
      // examsAsJson = await Promise.all(examsAsJson.map(async (blob) => {
      //   return JSON.parse(await blob.text())
      // }))
      // const examPromises = this.exams.reduceRight(async function (acc, _, index, arr) { // NOTE this executes these promises one by one
      //   acc = await acc
      //   changeProgress(100 - ((index + 1) * 100) / arr.length)
      //   const file = await examAPI.convertFile(examsAsJson[index], 'json', format)
      //   return [...acc, file]
      // }, Promise.resolve([]))
      const hydratedExams = this.exams.map((exam) => this.hydrateExam(exam, replaceTitles.value === true))
      const examPromises = hydratedExams.reduceRight(async function (acc, currExam, index, arr) { // NOTE this executes these promises one by one
        acc = await acc
        changeProgress(100 - ((index + 1) * 100) / arr.length)
        const file = await examAPI.convertExam(currExam, 'json', format)
        return [...acc, file]
      }, Promise.resolve([]))
      let files = []
      try {
        files = await examPromises
      } catch (error) {
        this.showbePatientModal = false
        this.progress = 0
        this.$swal.fire({ icon: 'error', titleText: 'Fehler bei der Prüfungserzeugung', text: 'Bitte Dokumentieren sie den Fall so gut es geht und melden sie dies beim Programmentwickler', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
        return
      }

      const zip = new JSZip()
      if (format === 'ilias') {
        const zips = await Promise.all(files.map((fileContent, _) => JSZip.loadAsync(fileContent)))
        const names = zips.map((el) => first(first(Object.keys(el.files)).split('/'))) // get folder name
        files.forEach((fileContent, index) => zip.file(names[index] + '.' + choosefileEnding(fileContent.type), fileContent))
      } else
        files.forEach((fileContent, index) => zip.file('Prüfung ' + (index + 1) + '.' + choosefileEnding(fileContent.type), fileContent))

      const localeDateOptions = { hour: 'numeric', minute: 'numeric', year: 'numeric', month: 'short', day: 'numeric' }
      zip.generateAsync({ type: 'blob' }).then(async (content) => {
        this.showbePatientModal = false
        this.progress = 0
        saveAs(content, 'Prüfungen ' + (new Date()).toLocaleDateString('de-DE', localeDateOptions) + '.zip')
        this.$swal.fire({ icon: 'info', titleText: 'Umgang mit der Datei', text: `Die erzeugte Datei enthält ${files.length} Prüfung(en). Entpacken Sie bitte die Datei auf ihrem PC und nutzen Sie folgend die darin enthaltenen Prüfung(en), bspw. indem Sie diese einzeln in ihr Prüfungssystem hochladen.` })
      })
    },
    async loadSettings (settings) {
      const delay = ms => new Promise((resolve, reject) => setTimeout(resolve, ms))
      assignIn(this.activatedOptions, settings.activatedOptions || this.activatedOptions)
      await delay(500) // TODO this is hacky and might brake fast
      assignIn(this.restrictions, settings.restrictions || this.restrictions)
      assignIn(this.requirements, settings.requirements || this.requirements)
    },
    hydrateExam (examIDArray, replaceTitles = false) {
      let hydratedExam = examIDArray.map((id) => this.$store.state.item.itemBasket.find(item => item['@id'] === id))
      hydratedExam = JSON.parse(JSON.stringify(hydratedExam)) // NOTE create copy to not change the itemBasket itself
      if (replaceTitles === true) {
        hydratedExam.forEach((item) => {
          item.title = replaceItemTypeWithHumanReadableText.bind(this, item['@type'])()
        })
      }
      return { items: hydratedExam }
    }
  }
}
</script>

<style scoped>
  .badge {
    min-width: 1.4rem;
    min-height: 1.4rem;
    font-size: 1.4rem;
  }
  .alert {
    margin-bottom: 0.5rem;
  }
  .fa-layers {
    cursor: pointer;
    font-size: 1.2rem;
  }
  .fa-layers > svg:first-of-type {
    color: grey;
  }
  .fa-layers > svg:last-of-type {
    color: white;
    transform: scale(0.65);
  }
</style>
