<template>
  <div>
    <VueMarkdown v-if="content" :source="content"/>

    <div v-else>
      <h2>EAs.LiT Hilfe - Inhalt</h2>
      <hr>

      <b-list-group>
        <b-list-group-item v-for="site in siteMap" :key="site[0]" :to="'/help/' + site[0]">
          {{ renameHelpPages(site[0]) }}
        </b-list-group-item>

      </b-list-group>
    </div>
  </div>
</template>

<script>
import VueMarkdown from '@/components/VueMarkdown'
import * as sites from '../documentation/tutorials/'
import isEmpty from 'lodash/isEmpty'
import toPairs from 'lodash/toPairs'
import { renameHelpPages } from '@/common'

export default {
  name: 'help',
  title: 'Hilfe - EAs.LiT',
  components: { VueMarkdown },
  data () {
    return {
      content: '',
      siteMap: new Map(toPairs(sites))
    }
  },
  watch: {
    $route: {
      immediate: true,
      handler (to, from) {
        const siteName = (to.params.site || '').toLowerCase()
        if (from === undefined || from.path !== to.path) {
          if (!isEmpty(siteName) && this.siteMap.has(siteName))
            this.content = this.siteMap.get(siteName)
          else if (!isEmpty(siteName) && !this.siteMap.has(siteName))
            this.content = 'Seite nicht gefunden'
          else
            this.content = ''
          window.scrollTo(0, 0)
        }
      }
    }
  },
  methods: {
    renameHelpPages
  }
}
</script>
