<template>
  <div>
    <b-alert show variant="secondary">
      <b-container fluid>
        <b-row>
          <b-col cols="4">
            <h2 style="margin-bottom: 0;">{{$store.state.item.itemBasket.length}} Items im Korb</h2>
          </b-col>
          <b-col class="text-right">
            <b-button @click="removeSelectionFromBasket()" :disabled="!selectionMade" v-b-tooltip.hover title="Aus Item-Korb entfernen">
              <font-awesome-layers class="fa-2x" style="font-size: 1.1rem; min-width: 2rem;">
                <font-awesome-icon icon="arrow-right" transform="shrink-2 down-2 left-12" rotation="180"/>
                <font-awesome-icon icon="shopping-basket" transform="right-9 down-2"/>
              </font-awesome-layers>
            </b-button>
            <b-button @click="downloadSelectedItems()" :disabled="!selectionMade">Download</b-button>
            <b-button variant="primary" v-b-tooltip.hover title="Aus allen Items im Korb" :to="'/projects/' + $route.params.projectID + '/exam'" :disabled="$store.state.item.itemBasket.length === 0">Prüfung generieren</b-button>
          </b-col>
        </b-row>
      </b-container>
    </b-alert>
    <b-container fluid>
      <b-row align-v="center">
        <b-col cols="4">
          <h3>Verteilung der Items im Item-Korb:</h3>
        </b-col>
        <b-col cols="8">
          <basketBarChart :height="100" :options="chartOptions"/>
        </b-col>
      </b-row>
    </b-container>

    <transition-group name="fade">
      <b-pagination v-show="showPagination" pills :total-rows="itemList.length" :per-page="perPage" v-model="currentPage" align="right" key="pagination"/>
      <b-table ref="itemTable" key="itemTable" striped outlined responsive :items="itemList" :fields="tableColumns" sort-by="@id" no-sort-reset :busy="showSpinner" selectable select-mode="multi" @row-selected="selectItem" show-empty empty-text="Keine Items gefunden" primary-key="@id" :per-page="perPage" :current-page="currentPage">
        <!-- :tbody-transition-props="{name: 'flip-list'}" primary-key="@id" -->
        <template v-slot:head(select)>
          <b-form-checkbox :checked="selectionMade" @change="selectAllOrNone" v-b-tooltip.hover :title="selectionMade ? 'Alle abwählen' : 'Alle auswählen'"/>
        </template>
        <template v-slot:cell(select)="{ rowSelected }">
          <b-form-checkbox disabled :checked="rowSelected"/>
        </template>
        <template v-slot:cell(@id)="data">
          <itemListStatus :status="(data.item.annotations || {}).status" :innerElement="last(data.value.split('/'))" :flagged="(data.item.annotations || {}).flagged"/>
        </template>
        <template v-slot:cell(description)="data">
          {{ data.value.length > textLimit ? stripHtml(data.value).result.slice(0,100) + '...' : stripHtml(data.value).result }}
        </template>
        <template v-slot:cell(task)="data">
          {{ data.value.length > textLimit ? stripHtml(data.value).result.slice(0,100) + '...' : stripHtml(data.value).result }}
        </template>
        <template v-slot:cell(@type)="data">
          {{replaceItemTypeWithHumanReadableText(data.value)}}
        </template>
        <template v-slot:cell(creationTime)="data">
          {{new Date(data.value).toLocaleDateString('de-DE')}}<br/>
          {{new Date(data.value).toLocaleTimeString('de-DE')}}
        </template>
        <template v-slot:cell(edit)="row">
          <b-button variant="primary" @click="previewItem = row.item; $bvModal.show('previewModal')" v-b-tooltip.hover title="Item-Vorschau" class="my-1 mx-1" style="min-width: 58px;"><font-awesome-icon icon="eye" transform="down-2 left-7" class="float-right" style="margin-bottom: 5px;"/></b-button>
          <b-button :variant="(itemInBasket(row.item)) ? 'secondary' : 'info'" @click="$store.commit('item/removeFromItemBasket', {item: row.item, projectID: $route.params.projectID}); refillItemList()" v-b-tooltip.hover :title="(itemInBasket(row.item)) ? 'Aus Item-Korb entfernen' : 'Zum Item-Korb hinzufügen'" class="my-1 mx-1">
            <font-awesome-layers class="fa-2x" style="font-size: 1.1rem; min-width: 2rem;">
              <font-awesome-icon v-if="itemInBasket(row.item)" icon="arrow-right" transform="shrink-2 down-2 left-12" rotation="180"/>
              <font-awesome-icon v-if="!itemInBasket(row.item)" icon="arrow-right" transform="shrink-2 down-2 left-12"/>
              <font-awesome-icon icon="shopping-basket" transform="right-9 down-2"/>
            </font-awesome-layers>
          </b-button>
        </template>
        <template v-slot:table-busy>
          <div class="text-center text-danger">
            <b-spinner class="align-middle"></b-spinner>
            &nbsp;
            <strong> Lade...</strong>
          </div>
        </template>
      </b-table>
    </transition-group>
    <downloadItemsModal :showModal="showModal" v-model="outputFormat" v-on:confirmed="downloadSelectedItems()" v-on:showModal="showModal = $event"/>
    <b-modal id="previewModal" centered title="Item-Vorschau" ok-only size="xl">
      <b-container fluid>
        <b-row align-v="center">
          <b-col>
            <itemPreview :item="previewItem"/>
          </b-col>
        </b-row>
      </b-container>
    </b-modal>
  </div>
</template>

<script>
import last from 'lodash/last'
import downloadItemsModal from '@/components/downloadItemsModal'
import basketBarChart from '@/components/basketBarChart'
import { choosefileEnding, replaceItemTypeWithHumanReadableText } from '@/common'
import { saveAs } from 'file-saver'
import { formatService } from '@/config'
import itemPreview from '@/components/itemPreview'
import itemListStatus from '@/components/itemListStatus'
import { stripHtml } from 'string-strip-html'
import ky from 'ky'

export default {
  name: 'itemBasket',
  components: { downloadItemsModal, basketBarChart, itemPreview, itemListStatus },
  data: () => {
    return {
      allItems: [],
      itemList: [],
      perPage: 30,
      currentPage: 1,
      selectedItems: [],
      showSpinner: true,
      tableColumns: [
        { key: 'select' },
        { key: '@id', sortable: true, label: 'Item Nr.', class: 'b-table-row-selected' },
        { key: '@type', sortable: true, label: 'Item Typ' },
        { key: 'title', sortable: true, label: 'Titel' },
        { key: 'description', label: 'Vignette' },
        { key: 'task', label: 'Aufgabe' },
        { key: 'creationTime', label: 'Erstellt' },
        { key: 'edit', label: 'Aktionen' }
      ],
      textLimit: 100,
      outputFormat: null,
      showModal: false,
      chartOptions: { scales: { yAxes: [{ ticks: { beginAtZero: true } }] }, legend: { display: false } }, // /*stepSize: 1*/
      previewItem: {}
    }
  },
  async created () {
    this.showSpinner = false
    this.replaceItemTypeWithHumanReadableText = replaceItemTypeWithHumanReadableText
    this.allItems = this.$store.state.item.itemBasket
    this.refillItemList()
  },
  computed: {
    selectionMade () {
      return this.selectedItems.length > 0
    },
    showPagination () {
      return this.itemList.length > this.perPage
    }
  },
  methods: {
    stripHtml,
    selectAllOrNone (key) {
      if (this.selectedItems.length < 1)
        this.$refs.itemTable.selectAllRows()
      else
        this.$refs.itemTable.clearSelected()
    },
    itemInBasket (item) {
      const index = this.$store.state.item.itemBasket.findIndex((basketItem) => item['@id'] === basketItem['@id'])
      if (index === -1)
        return false
      else
        return true
    },
    refillItemList () {
      this.itemList = JSON.parse(JSON.stringify(this.allItems))
    },
    selectItem (items) {
      this.selectedItems = items
    },
    async downloadSelectedItems () {
      if (this.showModal === false) {
        this.showModal = true
        return
      }
      this.showModal = false
      this.showSpinner = true

      const idList = this.selectedItems.map((item) => last(item['@id'].split('/')))
      // console.log(idList.toString())
      const response = await ky.get(formatService.uri + `/export?idList=${idList.toString()}&outputFormat=${this.outputFormat}`)
      // console.log(response)
      if (response.status === 200) {
        saveAs(await response.blob(), (new Date()).toUTCString() + '.' + choosefileEnding(response.headers.get('content-type')))
      } else if (response.status === 206) {
        // partial content
      } else {
        this.$swal.fire({ icon: 'error', titleText: 'Fehler beim anfordern der Datei', text: 'Bitte Dokumentieren sie den Fall so gut es geht und melden sie dies beim Programmentwickler', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
      }
      this.showSpinner = false
    },
    last (data) {
      return last(data)
    },
    async removeSelectionFromBasket () {
      const discardItems = await this.$swal.fire({ icon: 'warning', titleText: 'Die Items wirklich aus dem Korb entfernen?', showCancelButton: true, cancelButtonText: 'Abbrechen', confirmButtonText: 'Löschen', reverseButtons: true })
      if (discardItems.value === true) {
        this.selectedItems.forEach((item) => {
          this.$store.commit('item/removeFromItemBasket', { item, projectID: this.$route.params.projectID })
        })
        this.refillItemList()
        this.selectedItems = []
      }
    }
  }
}
</script>

<style scoped>
  table .flip-list-move {
    transition: transform 0.6s;
  }
  .col > button, .col > a {
    margin-left: 1rem;
  }
  .alert .row button, .alert .row h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
</style>

<style>
td {
  word-wrap: break-word;
  max-width: 17rem;
}
</style>
