<template>
  <div>
    <transition name="fade" mode="out-in">
      <itemForm v-if="!showLoader" :itemID="this.$route.params.id" :item="this.item" key="1"/>
    </transition>
    <div v-if="showLoader" class="text-center">
      <b-spinner variant="info" style="width: 8rem; height: 8rem; position:absolute; top: 28%; z-index:10"></b-spinner>
    </div>
  </div>
</template>

<script>
import itemForm from '@/components/itemForm.vue'
import itemAPI from '../api/item.js'
import isEmpty from 'lodash/isEmpty'
import assignIn from 'lodash/assignIn'

export default {
  name: 'item',
  components: {
    itemForm
  },
  data: () => {
    return {
      showLoader: false,
      item: {}
    }
  },
  beforeRouteEnter (to, from, next) { // only called from /newItem to /item/2 and on initial load
    next(async vm => {
      if (to.name === 'displayItem')
        await vm.fillItem(vm.$route.params.id)
      else
        vm.item = {}
    })
  },
  async beforeRouteUpdate (to, from, next) { // only called from /item/1 to /item/2
    this.showLoader = true
    await this.fillItem(to.params.id)
    this.showLoader = false
    next()
  },
  async created () {
    this.showLoader = true
    await this.$store.dispatch('fillLearningOutcomes')
    this.showLoader = false
  },
  methods: {
    async fillItem (itemID) {
      if (itemID && Number.isInteger(Number.parseInt(itemID)) && Number.parseInt(itemID) >= 0) {
        const data = await itemAPI.read(itemID)
        this.item = {}
        if (!isEmpty(data))
          assignIn(this.item, data)
      }
    }
  }
}

</script>
