<template>
  <div>
    <b-alert show variant="secondary">
      <b-container fluid>
        <b-row>
          <b-col cols="2" class="p-2">
            <b-button variant="primary" @click="$event.stopPropagation(); $router.push({ path: `/projects/${$route.params.projectID}/newItem`})">Item erstellen</b-button>
          </b-col>
          <b-col class="p-2">
            <b-form-input type="search" placeholder="Suchen in Titel & Aufgabe..." v-model="searchTerm"/>
          </b-col>
          <b-col class="text-right p-2">
            <b-button @click="deleteSelectedItems()" :disabled="isEmpty(selectedItems)" v-b-tooltip.hover title="Ausgewählte Items Löschen" variant="danger">
              <font-awesome-layers class="fa-2x" style="font-size: 1.1rem;">
                <font-awesome-icon icon="trash"/>
              </font-awesome-layers>
            </b-button>
            <b-button @click="removeSelectedItemsFromItemBasket()" :disabled="disableDeleteSetFromBasketButton" v-b-tooltip.hover title="Ausgewählte Items vom Korb entfernen" variant="danger">
              <font-awesome-layers class="fa-2x" style="font-size: 1.1rem; min-width: 2rem;">
                <font-awesome-icon icon="arrow-right" transform="shrink-2 down-2 left-12" rotation="180"/>
                <font-awesome-icon icon="shopping-basket" transform="right-9 down-2"/>
              </font-awesome-layers>
            </b-button>
            <b-button @click="addSelectedItemsToItemBasket()" :disabled="disableAddSetToBasketButton" v-b-tooltip.hover title="Ausgewählte Items zum Korb hinzufügen" variant="info">
              <font-awesome-layers class="fa-2x" style="font-size: 1.1rem; min-width: 2rem;">
                <font-awesome-icon icon="arrow-right" transform="shrink-2 down-2 left-12"/>
                <font-awesome-icon icon="shopping-basket" transform="right-9 down-2"/>
              </font-awesome-layers>
            </b-button> <!-- TODO disable if selected list containes marked item -->
            <b-button @click="downloadSelectedItems()" :disabled="!selectionMade">Exportieren</b-button>
          </b-col>
        </b-row>
      </b-container>
    </b-alert>
    <itemFilter v-model="filterObject"/>
    <transition-group name="fade">
      <div key="selectOptions" class="text-right" style="margin-bottom: 1rem;">
        Items pro Seite:
        <b-form-select v-model="perPage" :options="amountOptions" size="sm" class="justify-content-end" style="max-width: 5rem;" />
      </div>
      <b-pagination v-show="showPagination" pills :total-rows="itemList.length" :per-page="perPage" v-model="currentPage" align="right" key="pagination"/>
      <b-table ref="itemTable" key="itemTable" striped outlined responsive :items="itemList" :fields="tableColumns" sort-by="@id" no-sort-reset selectable select-mode="multi" @row-selected="selectItem" :busy="showSpinner" show-empty empty-text="Keine Items gefunden" :per-page="perPage" :current-page="currentPage">
        <!-- :tbody-transition-props="{name: 'flip-list'}"  primary-key="@id" -->
        <template v-slot:head(select)>
          <b-form-checkbox :checked="selectionMade" @change="selectAllOrNone" v-b-tooltip.hover :title="selectionMade ? 'Alle abwählen' : 'Alle auswählen'"/>
        </template>
        <template v-slot:cell(select)="{ rowSelected }">
          <b-form-checkbox disabled :checked="rowSelected"/>
        </template>
        <template v-slot:cell(@id)="data">
          <itemListStatus :status="(data.item.annotations || {}).status" :innerElement="last(data.value.split('/'))" :flagged="(data.item.annotations || {}).flagged"/>
        </template>
        <template v-slot:cell(description)="data">
          {{data.value.length > textLimit ? stripHtml(data.value).result.slice(0,textLimit) + '...' : stripHtml(data.value).result}}
        </template>
        <template v-slot:cell(task)="data">
          {{ data.value.length > textLimit ? stripHtml(data.value).result.slice(0,textLimit) + '...' : stripHtml(data.value).result }}
        </template>
        <template v-slot:cell(@type)="data">
          {{replaceItemTypeWithHumanReadableText(data.value)}}
        </template>
        <template v-slot:cell(creationTime)="data">
          {{data.value ? new Date(data.value).toLocaleDateString('de-DE') : ''}}<br/>
          {{data.value ? new Date(data.value).toLocaleTimeString('de-DE') : ''}}
        </template>
        <template v-slot:cell(edit)="row">
          <b-dropdown lazy split text="Primary" variant="primary" v-b-tooltip.hover title="Bearbeiten - öffnet neue Seite" @click="openItem(row.item['@id'])" class="my-1 mx-1">
            <template v-slot:button-content>
              <font-awesome-icon icon="edit" transform="down-2" />
            </template>
            <b-dropdown-item @click="previewItem = row.item; $bvModal.show('previewModal')">Ansehen <font-awesome-icon icon="eye" transform="down-2" class="float-right"/></b-dropdown-item>
            <b-dropdown-divider></b-dropdown-divider>
            <b-dropdown-item variant="danger" @click="deleteSingleItem(row.item['@id'])">Löschen <font-awesome-icon icon="trash-alt" transform="down-2" class="float-right"/></b-dropdown-item>
          </b-dropdown>
          <div v-b-tooltip.hover :title="((row.item.annotations || {}).status !== 'published') ? 'Item ist nicht zugelassen' : ((itemInBasket(row.item)) ? 'Aus Item-Korb entfernen' : 'Zum Item-Korb hinzufügen')">
            <b-button id="basketButton" :variant="(itemInBasket(row.item)) ? 'secondary' : 'info'" @click="(itemInBasket(row.item)) ? $store.commit('item/removeFromItemBasket', {item: row.item, projectID: $route.params.projectID}) : $store.commit('item/addToItemBasket', {item: row.item, projectID: $route.params.projectID})" :disabled="(row.item.annotations || {}).status !== 'published'" class="my-1 mx-1">
              <font-awesome-layers class="fa-2x" style="font-size: 1.1rem; min-width: 2rem;">
                <font-awesome-icon v-if="itemInBasket(row.item)" icon="arrow-right" transform="shrink-2 down-2 left-12" rotation="180"/>
                <font-awesome-icon v-if="!itemInBasket(row.item)" icon="arrow-right" transform="shrink-2 down-2 left-12"/>
                <font-awesome-icon icon="shopping-basket" transform="right-9 down-2"/>
                <font-awesome-icon v-if="((row.item.annotations || {}).status !== 'published')" icon="slash" transform="shrink-2 down-2 left-2" size="2x" color="black"/>
              </font-awesome-layers>
            </b-button>
          </div>
        </template>
        <template v-slot:table-busy>
          <div class="text-center text-danger">
            <b-spinner class="align-middle"></b-spinner>
            &nbsp;
            <strong> Lade...</strong>
          </div>
        </template>
      </b-table>
    </transition-group>
    <downloadItemsModal :showModal="showModal" v-model="outputFormat" v-on:confirmed="downloadSelectedItems()" v-on:showModal="showModal = $event"/>
    <b-modal id="previewModal" centered title="Item-Vorschau" size="xl">
      <b-container fluid>
        <b-row align-v="center">
          <b-col>
            <itemPreview :item="previewItem"/>
          </b-col>
        </b-row>
      </b-container>
      <template #modal-footer>
        <div>
          <b-button variant="primary" :to="`/projects/${$route.params.projectID}/item/${last(previewItem['@id'].split('/'))}`" v-b-tooltip.hover title="Bearbeiten - öffnet neue Seite" style="margin-right: 1rem;">
            <font-awesome-icon icon="edit" transform="down-2"/>
          </b-button>
          <b-button variant="secondary" class="float-right" @click="$bvModal.hide('previewModal')">
            OK
          </b-button>
        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>
import last from 'lodash/last'
import isEmpty from 'lodash/isEmpty'
import itemAPI from '../api/item.js'
import downloadItemsModal from '@/components/downloadItemsModal'
import itemFilter from '@/components/itemFilter'
import { choosefileEnding, replaceItemTypeWithHumanReadableText } from '@/common'
import { saveAs } from 'file-saver'
import examAPI from '@/api/exam.js'
import itemPreview from '@/components/itemPreview'
import itemListStatus from '@/components/itemListStatus'
import { stripHtml } from 'string-strip-html'

export default {
  name: 'downladItems',
  components: { downloadItemsModal, itemFilter, itemPreview, itemListStatus },
  data: () => {
    return {
      allItems: [],
      preFilteredItemList: [],
      itemList: [],
      perPage: 30,
      currentPage: 1,
      selectedItems: [],
      showSpinner: true,
      searchTerm: '',
      tableColumns: [
        { key: 'select' },
        { key: '@id', sortable: true, label: 'Item Nr.', class: 'b-table-row-selected' },
        { key: '@type', sortable: true, label: 'Item Typ' },
        { key: 'title', sortable: true, label: 'Titel' },
        { key: 'description', label: 'Vignette' },
        { key: 'task', label: 'Aufgabe' },
        { key: 'creationTime', label: 'Erstellt' },
        { key: 'edit', label: 'Aktionen' }
      ],
      textLimit: 100,
      outputFormat: null,
      showModal: false,
      searchTimeoutID: null,
      filterObject: {},
      previewItem: {},
      context: {}
    }
  },
  async created () {
    this.replaceItemTypeWithHumanReadableText = replaceItemTypeWithHumanReadableText
    await this.fillItems()
    this.showSpinner = false
  },
  computed: {
    selectionMade () {
      return this.selectedItems.length > 0
    },
    showPagination () {
      return this.itemList.length > this.perPage
    },
    disableAddSetToBasketButton () {
      const allItemsInBasket = this.selectedItems.length !== 0 ? this.selectedItems.map((item) => this.itemInBasket(item)).reduce((acc, curr) => acc && curr, true) : false
      return !this.selectionMade || (this.selectionMade && allItemsInBasket)
    },
    disableDeleteSetFromBasketButton () {
      const oneItemInBasket = this.selectedItems.length !== 0 ? this.selectedItems.map((item) => this.itemInBasket(item)).reduce((acc, curr) => acc || curr, false) : false
      return !this.selectionMade || (this.selectionMade && !oneItemInBasket)
    },
    amountOptions () {
      const toReturn = [
        { value: 30, text: '30' }
      ]
      if (this.allItems.length >= 100)
        toReturn.push({ value: 50, text: '50' })
      if (this.allItems.length >= 200)
        toReturn.push({ value: 100, text: '100' })
      if (this.allItems.length > 30)
        toReturn.push({ value: this.allItems.length, text: 'All' })
      return toReturn
    }
  },
  watch: {
    searchTerm (newVal, oldVal) {
      clearTimeout(this.searchTimeoutID)
      this.searchTimeoutID = setTimeout(() => {
        this.search(newVal, oldVal)
      }, 300)
    },
    filterObject: {
      async handler (newVal, oldVal) {
        this.showSpinner = true
        const itemList = JSON.parse(JSON.stringify(this.allItems)) // TODO really needed?
        const filteredItemList = itemList.map((item) => {
          let flagged = true
          let status = true
          let itemType = true
          let created = true
          let modified = true
          let topic = true
          if (newVal.flagged)
            flagged = (item.annotations || {}).flagged === newVal.flagged
          if (!isEmpty(newVal.status))
            status = newVal.status.includes((item.annotations || {}).status)
          if (!isEmpty(newVal.itemType))
            itemType = newVal.itemType.includes(item['@type'])
          if (!isEmpty(newVal.created)) {
            if (newVal.createdBefore === false)
              created = item.creationTime > newVal.created
            else
              created = item.creationTime < newVal.created
          }
          if (!isEmpty(newVal.lastModified)) {
            if (newVal.lastModifiedBefore === false)
              modified = item.modificationTime > newVal.lastModified
            else
              modified = item.modificationTime < newVal.lastModified
          }
          if (!isEmpty(newVal.topics)) {
            const topics = newVal.topics.map(topic => topic['@id'])
            topic = ((item.annotations || {}).topics || []).reduce((acc, curr) => topics.includes(curr) ? true : acc, false)
          }
          return (flagged && status && itemType && created && modified && topic) ? item : undefined
        }).filter((item) => item !== undefined)

        this.preFilteredItemList = filteredItemList
        this.itemList = this.preFilteredItemList
        if (this.searchTerm)
          this.search(this.searchTerm, this.searchTerm)
        this.showSpinner = false
      },
      deep: true
    }
  },
  methods: {
    isEmpty,
    stripHtml,
    selectAllOrNone (key) {
      if (this.selectedItems.length < 1)
        this.$refs.itemTable.selectAllRows()
      else
        this.$refs.itemTable.clearSelected()
    },
    itemInBasket (item) {
      const index = this.$store.state.item.itemBasket.findIndex((basketItem) => item['@id'] === basketItem['@id'])
      if (index === -1)
        return false
      else
        return true
    },
    addSelectedItemsToItemBasket () {
      let addUnpublishedItems = false
      this.selectedItems.forEach((item) => {
        if ((item.annotations || {}).status === 'published')
          this.$store.commit('item/addToItemBasket', { item, projectID: this.$route.params.projectID })
        else
          addUnpublishedItems = true
      })
      if (addUnpublishedItems)
        this.$swal.fire({ icon: 'info', toast: true, timer: 5000, position: 'top-end', showConfirmButton: false, titleText: 'Es wurden nur zugelassene Items zum Korb hinzugefügt' })
    },
    removeSelectedItemsFromItemBasket () {
      this.selectedItems.forEach((item) => {
        this.$store.commit('item/removeFromItemBasket', { item, projectID: this.$route.params.projectID })
      })
    },
    async fillItems () {
      const items = await itemAPI.readAll(this.$store.state.project.chosenProject, true, 'application/json', true)
      this.allItems = items['@graph']
      this.preFilteredItemList = items['@graph']
      this.context = items['@context']
      // for (let i = 0; i < 100; i++) {
      //   let tmpitems = JSON.parse(JSON.stringify(items)).map((item) => {
      //     item['@id'] = item['@id'] + i
      //     return item
      //   })
      // this.allItems.push(...tmpitems)
      // }
      this.refillItemList()
    },
    refillItemList () {
      this.itemList = JSON.parse(JSON.stringify(this.allItems))
    },
    selectItem (items) {
      this.selectedItems = items
    },
    search (newVal, oldVal) {
      const searchTerm = newVal.toLowerCase()

      if (newVal.length < 3)
        this.itemList = this.preFilteredItemList
      else
        this.itemList = this.preFilteredItemList.filter((item) => searchItem(item, searchTerm))

      function searchItem (item, searchTerm) {
        return (item.title || '').toLowerCase().includes(searchTerm) ||
        (item.description || '').toLowerCase().includes(searchTerm) ||
        item.task.toLowerCase().includes(searchTerm)
      }
    },
    async downloadSelectedItems () { // TODO @context is currently missing
      if (this.showModal === false) {
        this.showModal = true
        return
      }
      this.showModal = false
      this.showSpinner = true

      try {
        if (this.outputFormat === 'json_ld') {
          const file = new File([JSON.stringify({ '@context': this.context, '@graph': this.selectedItems })], '', { type: 'application/ld+json' })
          saveAs(file, (new Date()).toUTCString() + '.' + choosefileEnding(file.type))
        } else {
          const idList = this.selectedItems.map((item) => item['@id'])
          const file = await examAPI.getFullExamAs(idList, this.outputFormat) // exports items in specified format
          saveAs(file, (new Date()).toUTCString() + '.' + choosefileEnding(file.type))
        }
      } catch (error) {
        this.$swal.fire({ icon: 'error', titleText: 'Fehler beim erzeugen der Datei', text: 'Bitte Dokumentieren sie den Fall so gut es geht und melden sie dies beim Programmentwickler', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
      } finally {
        this.showSpinner = false
      }
    },
    last (data) {
      return last(data)
    },
    openItem (id) {
      this.$router.push({ path: `/projects/${this.$route.params.projectID}/item/${last(id.split('/'))}` })
    },
    async deleteSingleItem (id) {
      const deleteItem = await this.$swal.fire({ icon: 'warning', titleText: 'Das Item wirklich löschen?', html: `<p>Sie können das Item vor dem Löschen in der Export-Ansicht herunterladen, um eine Sicherrungskopie des Items zu erhalten.</p><a href="/projects/${this.$route.params.projectID}/items">Zur Export-Ansicht</a>`, showCancelButton: true, cancelButtonText: 'Abbrechen', confirmButtonText: 'Löschen', reverseButtons: true })
      if (deleteItem.value === true) {
        this.showSpinner = true
        if (!(await itemAPI.delete(id)))
          this.$swal.fire({ icon: 'error', titleText: 'Das Item konnte nicht gelöscht', text: 'Melden sie dies bitte bei ihrem Programmentwickler', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
        else {
          const index = this.allItems.findIndex((item) => item['@id'] === id)
          this.allItems.splice(index, 1)
          this.refillItemList()
          this.selectedItems = []
        }
        this.showSpinner = false
      }
    },
    async deleteSelectedItems () {
      const deleteItems = await this.$swal.fire({ icon: 'warning', titleText: 'Die Items wirklich löschen?', html: `<p>Sie können die Items vor dem Löschen in der Export-Ansicht herunterladen, um eine Sicherrungskopie zu erhalten.</p><a href="/projects/${this.$route.params.projectID}/items">Zur Export-Ansicht</a>`, showCancelButton: true, cancelButtonText: 'Abbrechen', confirmButtonText: 'Löschen', reverseButtons: true })
      if (deleteItems.value === true) {
        this.showSpinner = true
        const ids = this.selectedItems.map(item => item['@id'])
        const deletionPromises = ids.reduceRight(async function (acc, id, index, arr) { // NOTE this executes these promises one by one
          acc = await acc
          const deleted = await itemAPI.delete(id)
          return [...acc, deleted]
        }, Promise.resolve([]))
        const deleted = await deletionPromises
        const everyThingOkay = deleted.reduceRight((acc, curr) => acc && curr, true)
        if (!everyThingOkay)
          this.$swal.fire({ icon: 'error', titleText: 'Einige Items konnten nicht gelöscht werden', text: 'Melden sie dies bitte bei ihrem Programmentwickler', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
        else {
          await this.fillItems()
        }
        this.showSpinner = false
      }
    },
    async flagItem (item) {
      if (!item.annotations)
        item.annotations = {}
      item.annotations.flagged = true
      const result = await itemAPI.write(item)
      if (result && result.status === false) {
        this.$swal.fire({ icon: 'error', titleText: 'Das Item konnte nicht geschrieben werden', text: 'Melden sie dies bitte bei ihrem Programmentwickler', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
        item.annotations.flagged = false
      }
      this.replaceItemInAllItems(item)
      this.$swal.fire({ icon: 'success', toast: true, timer: 5000, position: 'top-end', showConfirmButton: false, titleText: 'Änderung erfolgt' })
    },
    async deflagItem (item) {
      item.annotations.flagged = false
      const result = await itemAPI.write(item)
      if (result && result.status === false) {
        this.$swal.fire({ icon: 'error', titleText: 'Das Item konnte nicht geschrieben werden', text: 'Melden sie dies bitte bei ihrem Programmentwickler', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
        item.annotations.flagged = true
      }
      this.replaceItemInAllItems(item)
      this.$swal.fire({ icon: 'success', toast: true, timer: 5000, position: 'top-end', showConfirmButton: false, titleText: 'Änderung erfolgt' })
    },
    replaceItemInAllItems (item) {
      const index = this.allItems.findIndex((i) => i['@id'] === item['@id'])
      this.allItems[index] = item
      this.$forceUpdate()
    }
  }
}
</script>

<style scoped>
  .alert {
    margin-bottom: 0.5rem;
  }
  table .flip-list-move {
    transition: transform 0.6s;
  }
  .col > button {
    margin-left: 0.5rem;
  }
  .collapsed > .when-opened, :not(.collapsed) > .when-closed {
    display: none;
  }
  .alert .row button, .alert .row h2, .alert input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  #basketButton {
    min-width: 4.5rem;
  }
</style>

<style>
td {
  word-wrap: break-word;
  max-width: 17rem;
}
</style>
