<template>
  <div>
    <h3>Logs</h3>
    <hr>

    <div class="filter-row row" style="padding-left: 15px">
      <div class="column">
        <b-input-group>
          <b-input-group-prepend is-text>
            <font-awesome-icon icon="clock" />
          </b-input-group-prepend>
          <b-form-select v-model="filter_dayRange" :options="options_dayRange" size="sm" style="width: 250px"></b-form-select>
        </b-input-group>
      </div>
      <div class="column mx-2">
        <b-input-group>
          <b-input-group-prepend is-text>
            <font-awesome-icon icon="user" />
          </b-input-group-prepend>
          <b-form-input v-model="filter_user" size="sm" style="width: 250px" placeholder="Nach Nutzername" :state="userInputState"></b-form-input>
          <b-form-invalid-feedback id="input-live-feedback">
            Mindestens {{minUserInputLength + 1}} Buchstaben
          </b-form-invalid-feedback>
        </b-input-group>
      </div>
      <div class="column mx-2">
        <b-input-group>
          <b-input-group-prepend is-text>
            <font-awesome-icon icon="layer-group" />
          </b-input-group-prepend>
          <b-form-select v-model="filter_ebene" :options="options_ebene" size="sm" style="width: 250px"></b-form-select>
        </b-input-group>
      </div>
    </div>

    <b-table small :items="loadedLogs" :fields="fields" style="font-size: 0.85rem;" show-empty empty-text="Keine Logs mit diesen Kriterien gefunden" :busy="loading">
      <template #table-busy>
        <div class="text-center text-info my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Lädt...</strong>
        </div>
      </template>
      <template #cell(contentType)="data">
        <div style="display: flex; align-items: center">
          <font-awesome-icon v-if="data.item.operation === 'created'" icon="plus-square" style="color: #28A745;"/>
          <font-awesome-icon v-else-if="data.item.operation === 'updated'" icon="edit"/>
          <font-awesome-icon v-else-if="data.item.operation === 'deleted'" icon="trash-alt" style="color: #DC3545;"/>
          &nbsp;
          <div style="margin-right: 5px">{{ data.item.contentType.substring(0,1).toUpperCase() + data.item.contentType.substring(1) }}</div>
          <span v-if="data.item.operation === 'created'">erstellt</span>
          <span v-else-if="data.item.operation === 'updated'">bearbeitet</span>
          <span v-else>gelöscht</span>
        </div>
      </template>

      <template #cell(userInfo)="data">
        {{ data.item.userInfo.username }}
      </template>

      <template #cell(timestamp)="data">
        <span style="color:grey">{{ formatTimestamp(data.item.timestamp) }}</span>
      </template>

      <template #cell(aktionen)="data">
        <itemLogAction v-if="data.item.contentType === 'item'" :item="data.item" />
      </template>

    </b-table>

  <div v-if="loadedLogs.length >= 20 && !paginationNoMore" class="d-flex justify-content-center">
    <b-button @click="paginationLoad()" size="sm" class="px-3" variant="primary">Mehr laden</b-button>
  </div>
  <div v-else-if="paginationNoMore" class="d-flex justify-content-center">
    Keine weiteren Ergebnisse gefunden
  </div>

  </div>
</template>
<script>
import { getLogs } from '@/api/logging'
import dayjs from 'dayjs'
import itemLogAction from '@/components/logs/itemLogAction'

export default {
  components: { itemLogAction },
  title () { return 'Ereignislogs - EAs.LiT' },
  data () {
    return {
      loading: true,
      minUserInputLength: 3,
      fields: [
        { key: 'contentType', label: 'Aktion' },
        { key: 'userInfo', label: 'Benutzer' },
        { key: 'timestamp', label: 'Zeitpunkt' },
        { key: 'aktionen', label: 'Aktionen' }
      ],
      loadedLogs: [],
      paginationNoMore: false,
      filter_dayRange: 30,
      options_dayRange: [
        { text: 'Letzten 30 Tage', value: 30 },
        { text: 'Letzten 3 Monate', value: 90 },
        { text: 'Letzten 6 Monate', value: 180 },
        { text: 'Letzten 12 Monate', value: 365 }
      ],
      filter_user: '',
      filter_ebene: null,
      page: 1,
      options_ebene: [
        { text: 'Alle Logebenen', value: null },
        { text: 'Item-Logs', value: 'item' }
      ]
    }
  },
  async mounted () {
    this.loadLogs()
  },
  watch: {
    filter_user (newVal) {
      if (newVal.length > this.minUserInputLength || newVal.length === 0)
        this.loadLogs()
      else
        this.loadedLogs = []
    },
    filter_ebene () {
      this.loadLogs()
    },
    filter_dayRange () {
      this.loadLogs()
    }
  },
  computed: {
    userInputState () {
      if (this.filter_user.length === 0)
        return null
      else
        return !(this.filter_user.length <= this.minUserInputLength)
    }
  },
  methods: {
    async paginationLoad () {
      this.loading = true
      this.page++
      const logs = await getLogs(1, null, this.filter_dayRange, 'item', this.filter_user, this.page)
      this.loadedLogs.push(...logs)
      if (logs.length === 0) this.paginationNoMore = true
      this.loading = false
    },
    async loadLogs () {
      this.loading = true
      const logs = await getLogs(this.$store.getters['project/getCurrentProjectId'], null, this.filter_dayRange, 'item', this.filter_user)
      this.loadedLogs = logs
      this.page = 1
      this.paginationNoMore = false
      this.loading = false
    },
    formatTimestamp (timestamp) {
      return dayjs(timestamp).format('DD.MM.YYYY HH:mm')
    }
  }
}
</script>
<style>
  .filter-row {
    margin-bottom: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
</style>
