<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col style="padding-left: 0;">
          <b-form-select v-model="selection.selectedKnowledgeMap" :options="knowledgeMapOptions">
            <template v-slot:first>
              <option :value="undefined" disabled>Bitte wählen sie eine Fachlandkarte aus</option>
            </template>
          </b-form-select>
        </b-col>
        <b-col cols="2" style="padding-top: 0.4rem;">
          <b-form-checkbox v-model="selection.reduced">Reduziert</b-form-checkbox>
        </b-col>
        <div class="verticalLine" v-if="!dynamicLinking"/>
        <b-col v-if="!dynamicLinking">
          <b-form>
            <b-form-file v-model="file" accept=".ttl" placeholder="Eine Datei auswählen..." drop-placeholder="Datei hier hin ziehen..." required></b-form-file>
          </b-form>
        </b-col>
      </b-row>
      <hr>
    </b-container>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.0/css/all.css">
    <ontodia v-if="!showSpinner && dataToShow" :dataToShow="dataToShow" :dynamicLinking="dynamicLinking" :selectedKnowledgeMap="selection.selectedKnowledgeMap" @reload="reload"/>
    <b-alert v-else show variant="warning">Aktuell sind keine Daten ausgewählt, die angezeigt werden könnten</b-alert>
    <div v-if="showSpinner" class="text-center">
      <b-spinner variant="info" style="width: 8rem; height: 8rem; position:absolute; top: 28%; z-index:10"></b-spinner>
    </div>
  </div>
</template>

<script>
import ontodia from '@/components/ontodia.vue'
import itemAPI from '@/api/item'
import loAPI from '@/api/learningOutcome'
import kmAPI from '@/api/knowledgeMap'
import jsonld from 'jsonld'
import isEmpty from 'lodash/isEmpty'

export default {
  name: 'OOntodia',
  components: { ontodia },
  props: { dynamicLinking: { type: Boolean, default: () => { return false } } },
  data: () => {
    return {
      dataToShow: '',
      showSpinner: false,
      file: null,
      selection: {
        selectedKnowledgeMap: undefined,
        reduced: true
      },
      knowledgeMapOptions: []
    }
  },
  async created () {
    const kmaps = await kmAPI.getAvailableMaps()
    this.knowledgeMapOptions = kmaps.map((kmap) => { return { value: kmap['@id'], text: kmap.label } })
  },
  watch: {
    file: async function (newVal) {
      if (newVal !== null) {
        this.dataToShow = ''
        this.selection.selectedKnowledgeMap = undefined
        this.selection.reduced = true
        const fileContent = await new Promise((resolve) => {
          const reader = new FileReader()
          reader.onload = async function (e) {
            resolve(e.target.result)
          }
          reader.readAsBinaryString(this.file)
        })
        this.dataToShow = String(fileContent)
        this.showSpinner = false
      }
    },
    selection: {
      handler: async function (newVal) {
        if (newVal.selectedKnowledgeMap !== undefined) {
          this.fillData(newVal.selectedKnowledgeMap, newVal.reduced)
        }
      },
      deep: true
    }
  },
  methods: {
    reload () {
      this.fillData(this.selection.selectedKnowledgeMap, this.selection.reduced)
    },
    async fillData (selectedKnowledgeMap, reduced) {
      this.showSpinner = true
      this.file = null
      try {
        const promises = [
          itemAPI.readAllForLinking(this.$store.state.project.chosenProject), // TODO if set is too large it slows down the rendering process heavily
          loAPI.readAll(this.$store.state.project.chosenProject, 'text/turtle'),
          kmAPI.getWholeMap(selectedKnowledgeMap, reduced),
          this.transformLinks(await kmAPI.getLinksForProject(this.$store.state.project.chosenProject))
        ]
        const [items, los, knowledgeMap, links] = await Promise.all(promises)
        this.$store.commit('item/fillItems', items)
        const itemTriples = await jsonld.toRDF(this.$store.state.item.items, { format: 'application/n-quads' })
        this.dataToShow = los.concat(knowledgeMap).concat(itemTriples).concat(links)
      } catch (e) {
        console.log(e)
        this.$swal.fire({ icon: 'error', titleText: 'Fehler beim abrufen der Daten', text: 'Der ausgewählte Datensatz kann leider nicht angezeigt werden. Bitte wählen sie einen anderen Datensatz aus und berichten sie den Fehler an den Entwickler der Anwendung.', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
      } finally {
        this.showSpinner = false
      }
    },
    async transformLinks (links) {
      if (isEmpty(links))
        return ''
      links['@graph'] = links['@graph'].filter((link) => link.knowledgeMap === this.selection.selectedKnowledgeMap)
      links['@graph'] = links['@graph'].map((link) => {
        return {
          '@id': link.element,
          topics: link.topics
        }
      })
      return jsonld.toRDF(links, { format: 'application/n-quads' })
    }
  }
}

</script>

<style scoped>
</style>
