<template>
  <smallDataList title='Projekte' variant='projects'/>
</template>

<script>

import smallDataList from '@/views/smallDataList.vue'

export default {
  name: 'projectOverview',
  title: 'Projekte - EAs.LiT',
  components: {
    smallDataList
  }
}
</script>

<style scoped>
</style>
