<template>
  <div>
    <b-alert show variant="dark"><h3 style="margin-bottom: 0; margin-top: 0.2rem;">Ressourcen</h3></b-alert>
    <b-card-group deck>
      <b-card class="selectable" @click="$router.push({ path: `/projects/${$route.params.projectID}/learningoutcomes` })">
        <div slot="header">
          <h4 class="float-left">Intended Learning Outcomes</h4>
          <h4 class="float-right"><font-awesome-icon icon="graduation-cap"/></h4>
        </div>
        <b-card-text>
          Erstellen Sie Intended Learning Outcomes für Ihr Projekt. Diese können Sie später bei bspw. der Item-Erzeugung und -Bearbeitung nutzen.
        </b-card-text>
        <b-badge v-b-tooltip.hover title="Anzahl Intended Learning Outcomes"><font-awesome-icon icon="hashtag"/> {{learningOutcomesInfos.count}}</b-badge>
      </b-card>

      <b-card :class="(amountOfItems > 0) ? 'selectable' : 'customDisabled'" @click="(amountOfItems > 0) ? $router.push({ path: `/projects/${$route.params.projectID}/items` }) : () => {}">
        <div slot="header">
          <h4 class="float-left">Items</h4>
          <h4 class="float-right"><font-awesome-icon icon="file-alt"/></h4>
        </div>
        <b-card-text>
          Erstellen Sie Items verschiedener Typen, damit Sie diese später zu Klausuren zusammenstellen können.
        </b-card-text>
        <b-badge v-b-tooltip.hover title="Anzahl Items"><font-awesome-icon icon="hashtag"/> {{amountOfItems}}</b-badge>
        <b-badge variant="warning" v-b-tooltip.hover title="Anzahl markierter Items"><font-awesome-icon icon="exclamation-triangle"/> {{itemsInfos.map((a) => a.flagged).reduce((a, b) => a + b, 0)}}</b-badge>
        <b-badge variant="success" v-b-tooltip.hover title="Anzahl zugelassener Items"><font-awesome-icon icon="check"/> {{amountOfPublishedItems}}</b-badge>
        <hr style="margin: 0.3rem 0 0.3rem 0;">
        <b-badge v-b-tooltip.hover title="Anzahl Single Choice Items" class="badge-SC"><font-awesome-icon icon="circle"/> {{(itemsInfos.find((a) => a.itemType === "http://tech4comp/eal/SingleChoiceItem") || {}).quantity || 0}}</b-badge>
        <b-badge v-b-tooltip.hover title="Anzahl Multiple Choice Items" class="badge-MC"><font-awesome-icon icon="list"/> {{(itemsInfos.find((a) => a.itemType === "http://tech4comp/eal/MultipleChoiceItem") || {}).quantity || 0}}</b-badge>
        <b-badge v-b-tooltip.hover title="Anzahl Free Text Items" class="badge-FT"><font-awesome-icon icon="align-justify"/> {{(itemsInfos.find((a) => a.itemType === "http://tech4comp/eal/FreeTextItem") || {}).quantity || 0}}</b-badge>
        <b-badge v-b-tooltip.hover title="Anzahl Arrangement Items" class="badge-AR"><font-awesome-icon icon="layer-group"/> {{(itemsInfos.find((a) => a.itemType === "http://tech4comp/eal/ArrangementItem") || {}).quantity || 0}}</b-badge>
        <b-badge v-b-tooltip.hover title="Anzahl Assignment Items" class="badge-AS"><font-awesome-icon icon="long-arrow-alt-left"/> {{(itemsInfos.find((a) => a.itemType === "http://tech4comp/eal/AssignmentItem") || {}).quantity || 0}}</b-badge>
        <b-badge v-b-tooltip.hover title="Anzahl Remote Items" class="badge-RE"><font-awesome-icon icon="link"/> {{(itemsInfos.find((a) => a.itemType === "http://tech4comp/eal/RemoteItem") || {}).quantity || 0}}</b-badge>
        <div slot="footer">
          <b-button variant="primary" @click="$event.stopPropagation(); $router.push({ path: `/projects/${$route.params.projectID}/newItem`});" class="float-right">Item erstellen</b-button>
          <b-button variant="info" @click="$event.stopPropagation(); $router.push({ path: `/projects/${$route.params.projectID}/ontodia`});" :disabled="amountOfItems <= 0">Item-Verteilung analysieren</b-button>
        </div>
      </b-card>

      <b-card id="knowledgeMaps" class="selectable" @click="openInNewTab(dskgWebApp.uri)">
        <div slot="header">
          <h4 class="float-left">Fachlandkarten</h4>
          <h4 class="float-right"><font-awesome-icon icon="map-marked-alt"/></h4>
        </div>
        <b-card-text>
          Erzeugen und verwalten Sie Fachlandkarten. Diese können Sie später bei bspw. der Item-Analyse, -verknüpfung und Prüfungserzeugung nutzen. Diese Karte führt zu einer externen Anwendung, die noch weit mehr Möglichkeiten eröffnet.
        </b-card-text>
        <b-badge v-b-tooltip.hover title="Anzahl Fachlandkarten"><font-awesome-icon icon="hashtag"/> {{amountOfAvailableKnowledgeMaps}}</b-badge>
      </b-card>

      </b-card-group>

      <b-alert show variant="dark"><h3 style="margin-bottom: 0; margin-top: 0.2rem;">Aktionen</h3></b-alert>

      <b-card-group deck>

      <b-card>
        <div slot="header">
          <h4 class="float-left">Import- und Export von Items</h4>
          <h4 class="float-right">
            <font-awesome-layers style="font-size: 1.4rem;">
              <font-awesome-icon icon="file-alt" transform="right-4 grow-2"/>
              <font-awesome-icon icon="sort-up" rotation="90" transform="up-5 left-11"/>
              <font-awesome-icon icon="sort-up" rotation="270" transform="down-5 left-4"/>
            </font-awesome-layers>
          </h4>
        </div>
        <b-card-text>
          Importieren und Exportieren Sie Items in verschiedenen Datentypen, bspw. um diese zu sichern oder in ein LMS Ihrer Wahl zu importieren.
        </b-card-text>
        <div slot="footer">
          <b-button variant="primary" :disabled="(amountOfItems === 0)" :to="`/projects/${this.$route.params.projectID}/items`" class="float-right">Items exportieren</b-button>
          <b-button variant="primary" :to="`/projects/${this.$route.params.projectID}/uploadItems`" class="float-left" style="margin-right: 1rem;">Items importieren</b-button>
        </div>
      </b-card>

      <b-card :class="(amountOfUnpublishedItems > 0) ? 'selectable' : 'customDisabled'" @click="(amountOfUnpublishedItems > 0) ? $router.push({ path: `/projects/${$route.params.projectID}/review` }) : () => {}">
        <div slot="header">
          <h4 class="float-left">Items begutachten & überarbeiten</h4>
          <h4 class="float-right">
            <font-awesome-layers>
              <font-awesome-icon icon="file" transform="grow-1"/>
              <font-awesome-icon icon="search" transform="shrink-6 down-1" style="color: rgba(255, 255, 255, 0.875);"/>
            </font-awesome-layers>
          </h4>
        </div>
        <b-card-text>
          Begutachten bzw. überprüfen Sie Items, erstellen Sie Hinweise und Kommentare zur späteren Überarbeitung bzw. lassen Sie Items zur Prüfung zu.
        </b-card-text>
        <b-badge variant="danger" v-b-tooltip.hover title="Anzahl zu begutachtender Items"><font-awesome-icon icon="question"/> {{itemsInfos.map((a) => a.quantity).reduce((a, b) => a + b, 0) - itemsInfos.map((a) => a.published).reduce((a, b) => a + b, 0)}}</b-badge>
        <b-badge variant="warning" v-b-tooltip.hover title="Anzahl markierter Items"><font-awesome-icon icon="exclamation-triangle"/> {{itemsInfos.map((a) => a.flagged).reduce((a, b) => a + b, 0)}}</b-badge>
      </b-card>

      <b-card :class="(amountOfItems > 0) ? 'selectable' : 'customDisabled'" @click="(amountOfItems > 0) ? $router.push({ path: `/projects/${$route.params.projectID}/linking` }) : () => {}">
        <div slot="header">
          <h4 class="float-left">Items verlinken</h4>
          <h4 class="float-right"><font-awesome-icon icon="link"/></h4>
        </div>
        <b-card-text>
          Verbinden Sie Items mit Fachlandkarten, um erweiterte Analysen möglich zu machen. Dazu zählt themenkomplexgebundenes Feeback für Studenten, Literaturempfehlungen zu Items, Item-Verteilung in der Domäne und weitere Analysen.
        </b-card-text>
      </b-card>

      <b-card :class="($store.state.item.itemBasket.length > 0) ? 'selectable' : 'customDisabled'" @click="($store.state.item.itemBasket.length > 0) ? $router.push({ path: `/projects/${$route.params.projectID}/exam` }) : () => {}">
        <div slot="header">
          <h4 class="float-left">Prüfungserzeugung</h4>
          <h4 class="float-right">
            <font-awesome-layers>
              <font-awesome-icon icon="file" transform="grow-1"/>
              <font-awesome-icon icon="list-ul" transform="shrink-8 down-2" style="color: rgba(255, 255, 255, 0.875);"/>
              <font-awesome-icon icon="graduation-cap" transform="shrink-5 up-8 right-4 rotate-45"/>
            </font-awesome-layers>
          </h4>
        </div>
        <b-card-text>
          Nachdem der Item-Korb mit Items gefüllt wurde, können Sie aus diesen Items Prüfungen kriterien und kompetenzbasiert erzeugen. Es ist ebenso möglich mehrere Prüfungen gleichen Schwierigkeitsgrades bzw. gleicher Wissens und Prozessdimensionen zu erzeugen.
        </b-card-text>
      </b-card>

    </b-card-group>

    <b-alert show variant="dark"><h3 style="margin-bottom: 0; margin-top: 0.2rem;">Analyse</h3></b-alert>

    <b-card-group deck>

      <b-card :class="($store.state.item.itemBasket.length > 0) ? 'selectable' : 'customDisabled'" @click="($store.state.item.itemBasket.length > 0) ? $router.push({ path: `/projects/${$route.params.projectID}/itemBasket` }) : () => {}">
        <div slot="header">
          <h4 class="float-left">Item-Korb analysieren</h4>
          <b-badge v-b-tooltip.hover title="Anzahl Items im Korb" class="float-right"><font-awesome-icon icon="shopping-basket"/> {{$store.state.item.itemBasket.length}}</b-badge>
        </div>
        <b-card-text>
          Im Item-Korb sammeln Sie Items, aus denen Sie Prüfungen generieren können. Der Korb wird im Browser gespeichert (Gerätespezifisch, nicht Nutzerbasiert).
        </b-card-text>
        <basketBarChart :height="100" :options="chartOptions"/>
        <div slot="footer">
          <b-button variant="primary" class="float-right" @click="$event.stopPropagation(); $router.push({ path: `/projects/${$route.params.projectID}/items` })" :disabled="amountOfItems === 0">Korb befüllen</b-button>
          <b-button variant="danger" class="float-left" @click="$event.stopPropagation(); clearItemBasket($route.params.projectID)" :disabled="$store.state.item.itemBasket.length === 0">Korb leeren</b-button>
        </div>
      </b-card>

      <b-card :class="($store.state.user === null) ? 'customDisabled' : 'selectable'" @click="($store.state.user === null) ? '' : $router.push({ path: `/projects/${$route.params.projectID}/logs` })">
        <div slot="header">
          <h4 class="float-left">Ereignisverlauf des Projektes</h4>
          <h4 class="float-right"><font-awesome-icon icon="history"/></h4>
        </div>
        <b-card-text>
          Im Ereignisverlauf können Sie sich alle Ereignisse seit Erstellung des Projektes ansehen und diese nach verschiedenen Aspekten filtern. So können bspw. Aktionen einzelner Nutzer:innen nachvollzogen werden.
        </b-card-text>
      </b-card>

    </b-card-group>
  </div>
</template>

<script>
import learningOutcomeAPI from '../api/learningOutcome.js'
import kmAPI from '../api/knowledgeMap.js'
import basketBarChart from '@/components/basketBarChart'
import { dskgWebApp } from '@/config.js'

export default {
  name: 'project',
  components: { basketBarChart },
  title () { return this.getCurrentProject ? this.getCurrentProject.title + ' - EAs.LiT' : 'EAs.LiT' },
  data: () => {
    return {
      dskgWebApp,
      learningOutcomesInfos: {},
      knowledgeMapInfos: [],
      chartOptions: { scales: { yAxes: [{ ticks: { beginAtZero: true } }] }, legend: { display: false } } // /*stepSize: 1*/
    }
  },
  async created () {
    this.learningOutcomesInfos = await learningOutcomeAPI.getLOInfos(this.$store.state.project.chosenProject)
    await this.$store.dispatch('item/loadItemInfos', this.$store.state.project.chosenProject)
    this.knowledgeMapInfos = await kmAPI.getAvailableMaps()
  },
  computed: {
    itemsInfos () {
      return this.$store.state.item.itemInfos
    },
    getCurrentProject () {
      return this.$store.getters['project/getCurrentProject']
    },
    amountOfItems () {
      return this.itemsInfos.map((a) => a.quantity).reduce((a, b) => a + b, 0)
    },
    amountOfPublishedItems () {
      return this.itemsInfos.map((a) => a.published).reduce((a, b) => a + b, 0)
    },
    amountOfUnpublishedItems () {
      return this.amountOfItems - this.amountOfPublishedItems
    },
    amountOfAvailableKnowledgeMaps () {
      return this.knowledgeMapInfos.length
    }
  },
  methods: {
    openInNewTab (url) {
      window.open(url, '_blank')
    },
    async clearItemBasket (projectID) {
      if (this.$store.state.item.itemBasket.length > 0) {
        const clearBasket = await this.$swal.fire({ icon: 'warning', titleText: 'Soll der Item-Korb wirklich gelöscht werden?', showCancelButton: true, cancelButtonText: 'Abbrechen', confirmButtonText: 'Löschen', reverseButtons: true })
        if (clearBasket.value === true) {
          this.$store.commit('item/clearItemBasket', projectID)
          this.$swal.fire({ icon: 'success', toast: true, timer: 5000, position: 'top-end', showConfirmButton: false, titleText: 'Item-Korb geleert' })
        }
      } else
        this.$swal.fire({ icon: 'warning', toast: true, timer: 5000, position: 'top-end', showConfirmButton: false, titleText: 'Item-Korb ist bereits leer' })
    }
  }
}
</script>

<style scoped>
  .card-header > div > h4 {
    margin-top: 0.4rem  ;
    margin-bottom: 0;
  }
  .card {
    margin-bottom: 1rem;
    min-width: 22rem;
  }
  .card.selectable:hover {
    filter: brightness(98%);
    cursor: pointer !important;
  }
  .card-text {
    text-align: left;
  }
  .card-footer > div > .btn {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .badge {
    font-size: 1rem;
    margin: 0.5rem;
  }
  .badge.float-right {
    font-size: 1.2rem;
    margin: 0.3rem 0 0 0;
  }
  .customDisabled > .card-header, .customDisabled > .card-body {
    opacity: 0.5;
  }
</style>
