<template>
  <div>
    <itemFilter v-model="filterObject" :showStati="false"/>
    <transition-group name="fade">
      <b-pagination v-show="showPagination" :total-rows="itemList.length" :per-page="perPage" v-model="currentPage" align="right" key="pagination"/>
      <b-table ref="itemTable" key="itemTable" striped outlined responsive :items="itemList" :fields="tableColumns" sort-by="@id" no-sort-reset selectable select-mode="single" @row-selected="itemSelected" :busy="showSpinner" show-empty empty-text="Keine Items gefunden"  :per-page="perPage" :current-page="currentPage">
        <template v-slot:cell(@id)="data">
          <itemListStatus :status="(data.item.annotations || {}).status" :innerElement="last(data.value.split('/'))" :flagged="(data.item.annotations || {}).flagged"/>
        </template>
        <template v-slot:cell(description)="data">
          {{ data.value.length > textLimit ? stripHtml(data.value).result.slice(0, textLimit) + '...' : stripHtml(data.value).result }}
        </template>
        <template v-slot:cell(task)="data">
          {{ data.value.length > textLimit ? stripHtml(data.value).result.slice(0, textLimit) + '...' : stripHtml(data.value).result }}
        </template>
        <template v-slot:cell(@type)="data">
          {{replaceItemTypeWithHumanReadableText(data.value)}}
        </template>
        <template v-slot:cell(creationTime)="data">
          {{data.value ? new Date(data.value).toLocaleDateString('de-DE') : ''}}<br/>
          {{data.value ? new Date(data.value).toLocaleTimeString('de-DE') : ''}}
        </template>
        <template v-slot:table-busy>
          <div class="text-center text-danger">
            <b-spinner class="align-middle"></b-spinner>
            &nbsp;
            <strong> Lade...</strong>
          </div>
        </template>
      </b-table>
    </transition-group>
    <reviewModal ref="reviewModal" :item="selectedItem" v-model="showReviewModal" @published="itemStatusChanged" @marked="itemStatusChanged" @deferred="itemStatusChanged" @deleted="itemDeleted" @failed="itemStatusChangeFailed" @hidden="clearSelection()"/>
  </div>
</template>

<script>
import isEmpty from 'lodash/isEmpty'
import last from 'lodash/last'
import head from 'lodash/head'
import itemAPI from '../api/item.js'
import itemFilter from '@/components/itemFilter'
import reviewModal from '@/components/reviewModal'
import { replaceItemTypeWithHumanReadableText } from '@/common'
import itemListStatus from '@/components/itemListStatus'
import { stripHtml } from 'string-strip-html'

export default {
  name: 'reviewDetail',
  components: { itemFilter, reviewModal, itemListStatus },
  data: () => {
    return {
      allItems: [],
      preFilteredItemList: [],
      itemList: [],
      perPage: 30,
      currentPage: 1,
      selectedItem: undefined,
      showSpinner: true,
      tableColumns: [
        { key: '@id', sortable: true, label: 'Item Nr.', class: 'b-table-row-selected' },
        { key: '@type', sortable: true, label: 'Item Typ' },
        { key: 'title', sortable: true, label: 'Titel' },
        { key: 'description', label: 'Vignette' },
        { key: 'task', label: 'Aufgabe' },
        { key: 'creationTime', label: 'Erstellzeitpunkt' }
        // { key: 'edit', label: 'Aktionen' }
      ],
      textLimit: 100,
      showReviewModal: false,
      filterObject: {}
    }
  },
  async created () {
    this.last = last
    this.replaceItemTypeWithHumanReadableText = replaceItemTypeWithHumanReadableText
    await this.fillItems()
    this.showSpinner = false
  },
  computed: {
    selectionMade () {
      return !isEmpty(this.selectedItem)
    },
    showPagination () {
      return this.itemList.length > this.perPage
    },
    inputLongEnough () {
      return this.markItemText.length >= 5
    }
  },
  watch: {
    filterObject: {
      async handler (newVal, oldVal) {
        this.showSpinner = true
        const itemList = JSON.parse(JSON.stringify(this.allItems)) // TODO really needed?
        const filteredItemList = itemList.map((item) => {
          let flagged = true
          let status = true
          let itemType = true
          let created = true
          let modified = true
          let topic = true
          if (newVal.flagged)
            flagged = (item.annotations || {}).flagged === newVal.flagged
          if (!isEmpty(newVal.status))
            status = newVal.status.includes((item.annotations || {}).status)
          if (!isEmpty(newVal.itemType))
            itemType = newVal.itemType.includes(item['@type'])
          if (!isEmpty(newVal.created)) {
            if (newVal.createdBefore === false)
              created = item.creationTime > newVal.created
            else
              created = item.creationTime < newVal.created
          }
          if (!isEmpty(newVal.lastModified)) {
            if (newVal.lastModifiedBefore === false)
              modified = item.modificationTime > newVal.lastModified
            else
              modified = item.modificationTime < newVal.lastModified
          }
          if (!isEmpty(newVal.topics)) {
            const topics = newVal.topics.map(topic => topic['@id'])
            topic = ((item.annotations || {}).topics || []).reduce((acc, curr) => topics.includes(curr) ? true : acc, false)
          }
          return (flagged && status && itemType && created && modified && topic) ? item : undefined
        }).filter((item) => item !== undefined)

        this.preFilteredItemList = filteredItemList
        this.itemList = this.preFilteredItemList
        this.showSpinner = false
      },
      deep: true
    }
  },
  methods: {
    isEmpty,
    stripHtml,
    async fillItems () {
      this.allItems = await itemAPI.readAll(this.$store.state.project.chosenProject, true)
      this.refillItemList()
    },
    refillItemList () {
      const status = this.$route.query.status
      const items = this.allItems.filter((item) => (item.annotations || {}).status === status)
      this.allItems = items
      this.preFilteredItemList = items
      this.itemList = JSON.parse(JSON.stringify(items))
    },
    itemSelected (items) {
      this.selectedItem = JSON.parse(JSON.stringify(head(items) || {})) || undefined
      if (!isEmpty(this.selectedItem))
        this.showReviewModal = true
    },
    clearSelection () {
      this.$refs.itemTable.clearSelected()
    },
    itemStatusChanged (item) {
      this.replaceItemInAllItems(item)
      this.clearSelection()
      this.refillItemList()
      this.$swal.fire({ icon: 'success', toast: true, timer: 5000, position: 'top-end', showConfirmButton: false, titleText: 'Itemstatus geändert' })
    },
    itemStatusChangeFailed (reason) {
      this.$swal.fire({ icon: 'error', titleText: 'Der Status des Item konnte nicht verändert werden.', text: 'Notieren sie sich bitte die Item-Nummer, was sie tun wollten und berichten sie dies dem Programmentwickler.', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
      this.clearSelection()
    },
    itemDeleted (item) {
      const index = this.allItems.findIndex((temp) => temp['@id'] === item['@id'])
      this.allItems.splice(index, 1)
      this.clearSelection()
      this.refillItemList()
      this.$swal.fire({ icon: 'success', toast: true, timer: 5000, position: 'top-end', showConfirmButton: false, titleText: 'Itemstatus geändert' })
    },
    replaceItemInAllItems (item) {
      const index = this.allItems.findIndex((i) => i['@id'] === item['@id'])
      this.allItems[index] = item
      this.$forceUpdate()
    }
  }
}
</script>

<style scoped>
  table .flip-list-move {
    transition: transform 0.6s;
  }
  .collapsed > .when-opened, :not(.collapsed) > .when-closed {
    display: none;
  }
  .alert .row button, .alert .row h2, .alert input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .modal button, .modal a {
    margin: 0.5rem 0.5rem 0.5rem 0.5rem !important;
  }
</style>

<style>
td {
  word-wrap: break-word;
  max-width: 22rem;
}
</style>
