<template>
  <b-card-group deck>
    <b-card class="selectable" header-bg-variant="secondary" header-text-variant="white" @click="$router.push({ path: `/projects/${$route.params.projectID}/review/show?status=draft` })">
      <div slot="header">
        <h4 class="float-left">Entworfene Items</h4>
        <h4 class="float-right">
          <font-awesome-layers style="font-size: 1.4rem;">
            <font-awesome-icon icon="file"/>
            <font-awesome-icon icon="plus" transform="shrink-6 down-2"/>
          </font-awesome-layers>
        </h4>
      </div>
      <b-card-text>
        Begutachten und bewerten Sie neu erstellte Items.
      </b-card-text>
      <b-badge v-b-tooltip.hover title="Anzahl neuer Items"><font-awesome-icon icon="hashtag"/> {{(itemsInfos.newItems || {}).count || 0}}</b-badge>
      <b-badge variant="warning" v-b-tooltip.hover title="Anteil markierter Items"><font-awesome-icon icon="exclamation-triangle"/> {{(itemsInfos.newItemsFlagged || {}).count || 0}}</b-badge>
    </b-card>

    <b-card class="selectable" header-bg-variant="info" header-text-variant="white" @click="$router.push({ path: `/projects/${$route.params.projectID}/review/show?status=toRevise` })">
      <div slot="header">
        <h4 class="float-left">Zu überarbeitende Items</h4>
        <h4 class="float-right">
          <font-awesome-layers style="font-size: 1.4rem;">
            <font-awesome-icon icon="file"/>
            <font-awesome-icon icon="pencil-alt" transform="shrink-8 down-2"/>
          </font-awesome-layers>
        </h4>
      </div>
      <b-card-text>
        Begutachten und bearbeiten Sie Items, die überarbeitet werden sollen.
      </b-card-text>
      <b-badge v-b-tooltip.hover title="Anzahl zu überarbeitender Items"><font-awesome-icon icon="hashtag"/> {{(itemsInfos.itemsToRevise || {}).count || 0}}</b-badge>
      <b-badge variant="warning" v-b-tooltip.hover title="Anteil markierter Items"><font-awesome-icon icon="exclamation-triangle"/> {{(itemsInfos.itemsToReviseFlagged || {}).count || 0}}</b-badge>
    </b-card>

    <b-card class="selectable" header-bg-variant="primary" header-text-variant="white" @click="$router.push({ path: `/projects/${$route.params.projectID}/review/show?status=revisioned` })">
      <div slot="header">
        <h4 class="float-left">Überarbeitete Items</h4>
        <h4 class="float-right">
          <font-awesome-layers style="font-size: 1.4rem;">
            <font-awesome-icon icon="file"/>
            <font-awesome-icon icon="hand-paper" transform="shrink-8 down-2"/>
          </font-awesome-layers>
        </h4>
      </div>
      <b-card-text>
        Begutachten und bewerten Sie Items, die überarbeitet wurden.
      </b-card-text>
      <b-badge v-b-tooltip.hover title="Anzahl überarbeiteter Items"><font-awesome-icon icon="hashtag"/> {{(itemsInfos.revisionedItems || {}).count || 0}}</b-badge>
      <b-badge variant="warning" v-b-tooltip.hover title="Anteil markierter Items"><font-awesome-icon icon="exclamation-triangle"/> {{(itemsInfos.revisionedItemsFlagged || {}).count || 0}}</b-badge>
    </b-card>

    <b-card class="selectable" header-bg-variant="dark" header-text-variant="white" @click="$router.push({ path: `/projects/${$route.params.projectID}/review/show?status=deferred` })">
      <div slot="header">
        <h4 class="float-left">Zurückgestellte Items</h4>
        <h4 class="float-right">
          <font-awesome-layers style="font-size: 1.4rem;">
            <font-awesome-icon icon="file"/>
            <font-awesome-icon icon="pause" transform="shrink-8 down-2"/>
          </font-awesome-layers>
        </h4>
      </div>
      <b-card-text>
        Begutachten, überarbeiten, oder lassen Sie Items wieder zur Prüfung zu, die von der Prüfung ausgenommen wurden.
      </b-card-text>
      <b-badge v-b-tooltip.hover title="Anzahl zurückgestellter Items"><font-awesome-icon icon="hashtag"/> {{(itemsInfos.deferredItems || {}).count || 0}}</b-badge>
      <b-badge variant="warning" v-b-tooltip.hover title="Anteil markierter Items"><font-awesome-icon icon="exclamation-triangle"/> {{(itemsInfos.deferredItemsFlagged || {}).count || 0}}</b-badge>
    </b-card>

    <b-card class="selectable" header-bg-variant="success" header-text-variant="white" @click="$router.push({ path: `/projects/${$route.params.projectID}/review/show?status=published` })">
      <div slot="header">
        <h4 class="float-left">Zugelassene Items</h4>
        <h4 class="float-right">
          <font-awesome-layers style="font-size: 1.4rem;">
            <font-awesome-icon icon="file"/>
            <font-awesome-icon icon="check" transform="shrink-8 down-2"/>
          </font-awesome-layers>
        </h4>
      </div>
      <b-card-text>
        Begutchten Sie Items, die zur Prüfungs zugelassen sind.
      </b-card-text>
      <b-badge v-b-tooltip.hover title="Anzahl zugelassenener Items"><font-awesome-icon icon="hashtag"/> {{(itemsInfos.publishedItems || {}).count || 0}}</b-badge>
    </b-card>

    <!-- <b-card>
      <div slot="header">
        <h4 class="float-left">Items gegenseitig ausschließen</h4>
        <h4 class="float-right">
          <font-awesome-layers style="font-size: 1.4rem;">
            <font-awesome-icon icon="file"/>
            <font-awesome-icon icon="exclamation" transform="shrink-8 down-2" style="color: rgba(255, 255, 255, 0.875);"/>
          </font-awesome-layers>
        </h4>
      </div>
      <b-card-text>
        Schließen sie Items gegenseitig aus, damit diese nicht gemeinsam in Prüfungen auftreten.
      </b-card-text>
      <b-badge v-b-tooltip.hover title="Anzahl ausgeschlossener Items"><font-awesome-icon icon="hashtag"/> 0</b-badge>
      <b-badge variant="warning" v-b-tooltip.hover title="Anteil markierter Items"><font-awesome-icon icon="exclamation-triangle"/> 0</b-badge>
    </b-card> -->
  </b-card-group>
</template>

<script>
import itemAPI from '../api/item.js'

export default {
  name: 'review',
  data: () => {
    return {
      itemsInfos: []
    }
  },
  async created () {
    this.itemsInfos = await itemAPI.getReviewItemsInfos(this.$store.state.project.chosenProject)
  }
}
</script>

<style scoped>
  .card-header > div > h4 {
    margin-top: 0.4rem  ;
    margin-bottom: 0;
  }
  .card {
    margin-bottom: 1rem;
    min-width: 22rem;
  }
  .card.selectable:hover {
    filter: brightness(98%);
    cursor: pointer !important;
  }
  .badge {
    font-size: 1rem;
    margin: 0.5rem;
  }
  div.fa-layers svg:last-child {
    color: rgba(0, 0, 0, 0.7);
  }
</style>
