<template>
  <div>
    <b-alert show variant="secondary">
      <b-container fluid>
        <b-row style="align-items: center ">
           <b-col>
            <h6 v-if="$route.path === '/projects'" style="margin-bottom: 0;">Wählen Sie ein Projekt aus</h6>
          </b-col>
          <b-col>
            <b-button variant="primary" @click="showModal = true" class="float-right">Anlegen...</b-button>
          </b-col>
        </b-row>
      </b-container>
    </b-alert>
    <transition-group name="fade">
      <b-pagination v-show="showPagination" pills :total-rows="dataList.length" :per-page="perPage" v-model="currentPage" align="right" key="pagination"/>
      <b-card-group v-show="paginatedItems.length !== 0" deck key="cardgroupdiv">
        <b-card v-for="(data, index) in paginatedItems" :key="'item' + index" @click="cardClicked(data['@id'])" :class="{projectCard: variant === 'projects'}">
          <!-- <b-badge v-if="variant === 'projects'" class="idBadge" v-b-tooltip.hover title="Projektnummer"><font-awesome-icon icon="project-diagram"/> {{last(data['@id'].split('/'))}}</b-badge> -->
          <b-badge v-if="variant !== 'projects'" class="idBadge" v-b-tooltip.hover title="Intended Learning Outcome-Nummer">#{{last(data['@id'].split('/'))}}</b-badge>
          <b-card-title>{{data.title}}</b-card-title>
          <b-card-sub-title>Erstellt am {{new Date(data.creationTime).toLocaleDateString('de-DE')}}</b-card-sub-title>
          <div style="height: 0.4rem;"/>
          <b-card-text>{{data.description}}</b-card-text>
          <div style="position: absolute; bottom: 4rem;">
            <b-badge class="infoBadge" v-b-tooltip.hover title="Anzahl zugeordnete Items"><font-awesome-icon icon="file-alt"/> {{(dataListAdditionalInfos[index] || {} ).itemQuantity}}</b-badge>
            <b-badge v-if="variant === 'projects'" class="infoBadge" v-b-tooltip.hover title="Anzahl zugeordnete Intended Intended Learning Outcomes"><font-awesome-icon icon="graduation-cap"/> {{(dataListAdditionalInfos[index] || {} ).loQuantity}}</b-badge>
            <!-- <b-badge v-if="variant === 'projects'" class="infoBadge" v-b-tooltip.hover title="Anzahl autorisierter Nutzer"><font-awesome-icon icon="users"/> {{(data.authorizedUsers || []).length}}</b-badge> -->
          </div>
          <br/>
          <div slot="footer">
            <b-button variant="danger" @click="deleteData(data['@id'], $event)" tabindex="-1" class="float-left"><font-awesome-icon icon="trash-alt" /></b-button>
            <b-button variant="primary" @click="editData(data, $event)" class="float-right"><font-awesome-icon icon="edit" /></b-button>
          </div>
        </b-card>
      </b-card-group>
      <div v-show="showSpinner" class="text-center" key="spinner">
        <b-spinner variant="info" style="width: 8rem; height: 8rem; position:absolute; top: 28%; z-index:10"/>
      </div>
      <b-alert v-if="paginatedItems.length === 0" show variant="warning" key="noContent">
        <h3>Keine {{title}} gefunden</h3>
      </b-alert>
    </transition-group>
    <dataEditModal v-model="showModal" :dataToDisplay="toDisplay" :variant="modalVariant" :api="api"/>
    <b-modal ref="bePatientModal" v-model="showbePatientModal" centered title="Projekt wird gelöscht" hide-footer no-close-on-backdrop no-close-on-esc hide-header-close>
      <div class="text-center">
        <p>Der Inhalt des Projektes wird aktuell gelöscht. Bitte schließen Sie diesen Tab bzw. Browser nicht und warten Sie bis der Prozess vollständig abschlossen ist.</p>
        <b-progress variant="info" :value="removalProgress" animated></b-progress>
        <b-spinner variant="info" label="Spinning"/>
      </div>
    </b-modal>
  </div>
</template>

<script>
import last from 'lodash/last'
import isEmpty from 'lodash/isEmpty'
import projectAPI from '../api/project.js'
import itemAPI from '../api/item.js'
import learningOutcomeAPI from '../api/learningOutcome.js'
import dataEditModal from '@/components/dataEditModal.vue'

export default {
  name: 'smallDataList',
  components: {
    dataEditModal
  },
  props: ['title', 'variant'],
  data: () => {
    return {
      showSpinner: true,
      showModal: false,
      toDisplay: {},
      modalVariant: 'learningOutcome',
      api: undefined,
      selfManagedDataList: [],
      dataListAdditionalInfos: [],
      perPage: 30,
      currentPage: 1,
      showbePatientModal: false,
      removalProgress: 0
    }
  },
  async created () {
    switch (this.variant) {
      case 'projects':
        this.modalVariant = 'project'
        this.api = projectAPI
        break
      default:
        this.modalVariant = 'learningOutcome'
        this.api = learningOutcomeAPI
        await this.updateData()
    }
    this.showSpinner = false
  },
  mounted () {
    if (isEmpty(this.dataListAdditionalInfos) && !isEmpty(this.dataList))
      this.updateDataInfos()
  },
  watch: {
    dataList () {
      this.updateDataInfos()
    },
    showModal (newVal, oldVal) {
      if (newVal === false) {
        this.toDisplay = {}
        if (newVal !== oldVal && this.variant === 'learningOutcomes')
          this.updateData()
      }
    }
  },
  computed: {
    dataList () {
      switch (this.variant) {
        case 'projects':
          return this.$store.state.project.projects
        default:
          return this.selfManagedDataList
      }
    },
    paginatedItems () {
      return this.dataList.slice((this.currentPage - 1) * this.perPage, this.currentPage * this.perPage)
    },
    showPagination () {
      return this.dataList.length > this.paginatedItems.length
    }
  },
  methods: {
    editData (data, evt) {
      evt.stopPropagation()
      this.toDisplay = data
      this.showModal = true
    },
    async updateData () {
      this.showSpinner = true
      switch (this.variant) {
        case 'projects':
          await this.$store.dispatch('project/fillProjects')
          break
        default:
          await this.fillLearningOutcomeList()
      }
      this.showSpinner = false
    },
    async updateDataInfos () {
      let promises
      switch (this.variant) {
        case 'projects':
          promises = this.dataList.map(async (data) => projectAPI.getProjectInfos(data['@id']))
          break
        default:
          promises = this.dataList.map(async (data) => learningOutcomeAPI.getLOInfo(data['@id'], this.$store.state.project.chosenProject))
      }
      this.dataListAdditionalInfos = await Promise.all(promises)
    },
    async deleteData (id, evt) {
      evt.stopPropagation()

      const text = (this.variant === 'projects') ? 'Dies beinhaltet alle Daten innerhalb dieses Projektes (Intended Learning Outcomes, Items, Verlinkungen zu Fachlandkarten, ...). Dies kann weder rückgängig gemacht werden, noch existiert ein Papierkorb!' : ''
      // TODO Add possibility to export a whole project as a json file
      const deleteItem = await this.$swal.fire({ icon: 'question', titleText: 'Soll wirklich gelöscht werden?', text, showCancelButton: true, cancelButtonText: 'Abbrechen', confirmButtonText: 'Löschen', confirmButtonColor: 'rgb(220, 53, 69)', reverseButtons: true })
      if (deleteItem.value === true) {
        if (this.variant === 'projects') {
          await this.deleteProjectContent(id)
        }
        if (!(await this.api.delete(id)))
          this.$swal.fire({ icon: 'error', titleText: 'Der Datensatz konnte nicht gelöscht', text: 'Melden sie dies bitte bei ihrem Programmentwickler', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
        else
          this.updateData()
      }
    },
    async deleteProjectContent (id) {
      this.showbePatientModal = true
      this.removalProgress = 0
      const changeProgress = (progress) => { // NOTE cause reduceRight has no access to this
        this.removalProgress = progress
      }
      const itemList = await itemAPI.readAll(id)
      const learningOutcomeList = await learningOutcomeAPI.readAll(id)
      const removalList = [].concat(itemList).concat(learningOutcomeList)
      // TODO add topics and KnowledgeMaps too
      await removalList.reduceRight(async function (acc, el, index, arr) { // NOTE this executes these promises one by one
        acc = await acc
        changeProgress(100 - ((index + 1) * 100) / arr.length)
        let response
        try {
          if (el['@id'].toLowerCase().includes('item')) {
            response = await itemAPI.delete(el['@id'])
          } else if (el['@id'].toLowerCase().includes('learningoutcome')) {
            response = await learningOutcomeAPI.delete(el['@id'])
          }
        } catch (error) {
          response = error
        }
        return [...acc, response]
      }, Promise.resolve([]))
      // TODO delete orphaned blank nodes
      this.showbePatientModal = false
      this.removalProgress = 0
    },
    cardClicked (id) {
      if (this.variant === 'projects') {
        this.$store.commit('project/setChosenProject', id)
        const path = `/projects/${last(id.split('/'))}`
        this.$router.push({ path })
      }
    },
    last (data) {
      return last(data)
    },
    async fillLearningOutcomeList () {
      let los = await learningOutcomeAPI.readAll(this.$store.state.project.chosenProject)
      los = los.map((lo) => learningOutcomeAPI.read(lo['@id']))
      los = await Promise.all(los)
      this.selfManagedDataList = los.sort((a, b) => Number(last(a['@id'].split('/'))) <= Number(last(b['@id'].split('/'))) ? 1 : -1)
    }
  }
}

</script>

<style scoped>
  .idBadge {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.2rem;
  }
  .idBadge > svg {
    font-size: 1rem;
  }
  .infoBadge {
    font-size: 1rem;
    margin: 0.5rem 0.5rem 1rem 0;
  }
  .card {
    position: relative;
    min-width: 14rem;
    margin-bottom: 1rem !important;
  }
  .projectCard:hover {
    filter: brightness(98%);
    cursor: pointer !important;
  }
  .card-title {
    width: 85%;
    margin-bottom: 0.3rem;
  }
  .card-text {
    text-align: left;
  }
  .card-subtitle {
    font-size: 0.8rem;
  }
</style>
