<template>
  <div>
    <!-- <b-alert show variant="secondary">
      <b-container fluid>
        <b-row>
          <b-col>
            <h2>Importieren von Items</h2>
          </b-col>
        </b-row>
      </b-container>
    </b-alert> -->
    <b-card>
      <b-form v-on:submit.prevent="onSubmit" v-on:reset.prevent="file = null">
        <b-card-text>Unterstützt werden CSV, ZIP, XLSX, XML und JSON Dateien. <strong>Teils muss das korrekte Format bekannt sein.</strong></b-card-text>
        <b-form-file v-model="file" accept=".zip, .csv, .xlsx, .json, .xml" placeholder="Eine Datei auswählen..." drop-placeholder="Datei hier hin ziehen..." required></b-form-file>
        <b-form-checkbox v-model="expertMode">Expertenmodus</b-form-checkbox>
        <transition name="fade" mode="out-in" appear>
          <b-alert :show="expertMode" variant="info">
          <span>Im Expertenmodus stehen weitere Formate zur Auswahl, die für spezielle Anwendungszwecke gedacht sind und teils nicht den vollen Inhaltsumfang der anderen Formate abdecken. Weitere Informationen zum Thema finden Sie auf der <router-link to="/help/itemImportExport">Hilfe-Seite</router-link>.</span>
          </b-alert>
        </transition>
        <b-form-select v-model="selectedInputFormat" :options="inputFormats">
          <template slot="first">
            <option :value="null" disabled>-- Bitte ein Dateiformat auswählen --</option>
          </template>
        </b-form-select>
        <div v-if="file">
          <span><strong>Größe:</strong> {{fileSizeString}}</span>
          <span v-if="(file) ? file.size > maximumFileSize : false" style="color: red;"> (zu groß, Limit bei {{(maximumFileSize/1024/1024).toFixed(0)}} MiByte)</span><br>
          <span><strong>Zuletzt bearbeitet:</strong> {{(new Date(file.lastModified)).toUTCString()}}</span>
        </div>
        <b-button type="reset" variant="danger">Auswahl zurücksetzen</b-button>
        <b-button type="submit" variant="primary" class="float-right" :disabled="disableUploadButton">Importieren</b-button>
      </b-form>
    </b-card>
    <div v-if="showLoader" class="text-center">
      <b-spinner variant="info" style="width: 8rem; height: 8rem; position:absolute; top: 28%; z-index:10"></b-spinner>
    </div>
  </div>
</template>

<script>
import { formatService } from '@/config'
import ky from 'ky'
import isEmpty from 'lodash/isEmpty'
import last from 'lodash/last'

export default {
  name: 'uploadItems',
  data: () => {
    return {
      file: null,
      maximumFileSize: 50 * 1024 * 1024,
      selectedInputFormat: null,
      showLoader: false,
      expertMode: false
    }
  },
  computed: {
    disableUploadButton () {
      return (this.file === null || (this.file.size > this.maximumFileSize) || this.selectedInputFormat === null)
    },
    inputFormats () {
      const normalUser = [
        { value: 'csv', text: 'CSV', mime: 'text/csv' },
        { value: 'xlsx', text: 'Microsoft Excel', mime: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' },
        { value: 'xlsx_zip', text: 'ZIP-Archiv', mime: 'application/zip' },
        { value: 'ilias', text: 'Ilias', mime: 'application/xml' },
        { value: 'onyx', text: 'Onyx', mime: 'application/zip' }
        // { value: 'moodle', text: 'Moodle', mime: 'application/xml' }
      ]
      const expertUser = [
        { value: 'csv', text: 'CSV', mime: 'text/csv' },
        { value: 'csv_zip', text: 'Komprimierte CSV', mime: 'application/zip' },
        { value: 'xlsx', text: 'Microsoft Excel', mime: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' },
        { value: 'xlsx_zip', text: 'Komprimiertes Microsoft Excel', mime: 'application/zip' },
        { value: 'json', text: 'JSON', mime: 'application/json' },
        { value: 'json_zip', text: 'Komprimiertes JSON', mime: 'application/zip' },
        { value: 'csvjson', text: 'CSV JSON', mime: 'application/json' },
        { value: 'ilias', text: 'Ilias', mime: 'application/xml' },
        { value: 'onyx', text: 'Onyx', mime: 'application/zip' }
        // { value: 'moodle', text: 'Moodle', mime: 'application/xml' }
      ]
      if (this.expertMode)
        return expertUser
      return normalUser
    },
    fileSizeString () {
      let size = this.file.size
      if (size < 1000)
        return size.toFixed(2) + ' Byte'
      else {
        size /= 1024
        if (size < 1000)
          return size.toFixed(2) + ' KiByte'
        else {
          size /= 1024
          return size.toFixed(2) + ' MiByte'
        }
      }
    }
  },
  watch: {
    file (newVal) {
      if (this.inputFormats.filter((format) => format.mime === (newVal || {}).type).length === 1)
        this.selectedInputFormat = this.inputFormats.find((format) => format.mime === newVal.type).value
      else
        this.selectedInputFormat = null
    }
  },
  methods: {
    async onSubmit () {
      this.showLoader = true
      const fileContent = await new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.onload = async function (e) {
          resolve(e.target.result)
        }
        reader.readAsBinaryString(this.file)
      })
      const formData = new FormData()
      formData.append('file', new Blob([fileContent], { type: this.file.type }))
      const projectNumber = last(this.$store.state.project.chosenProject.split('/'))
      const response = await ky.post(
        formatService.uri + `/import?inputFormat=${this.selectedInputFormat}&project=${projectNumber}`, {
          body: formData
        }
      )
      // console.log(response)
      const body = await response.json()
      if (response.status === 200 && !isEmpty(body.result)) {
        this.$swal.fire({ icon: 'success', titleText: 'Items erfolgreich hochgeladen', text: 'Die Items können jetzt in EAs.LiT verwaltet werden' })
      } else if (response.status === 206) {
        const failedItems = body.result.map((el, index) => (!isEmpty(el.error)) ? '<li>Item Nummer ' + index + '</li>' : '').join('')
        this.$swal.fire({ icon: 'warning', titleText: 'Items teilweise erfolgreich hochgeladen', html: `Folgende Items wurden nicht erfolgreich hochgeladen: <br/><ul>${failedItems}</ul>` })
      } else {
        this.$swal.fire({ icon: 'error', titleText: 'Fehler beim hochladen der Datei', text: 'Bitte Dokumentieren sie den Fall so gut es geht und melden sie dies beim Programmentwickler', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
      }
      this.showLoader = false
    }
  }
}
</script>

<style scoped>
  form > div {
    margin-bottom: 1rem !important;
  }
  form > select {
    margin-bottom: 1rem !important;
  }
  .card-title {
    width: 85%;
  }
</style>
