<template>
  <div>
    <b-container id="bloomContainer" :class="{highlight: highlight && !immediateValidation, highlightRed: immediateValidation && immediateValidationReset, highlightGreen: immediateValidation && !immediateValidationReset}">
        <b-tooltip :disabled="disableToolTip || this.immediateValidation" :show="!disableToolTip || this.immediateValidation" target="bloomContainer" placement="top">
          Wir empfehlen Taxonomiestufen auszuwählen
        </b-tooltip>
        <b-form-row><!-- Headings horizontal -->
          <b-col/>
          <b-col v-for="(kd, index) in $store.state.optionsKnowledgeDimensions" :key="'kd' + index" class="text-center" :style="highlightedLevelsInternal.includes((index + 1) + ',0') ? 'background-color: lightgrey' : ''">
            {{kd.text}}
          </b-col>
        </b-form-row>

        <b-form-row v-for="(pl, plIndex) in $store.state.optionsPerformanceLevels" :key="'pl' + plIndex" >
          <b-col :style="highlightedLevelsInternal.includes('0,' + (plIndex + 1)) ? 'background-color: lightgrey' : ''"><!-- Headings vertical -->
            {{pl.text.split(' (')[0]}}
          </b-col>

          <b-col v-for="(kd, kdIndex) in $store.state.optionsKnowledgeDimensions" :key="'kd' + plIndex+kdIndex" class="text-center">
            <b-form-checkbox :value="{knowledgeDimension: kd.value, performanceLevel: pl.value}" :unchecked-value="null" v-model="selectedRadios[plIndex][kdIndex]" :disabled="disabled" :style="highlightedLevelsInternal.includes((kdIndex + 1) + ',' + (plIndex + 1)) ? 'background-color: lightgrey' : ''"/>
          </b-col>
        </b-form-row>
    </b-container>
  </div>
</template>

<script>
import isEmpty from 'lodash/isEmpty'
import includes from 'lodash/includes'

export default {
  name: 'akMatrix',
  props: {
    dataToShow: { type: Array, default: () => { return [] } },
    immediateValidation: { type: Boolean, default: false },
    highlightedLevels: { type: Array, default: () => { return [] } },
    disabled: { type: Boolean, default: false }
  },
  data () {
    return {
      selectedRadios: Array(6).fill().map(() => Array(5).fill(null)),
      highlight: false,
      immediateValidationReset: true
    }
  },
  created () {
    this.fillMatrix(this.dataToShow)
  },
  computed: {
    disableToolTip () {
      return !this.highlight
    },
    highlightedLevelsInternal () {
      console.log(this.highlightedLevels.map(a => a.toString()))
      return this.highlightedLevels.map(a => a.toString())
    }
  },
  watch: {
    selectedRadios: {
      handler: function () {
        if (this.highlight === true)
          this.validate()
        if (this.immediateValidation === true) {
          if (!isEmpty(this.reduceMatrix()))
            this.immediateValidationReset = false
          else
            this.immediateValidationReset = true
        }
      },
      deep: true
    },
    dataToShow: function (newVal, oldVal) {
      if (isEmpty(newVal))
        this.selectedRadios = Array(6).fill().map(() => Array(5).fill(null))
      else
        this.fillMatrix(this.dataToShow)
      this.$forceUpdate()
    },
    highlightedLevels: function (newVal, oldVal) {
      // if (!isEmpty(newVal))
    }
  },
  methods: {
    includes,
    reduceMatrix () {
      return this.selectedRadios.flat().filter(el => el !== null)
    },
    fillMatrix (values = []) {
      values.forEach((value) => {
        const plIndex = this.$store.state.optionsPerformanceLevels.findIndex((el) => el.value === value.performanceLevel)
        const kdIndex = this.$store.state.optionsKnowledgeDimensions.findIndex((el) => el.value === value.knowledgeDimension)
        delete value['@id']
        this.selectedRadios[plIndex][kdIndex] = value
        this.immediateValidationReset = false
      })
    },
    validate () {
      this.highlight = isEmpty(this.reduceMatrix())
      return !this.highlight
    }
  }
}

</script>

<style scoped>
  #bloomContainer {
    border-style: solid;
    border-width: 0.15rem;
    border-radius: 0.3rem;
    border-color: rgb(232, 232, 232);
  }
  .highlight {
    border-color: #FDD835 !important;
    border-width: 0.1rem !important;
  }
  .highlightRed {
    border-color: rgb(220, 53, 69) !important;
    border-width: 0.1rem !important;
  }
  .highlightGreen {
    border-color: rgb(40, 167, 69) !important;
    border-width: 0.1rem !important;
  }
</style>
