<script>
import { Bar, mixins } from 'vue-chartjs'
const { reactiveData } = mixins

export default {
  extends: Bar,
  name: 'basketBarChart',
  mixins: [reactiveData],
  props: ['options'],
  mounted () {
    this.fillChartData(this.basket)
    this.renderChart(this.chartData, this.options)
  },
  computed: {
    basket () {
      return this.$store.state.item.itemBasket
    }
  },
  watch: {
    basket: {
      handler: function (newVal, oldVal) {
        this.fillChartData(newVal)
      },
      deep: true
    }
  },
  methods: {
    fillChartData (toAnalyse) {
      this.chartData = { labels: [ /* 'Markiert', */ 'SC', 'MC', 'FT', 'AR', 'AS', 'RE'], //eslint-disable-line
        datasets: [
          {
            backgroundColor: [ /* 'rgb(255, 193, 7)', */ 'rgba(76,175,80,1)', 'rgba(0,188,212,1)', 'rgba(255,87,34,1)', 'rgba(63,81,181,1)', 'rgba(0,0,0 ,1)', 'rgba(121,85,72,1)'], //eslint-disable-line
            data: [
              // toAnalyse.filter((item) => (item.annotations || {}).flagged === true).length,
              (toAnalyse.filter((item) => item['@type'] === 'http://tech4comp/eal/SingleChoiceItem') || {}).length || 0,
              (toAnalyse.filter((item) => item['@type'] === 'http://tech4comp/eal/MultipleChoiceItem') || {}).length || 0,
              (toAnalyse.filter((item) => item['@type'] === 'http://tech4comp/eal/FreeTextItem') || {}).length || 0,
              (toAnalyse.filter((item) => item['@type'] === 'http://tech4comp/eal/ArrangementItem') || {}).length || 0,
              (toAnalyse.filter((item) => item['@type'] === 'http://tech4comp/eal/AssignmentItem') || {}).length || 0,
              (toAnalyse.filter((item) => item['@type'] === 'http://tech4comp/eal/RemoteItem') || {}).length || 0
            ]
          }
        ]
      }
    }
  }
}
</script>

<style scoped>
</style>
