<template>
  <b-input-group>
    <b-container fluid class="rangeSliderContainer">
      <b-row no-gutters>
        <b-col md="auto">
          <b-input-group-prepend>
            <b-input-group-text class="rangeSliderPrepend">{{min}}</b-input-group-text>
          </b-input-group-prepend>
        </b-col>
        <b-col>
          <vue-slider ref="rangeSlider" v-model="innerValue" :min="min" :max="max" :enableCross="false" :duration="0.2" :lazy="true"></vue-slider>
        </b-col>
        <b-col md="auto">
          <b-input-group-append>
            <b-input-group-text class="rangeSliderAppend">{{max}}</b-input-group-text>
          </b-input-group-append>
        </b-col>
      </b-row>
    </b-container>
  </b-input-group>
</template>

<script>
import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/default.css'
import isEmpty from 'lodash/isEmpty'

export default {
  name: 'customRangeSlider',
  props: {
    value: { type: Object, default: () => { return { min: 0, max: 0 } }, required: true },
    min: { type: Number, default: 0, required: true },
    max: { type: Number, default: 100, required: true }
  },
  data () {
    return {
      innerValue: [0, 100]
    }
  },
  components: { VueSlider },
  created () {
    this.innerValue[0] = this.value.min
    this.innerValue[1] = this.value.max
  },
  watch: {
    value: {
      handler (newVal) {
        if (!isEmpty(newVal)) {
          if (this.innerValue[0] !== newVal.min)
            this.innerValue[0] = newVal.min
          if (this.innerValue[1] !== newVal.max)
            this.innerValue[1] = newVal.max
          this.$refs.rangeSlider.setValue(this.innerValue)
        }
      },
      deep: true
    },
    innerValue (newVal) {
      if (newVal[0] !== this.value.min || newVal[1] !== this.value.max)
        this.$emit('input', { min: this.innerValue[0], max: this.innerValue[1] })
    }
  }
}
</script>

<style>
  .vue-slider {
    border-width: thin;
    border-color: rgb(206, 212, 218);
    border-style: solid;
    padding: 0.94rem !important;
  }
  .rangeSliderPrepend {
    border-bottom-right-radius: 0 0;
    border-top-right-radius: 0 0;
  }
  .rangeSliderAppend {
    border-bottom-left-radius: 0 0;
    border-top-left-radius: 0 0;
  }
  .rangeSliderContainer {
    padding: 0;
  }
</style>
