<template>
  <b-modal id="modal-1" :title="modalTitle" v-model="showModal" centered lazy v-on:ok.prevent="create()" :size="modalSize">
    <b-container fluid>

        <b-row>
          <b-col>
            <p>{{modalText}}</p>
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <b-form>
              <b-form-input type="text" :placeholder="variant === 'learningOutcome' ? 'Titel, mit dem Sie das Intended Learning Outcome wiedererkennen' : 'Titel...'" v-model="data.title" v-validate.immediate="'required|min:3'" name="Titel" :state="(disableInputs) ? null : !this.errors.has('Titel')" :disabled="disableInputs"/><br/>

              <b-form-input v-if="variant !== 'learningOutcome'" type="text" placeholder="Beschreibung..." v-model="data.description" v-validate.immediate="'required|min:3'" name="Beschreibung" :state="(disableInputs) ? null : !this.errors.has('Beschreibung')" :disabled="disableInputs"/>
              <b-form-textarea v-else placeholder="Zeitrahmen - Lernende - Verb - Thema - Illustration" v-model="data.description" v-validate.immediate="'required|min:3'" name="Beschreibung" :state="(disableInputs) ? null : !this.errors.has('Beschreibung')" :disabled="disableInputs"/>

              <b-overlay id="bloomOverlay" :show="disableInputs" rounded="sm">
                <template v-slot:overlay>
                  <p>...</p>
                </template>
                <akMatrix id="akMatrix" v-if="variant === 'learningOutcome'" ref="akMatrix" :dataToShow="data.bloom" :immediateValidation="(disableInputs) ? false : true" v-b-tooltip.hover title="Taxonomiestufen nach Anderson & Krathwohl" :highlightedLevels="highlightMatrixLevels" :disabled="disableInputs"/>
              </b-overlay>

              <b-overlay id="topicOverlay" :show="disableInputs" rounded="sm">
                <template v-slot:overlay>
                  <p>...</p>
                </template>
                <multiselect v-if="variant === 'learningOutcome'"  ref="multiselect" v-model="data.topics" :options="$store.state.topics" label="title" track-by="@id" :multiple="true" :close-on-select="false" placeholder="Themen zur Einordnung" selectLabel="Enter drücken zum auswählen" selectedLabel="Ausgewählt" deselectLabel="Enter drücken zum entfernen" openDirection="bottom" :taggable="true" @tag="addToTopics" tag-placeholder="Als neues Thema hinzufügen" :class="{ highlighted: highlightMultiselect, customDisabled: disableInputs }"></multiselect>
              </b-overlay>

            </b-form>
          </b-col>
        </b-row>

      </b-container>

      <template v-slot:modal-footer="{ ok, cancel }">
        <b-button variant="secondary" @click="cancel()">{{(disableInputs) ? 'Schließen' : 'Abbrechen'}}</b-button>
        <b-button v-if="!disableInputs" variant="primary" @click="ok()">{{saveButtonText}}</b-button>
      </template>

  </b-modal>
</template>

<script>
import isEmpty from 'lodash/isEmpty'
import assignIn from 'lodash/assignIn'
import remove from 'lodash/remove'
import akMatrix from '@/components/akMatrix.vue'
import multiselect from 'vue-multiselect'

export default {
  name: 'dataEditModal',
  components: { akMatrix, multiselect },
  props: {
    value: { type: Boolean, default: () => { return false }, required: true },
    dataToDisplay: { type: Object, default: () => { return {} } },
    variant: { type: String, default: () => 'Learning Outcome' },
    api: { type: Object },
    disableInputs: { type: Boolean, default: false }
  },
  data () {
    return {
      data: {
        title: '',
        description: '',
        authorizedUsers: [],
        contributors: [],
        project: this.$store.state.project.chosenProject,
        bloom: [],
        topics: []
      },
      showModal: false,
      validated: false
    }
  },
  watch: {
    dataToDisplay: function (newVal) {
      const old = JSON.parse(JSON.stringify(this.data))
      if (!isEmpty(newVal) && newVal.topics) {
        newVal.topics = newVal.topics.map((topic) => this.$store.state.topics.find((storeTopic) => storeTopic['@id'] === topic))
      }
      this.data = (isEmpty(newVal)) ? assignIn(old, { title: '', description: '' }) : assignIn(old, newVal)
      if (isEmpty(newVal)) {
        delete this.data['@id']
        delete this.data['@context']
      }
    },
    value () {
      if (this.showModal !== this.value)
        this.showModal = this.value
    },
    showModal (newVal) {
      this.$emit('input', this.showModal)
      if (newVal === false) {
        this.data.title = ''
        this.data.description = ''
        this.data.bloom = []
        this.data.topics = []
        this.validated = false
      }
    }
  },
  computed: {
    modalTitle: function () {
      if (this.disableInputs)
        return this.variantText
      else
        return this.variantText + (isEmpty(this.dataToDisplay) ? ' anlegen' : ' bearbeiten')
    },
    modalText: function () {
      if (this.disableInputs)
        return ''
      else
        return isEmpty(this.dataToDisplay) ? 'Erstellen sie ein neues ' + this.variantText + ' indem sie das Formular ausfüllen und auf "Anlegen" klicken' : 'Bearbeiten sie dieses ' + this.variantText + ' indem sie das Formular ändern und auf "Speichern" klicken'
    },
    saveButtonText: function () {
      return isEmpty(this.dataToDisplay) ? 'Anlegen' : 'Speichern'
    },
    modalSize () {
      switch (this.variant) {
        case 'learningOutcome':
          return 'lg'
        default:
          return ''
      }
    },
    variantText () {
      switch (this.variant) {
        case 'learningOutcome':
          return 'Intended Learning Outcome'
        case 'project':
          return 'Projekt'
        default:
          return ''
      }
    },
    highlightMultiselect () {
      return isEmpty(this.data.topics)
    },
    highlightMatrixLevels () {
      if (this.variant !== 'learningOutcome')
        return []
      else {
        const tmp = this.data.description
        const remember = ['listen', 'definieren', 'abrufen', 'angeben', 'kennzeichnen', 'wiederholen', 'benennen']
        const understand = ['übersetzen', 'paraphrasieren', 'diskutieren', 'berichten', 'lokalisieren', 'verallgemeinern', 'erklären', 'einordnen', 'zusammenfassen']
        const apply = ['bedienen', 'anwenden', 'benutzen', 'demonstrieren', 'lösen', 'produzieren', 'vorbereiten', 'auswählen']
        const analyse = ['analysieren', 'hinterfragen', 'differenzieren', 'experimentieren', 'untersuchen', 'testen', 'kategorisieren', 'unterscheiden', 'berechnen', 'kontrastieren', 'skizzieren', 'folgern', 'diskriminieren', 'vergleichen']
        const evaluate = ['beurteilen', 'bewerten', 'einschätzen', 'rechtfertigen']
        const create = ['erstellen', 'komponieren', 'argumentieren', 'entwerfen', 'planen', 'unterstützen', 'überarbeiten', 'formulieren']
        const toReturn = []
        if (remember.map(x => tmp.toLowerCase().includes(x)).reduce((a, b) => a + b, 0) > 0) toReturn.push([0, 1])
        if (understand.map(x => tmp.toLowerCase().includes(x)).reduce((a, b) => a + b, 0) > 0) toReturn.push([0, 2])
        if (apply.map(x => tmp.toLowerCase().includes(x)).reduce((a, b) => a + b, 0) > 0) toReturn.push([0, 3])
        if (analyse.map(x => tmp.toLowerCase().includes(x)).reduce((a, b) => a + b, 0) > 0) toReturn.push([0, 4])
        if (evaluate.map(x => tmp.toLowerCase().includes(x)).reduce((a, b) => a + b, 0) > 0) toReturn.push([0, 5])
        if (create.map(x => tmp.toLowerCase().includes(x)).reduce((a, b) => a + b, 0) > 0) toReturn.push([0, 6])
        return toReturn
      }
    }
  },
  methods: {
    async create () {
      let validity = true
      if (this.$refs.akMatrix) {
        validity &= this.$refs.akMatrix.validate()
        this.data.bloom = this.$refs.akMatrix.reduceMatrix()
      }
      validity &= await this.$validator.validateAll()
      if (this.$refs.multiselect)
        validity &= !isEmpty(this.data.topics)
      if (validity) {
        const toPost = this.clearData(this.data)
        const success = await this.api.write(toPost)
        if (success) {
          if (this.variant === 'learningOutcome') // TODO nicht auf String prüfen, zu fehleranfällig
            this.$store.dispatch('fillLearningOutcomes')
          if (this.variant === 'project')
            this.$store.dispatch('project/fillProjects')
          this.showModal = false
        } else
          console.log('Failed to create ' + this.variant) // TODO implement error message
      }
    },
    clearData (data) {
      const toReturn = JSON.parse(JSON.stringify(this.data))
      if (this.variant === 'learningOutcome') { // TODO nicht auf String prüfen, zu fehleranfällig
        delete toReturn.authorizedUsers
        toReturn.topics = toReturn.topics.map((topic) => topic['@id'])
        if (isEmpty(toReturn.contributors)) {
          if (isEmpty(this.$store.state.user))
            toReturn.contributors = ['http://tech4comp.org/eal/user/example_user']
          else
            toReturn.contributors = ['http://tech4comp.org/eal/user/' + this.$store.state.user.preferred_username]
        } else {
          // NOTE gradually clean up stored data from before users were existing
          if (toReturn.contributors.some((el) => el.includes('http://example.org/')))
            remove(toReturn.contributors, (el) => el.includes('http://example.org/'))
          if (!isEmpty(this.$store.state.user) && !toReturn.contributors.includes('http://tech4comp.org/eal/user/' + this.$store.state.user.preferred_username))
            toReturn.contributors.push('http://tech4comp.org/eal/user/' + this.$store.state.user.preferred_username)
        }
      }
      if (this.variant === 'project') {
        if (isEmpty(toReturn.authorizedUsers)) {
          if (isEmpty(this.$store.state.user))
            toReturn.authorizedUsers = ['http://tech4comp.org/eal/user/example_user']
          else
            toReturn.authorizedUsers = ['http://tech4comp.org/eal/user/' + this.$store.state.user.preferred_username]
        } else {
          // NOTE gradually clean up stored data from before users were existing
          if (toReturn.authorizedUsers.some((el) => el.includes('http://example.org/')))
            remove(toReturn.authorizedUsers, (el) => el.includes('http://example.org/'))
          if (!isEmpty(this.$store.state.user) && !toReturn.authorizedUsers.includes('http://tech4comp.org/eal/user/' + this.$store.state.user.preferred_username))
            toReturn.authorizedUsers.push('http://tech4comp.org/eal/user/' + this.$store.state.user.preferred_username)
        }
        delete toReturn.project
        delete toReturn.contributors
        delete toReturn.topics
        delete toReturn.bloom
      }
      return toReturn
    },
    async addToTopics (newTopic) {
      newTopic = await this.$store.dispatch('addTopic', newTopic)
      this.data.topics.push(newTopic)
    }
  }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
  #bloomOverlay > div.b-overlay > div.bg-light {
    opacity: 0.2 !important;
    background-color: rgb(166, 172, 178) !important;
  }

  #topicOverlay > div.b-overlay > div.bg-light {
    opacity: 0.2 !important;
    background-color: rgb(186, 192, 198) !important;
  }

  #topicOverlay .multiselect.customDisabled {
    border: 0.03rem solid rgba(186, 192, 198, 0.2) !important;
  }
</style>

<style scoped>
  #akMatrix {
    margin-top: 1rem;
  }
  .multiselect {
    margin-top: 1rem;
  }
  .multiselect {
    border-radius: 0.3rem;
  }
  .highlighted {
    border: 0.05rem solid rgb(220, 53, 69) !important;
  }
  .multiselect:not(.highlighted) {
    border: 0.05rem solid rgb(40, 167, 69) !important;
  }
  .b-overlay p {
    display: none;
  }
</style>
