<template>
  <b-modal ref="downloadModal" v-model="showModalInteral" centered title="Bitte wählen sie ein Download-Format" v-on:ok.prevent="$emit('confirmed')">
    <div class="text-center">
      <p v-if="mode === 'item'">Wählen Sie bitte das Formate aus, in dem die selektierten Items zusammengestellt und heruntergeladen werden sollen.</p>
      <p v-else>Wählen Sie bitte das Formate aus, in dem die Prüfung(en) zusammengestellt und heruntergeladen werden sollen.</p>
    </div>
    <b-form-checkbox v-model="expertMode">Expertenmodus</b-form-checkbox>
    <transition name="fade" mode="out-in" appear>
      <b-alert :show="expertMode" variant="info">
      <span>Im Expertenmodus stehen weitere Formate zur Auswahl, die für spezielle Anwendungszwecke gedacht sind und teils nicht den vollen Inhaltsumfang der anderen Formate abdecken. Weitere Informationen zum Thema finden Sie auf der <router-link to="/help/itemImportExport">Hilfe-Seite</router-link></span>
      </b-alert>
    </transition>
    <b-form-select v-model="outputFormat" :options="outputFormatOptions">
      <template slot="first">
        <option :value="null" disabled>-- Bitte ein Download-Format auswählen --</option>
      </template>
    </b-form-select>
    <template slot="modal-footer">
      <b-button @click="$refs.downloadModal.hide()">Abbrechen</b-button>
      <b-button variant="success" :disabled="outputFormat === null" @click="$refs.downloadModal.hide('ok')">Ok</b-button>
    </template>
  </b-modal>
</template>

<script>

export default {
  name: 'downloadItemsModal',
  props: {
    showModal: { type: Boolean, default: () => { return false }, required: true },
    mode: { type: String, default: 'item' }
  },
  data: () => {
    return {
      outputFormat: null,
      expertMode: false,
      showModalInteral: false
    }
  },
  computed: {
    outputFormatOptions () { // es fehlen csv_easlit, csv_zip, xlsx_type, xlsx_all_easlit, xlsx_type_easlit, xlsx_type_zip, json_easlit, csvjson_type, csvjson_all_easlit, csvjson_type_easlit
      // _all Allesin einer Tabelle
      // _type alles in versch. Tabellen (bspw. tabellarisches CSV)
      // _easlit enthält Bilder als URI auf unseren Dienst
      // _zip Bilder sind im Zip file enthalten
      // _ohne unbehandlet
      // ilias ist ein Zip file mit XML Daten
      const normalUser = [
        { value: 'csv', text: 'CSV', mime: 'text/csv' },
        { value: 'xlsx_all', text: 'Microsoft Excel', mime: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' },
        { value: 'xlsx_all_zip', text: 'ZIP-Archiv', mime: 'application/zip' },
        { value: 'ilias', text: 'Ilias', mime: 'application/xml' },
        { value: 'onyx', text: 'Onyx', mime: 'application/zip' },
        { value: 'moodle', text: 'Moodle', mime: 'application/xml' }
      ]
      // additionally available: csv_easlit, xlsx_type, xlsx_all_easlit, xlsx_type_easlit, xlsx_type_zip, json_easlit, csvjson_type, csvjson_all_easlit, csvjson_type_easlit
      const expertUser = [
        { value: 'csv', text: 'CSV', mime: 'text/csv' },
        { value: 'csv_zip', text: 'Gezippte CSV', mime: 'application/zip' },
        { value: 'xlsx_all', text: 'Microsoft Excel', mime: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' },
        { value: 'xlsx_all_zip', text: 'Gezippte Microsoft Excel', mime: 'application/zip' },
        { value: 'json', text: 'JSON', mime: 'application/json' },
        { value: 'json_zip', text: 'Gezippte JSON', mime: 'application/zip' },
        { value: 'json_ld', text: 'Linked Data JSON', mime: 'application/ld+json' },
        { value: 'csvjson_all', text: 'CSV JSON', mime: 'application/json' },
        { value: 'ilias', text: 'Ilias', mime: 'application/xml' },
        { value: 'onyx', text: 'Onyx', mime: 'application/zip' },
        { value: 'moodle', text: 'Moodle', mime: 'application/xml' }
      ]
      if (this.expertMode)
        return expertUser
      else
        return normalUser
    }
  },
  watch: {
    showModal () {
      if (this.showModalInteral !== this.showModal)
        this.showModalInteral = this.showModal
    },
    showModalInteral (newVal, oldVal) {
      if (newVal === false) {
        this.outputFormat = null
        this.expertMode = false
        this.$emit('showModal', this.showModalInteral)
      }
    },
    outputFormat () {
      this.$emit('input', this.outputFormat)
    }
  },
  methods: {
  }
}
</script>

<style>
  .custom-checkbox {
    margin-bottom: 0.5rem;
  }
</style>
