<template>
  <div>
    <b-row align-h="between">
      <b-col>
        <div class="restrictionCollapseText" @click="innerShowCollapse = !innerShowCollapse">Nach {{titleText}} eingrenzen <font-awesome-icon :icon="(showCollapse) ? 'chevron-up' : 'chevron-down'"/></div>
      </b-col>
      <b-col v-if="restricted">
        <div style="color: green;" class="float-right">Eingrenzungen aktiv</div>
      </b-col>
    </b-row>
    <b-collapse v-model="showCollapse" id="TypeCollapse">
      <b-card v-if="showCollapse">
        <b-alert v-if="isEmpty(amountOfItemsByX)" show variant="warning">
          Nach diesem Kriterium kann nicht eingegrenzt werden, da keine entsprechenden Daten an den Items annotiert wurden.
        </b-alert>
        <div v-else v-for="(x, index) in amountOfItemsByX" :key="'type' + index">
          <b-form-group label-cols="3">
            <template slot="label" >
              {{(titleText === 'Themen') ? '\"' + x[0] + '\"' : x[0]}} Items:
              <span v-if="titleText === 'Learning Outcome'" @click="showLearningOutcome(x[1].id)">
                <font-awesome-layers v-b-tooltip.hover title="Intended Learning Outcome anzeigen">
                  <font-awesome-icon icon="circle"/>
                  <font-awesome-icon icon="search"/>
                </font-awesome-layers>
              </span>
            </template>
            <customRangeSlider v-model="restrictions[x[1].id]" :min="0" :max="x[1].amount"/>
          </b-form-group>
        </div>
      </b-card>
    </b-collapse>
    <dataEditModal v-model="showLearningOutcomeModel" :dataToDisplay="chosenLearningOutcome" variant="learningOutcome" :disableInputs="true"/>
  </div>
</template>

<script>
import customRangeSlider from '@/components/customRangeSlider'
import dataEditModal from '@/components/dataEditModal.vue'
import isEmpty from 'lodash/isEmpty'

export default {
  name: 'examSettings',
  components: { customRangeSlider, dataEditModal },
  props: {
    titleText: { type: String, default: '', required: true },
    showCollapse: { type: Boolean, default: false, required: true },
    amountOfItemsByX: { type: Array, default: () => [], required: true },
    restrictions: { type: Object, default: () => { return {} }, required: true }
  },
  data: () => {
    return {
      innerShowCollapse: false,
      chosenLearningOutcome: {},
      showLearningOutcomeModel: false
    }
  },
  watch: {
    showCollapse (newVal, oldVal) {
      this.innerShowCollapse = newVal
    },
    innerShowCollapse (newVal, oldVal) {
      this.$emit('visibilityChange', newVal)
    },
    restricted: {
      handler (newVal, oldVal) {
        this.$emit('restricted', newVal)
      },
      immediate: true
    }
  },
  computed: {
    restricted () {
      const minRestricted = Object.values(this.restrictions).find((el) => el.min !== 0) !== undefined
      const maxRestricted = Object.entries(this.restrictions).find(([type, el]) => {
        const amount = (this.amountOfItemsByX.find((el) => el[1].id === type)[1].amount)
        return (el.max !== amount)
      }) !== undefined
      return minRestricted || maxRestricted
    }
  },
  methods: {
    isEmpty,
    showLearningOutcome (id) {
      this.chosenLearningOutcome = JSON.parse(JSON.stringify(this.$store.state.learningOutcomes.find((lo) => lo['@id'] === id)))
      this.showLearningOutcomeModel = true
    }
  }
}
</script>

<style scoped>
  .restrictionCollapseText {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    cursor: pointer;
  }
  .fa-layers {
    cursor: pointer;
    font-size: 1.2rem;
  }
  .fa-layers > svg:first-of-type {
    color: grey;
  }
  .fa-layers > svg:last-of-type {
    color: white;
    transform: scale(0.65);
  }
</style>
