<template>
  <div>
    <b-button size="sm" @click="$refs.loadSettingsFile.$el.firstChild.click()">Einstellungen laden</b-button>
    <b-button size="sm" @click="saveSettings">Einstellungen speichern</b-button>
    <b-button size="sm" @click="$refs.loadExamsFile.$el.firstChild.click()">Prüfungsvorlage laden</b-button>
    <b-form-file ref="loadSettingsFile" v-model="settingsFile" accept=".json" style="display: none;"></b-form-file>
    <b-form-file ref="loadExamsFile" v-model="examsFile" accept=".json" style="display: none;"></b-form-file>
  </div>
</template>

<script>
import { saveAs } from 'file-saver'
import isEmpty from 'lodash/isEmpty'
import isArray from 'lodash/isArray'
import every from 'lodash/every'

export default {
  name: 'examSettings',
  props: {
    restrictions: { type: Object, default: () => { return {} }, required: true },
    activatedOptions: { type: Object, default: () => { return {} }, required: true },
    requirements: { type: Object, default: () => { return {} }, required: true }
  },
  data: () => {
    return {
      settingsFile: null,
      examsFile: null
    }
  },
  watch: {
    settingsFile (newVal) {
      if (!isEmpty(newVal)) {
        if (newVal.type === 'application/json')
          this.loadSettings()
        else
          this.$swal.fire({ icon: 'error', titleText: 'Falsches Dateiformat', text: 'Bitte verwenden Sie nur JSON Dateien, die von EAs.LiT erzeugt wurden.' })
      }
    },
    examsFile (newVal) {
      if (!isEmpty(newVal)) {
        if (newVal.type === 'application/json')
          this.convertExamTemplate()
        else
          this.$swal.fire({ icon: 'error', titleText: 'Falsches Dateiformat', text: 'Bitte verwenden Sie nur JSON Dateien, die von EAs.LiT erzeugt wurden.' })
      }
    }
  },
  methods: {
    async convertExamTemplate () {
      const fileContent = await this.readFileContent(this.examsFile)
      const exams = JSON.parse(fileContent)
      this.examsFile = null
      if (!isEmpty(exams) && isArray(exams) && every(exams, (exam) => !isEmpty(exam)) && every(exams, (exam) => isArray(exam)) && every(exams, (exam) => every(exam, String)))
        this.$emit('downloadExams', exams)
      else
        this.$swal.fire({ icon: 'error', titleText: 'Datei nicht valide', text: 'Die Datei entspricht nicht den Vorgaben einer Prüfungsdatei. Bitte verwenden sie nur von EAs.LiT erzeugte Dateien. Falls dies ein Fehler sein sollte, so melden Sie diesen bitte mit einer möglichst genauen Beschreibung.', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
    },
    async loadSettings () {
      const fileContent = await this.readFileContent(this.settingsFile)
      const settings = JSON.parse(fileContent)
      this.settingsFile = null
      this.$emit('newSettings', settings)
    },
    async saveSettings () {
      const toExport = JSON.stringify({
        restrictions: this.restrictions,
        activatedOptions: this.activatedOptions,
        requirements: this.requirements
      })
      const blob = new Blob([toExport], { type: 'application/json;charset=utf-8' })
      saveAs(blob, 'Preset Prüfung ' + (new Date()).toUTCString() + '.json')
    },
    async readFileContent (file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.onload = async function (e) {
          resolve(e.target.result)
        }
        reader.readAsBinaryString(file)
      })
    }
  }
}
</script>

<style scoped>
  button {
    margin: 0.25rem 0.25rem 0.25rem 0.25rem;
  }
  button:last-of-type {
    margin: 0.25rem 0rem 0.25rem 0.25rem;
  }
</style>
