<template>
  <b-dropdown class="py-0" menu-class="shadow-sm position-absolute" no-caret variant="flat" right>
    <template #button-content>
      <slot>
        <font-awesome-icon icon="ellipsis-v" class="text-white" />
      </slot>
    </template>
    <b-dropdown-item to="/about">Über EAS.LiT</b-dropdown-item>
    <b-dropdown-item to="/help">Hilfe & FAQ</b-dropdown-item>
    <b-dropdown-divider/>
    <b-dropdown-item target="_blank" href="https://tech4comp.de/datenschutzerklaerung/">
      Datenschutzerklärung <font-awesome-icon icon="external-link-alt" size="sm" class="ml-2" />
    </b-dropdown-item>
    <b-dropdown-item target="_blank" href="https://tech4comp.de/impressum-2/">
      Impressum <font-awesome-icon icon="external-link-alt" size="sm" class="ml-2" />
    </b-dropdown-item>
  </b-dropdown>
</template>
