<template>
  <b-card>
    <b-card-sub-title v-if="form.creationTime" style="width: 100%; height: 1.5rem;">
      <span class="float-left">{{form.creationTime ? 'Erstellt am ' + new Date(form.creationTime).toLocaleDateString('de-DE') : ''}}</span>
      <span class="float-right">{{form.modificationTime ? 'Zuletzt bearbeitet am ' + new Date(form.modificationTime).toLocaleDateString('de-DE') : ''}}</span>
    </b-card-sub-title>
    <b-form v-on:submit.prevent="onSubmit" v-on:reset.prevent="onReset">
      <b-form-group label-cols="3">
        <template v-slot:label>
          Item Typ: <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Der Item Typ ermöglicht die Wahl zwischen verschiedenen Aufgabentypen'"/>
        </template>
        <b-form-radio-group v-model="form['@type']" :options="itemTypes"></b-form-radio-group>
      </b-form-group>
      <div v-if="isMC() || isSC() || isFT() || isRE() || isAR()">
        <!-- || isAR() -->
        <itemStatusBar v-model="form.annotations.status" :annotation="form.annotations"/>
        <learningOutcomeFormInput ref="learningOutcomeFormInput" v-model="form.learningOutcome" @choseLearningOutcome="adoptLOBloomAndTopics()"/>
        <b-form-group label-cols="3" >
          <template v-slot:label>
            Titel: <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Der Titel des Items eignet sich dafür, es später schnell wiederzuerkennen'"/>
          </template>
          <b-form-input type="text" v-model="form.title" placeholder="Ein Kurzbeschreibung (~1-10 Worte), die ihnen hilft das Item schnell wieder zu erkennen."/>
        </b-form-group>
        <b-form-group label-cols="3" v-if="isRE()">
          <template v-slot:label>
            URL: <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Die URL stellt einen eindeutigen Bezeichner für das externe Item dar und sollte es im Optimalfall ermöglichen das externe Item im Browser aufzurufen'"/>
          </template>
          <b-form-input type="text" v-model="form.remoteItemURL" placeholder="Remote-URL des Items" v-validate="{required: true, url: {require_protocol: true }}" :state="isValid('Remote Item URL')" name="Remote Item URL"/>
        </b-form-group>
        <b-form-group label-cols="3" v-if="!isRE()">
          <template v-slot:label>
            Vignette: <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Die Vignette ordnet die Aufgabenstellung des Items in einen Kontext ein'"/>
          </template>
          <b-form-textarea v-model="form.description" placeholder="Eine Beschriebung des Kontextes, der zum verstehen der Aufgabenstellung nötig ist."/>
        </b-form-group>
        <b-form-group label-cols="3" v-if="!isRE()">
          <template v-slot:label>
            Aufgabe: <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Die Aufgabe stellt die Handlungsaufforderung für Studierende dar und orientiert sich an der Vignette'"/>
          </template>
          <b-form-textarea v-model="form.task" placeholder="Die eigentliche Aufgabenstellung, die den Lernenden dazu auffordert etwas zu tun." v-validate="'required|min:5'" :state="isValid('Aufgabe')" name="Aufgabe"/>
        </b-form-group>
        <b-form-group label-cols="3" v-if="form.difficulty">
          <template v-slot:label>
            Empirische Schwierigkeit (0-100): <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Die empirische Schwierigkeit stellt ein Maß für die Komplexität der Aufgabe dar, die aus den Prüfungsergebnissen rückberechnet wurde. Initial liegt diese immer bei 50'"/>
          </template>
          <b-input-group v-bind:append="form.difficulty.toString()">
            <b-form-input type="range" min="0" max="100" step="1" v-model="form.difficulty" placeholder="5" v-validate="'required'" :state="isValid('Schwierigkeitsgrad')" name="Schwierigkeitsgrad" disabled/>
          </b-input-group>
        </b-form-group>
        <b-form-group label-cols="3">
          <template v-slot:label>
            Erwartete Lösungswahrsch. (0.1-1): <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Die erwartete Lösungswahrscheinlichkeit stellt eine Einschätzung des Item-Autors/-in dar, wie schwer das Item für Studierende zu lösen sein wird'"/>
          </template>
          <b-input-group v-bind:append="form.expectedSolvability.toString()">
            <b-form-input id="expectedSolvabilityInput" type="range" min="0.1" max="1" step="0.1" v-model="form.expectedSolvability" placeholder="5" v-validate="'required'" :state="isValid('Erwartete Lösungswahrscheinlichkeit')" name="Erwartete Lösungswahrscheinlichkeit"/>
            <b-tooltip target="expectedSolvabilityInput">{{expectedSolvabilityTooltipText}}</b-tooltip>
          </b-input-group>
        </b-form-group>
        <b-form-group label-cols="3" v-if="isFT()">
          <template v-slot:label>
            Punkte (1-10): <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Die Punktzahl, die bei korrekter Lösung der Aufgabe den Studierenden gutgeschrieben wird'"/>
          </template>
          <b-input-group v-bind:append="form.points.toString()">
            <b-form-input type="range" min="1" max="10" step="1" v-model.number="form.points" placeholder="5" v-validate="'required'" :state="isValid('Punkte')" name="Punkte"/>
          </b-input-group>
        </b-form-group>
        <b-form-group label-cols="3" v-if="isMC()">
          <template v-slot:label>
            Minimalanzahl Antworten: <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Beschreibt die Anzahl an Antworten, die minimal zur Erfüllung des Items ausgewählt werden müssen'"/>
          </template>
          <b-input-group v-bind:append="form.minimumSelectableAnswers.toString()">
            <b-form-input type="range" :min="0" :max="form.answers.length - 1" step="1" v-model="form.minimumSelectableAnswers" placeholder="1" v-validate="'required'" :state="isValid('MinSA')" name="MinSA"/>
          </b-input-group>
        </b-form-group>
        <b-form-group label-cols="3" v-if="isMC()">
          <template v-slot:label>
            Maximalanzahl Antworten: <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Beschreibt die Anzahl an Antworten, die maximal zur Erfüllung des Items ausgewählt werden dürfen'"/>
          </template>
          <b-input-group v-bind:append="form.maximumSelectableAnswers.toString()">
            <b-form-input type="range" :min="(form.minimumSelectableAnswers > 0) ? form.minimumSelectableAnswers : 1" :max="form.answers.length" step="1" v-model="form.maximumSelectableAnswers" placeholder="1" v-validate="'required'" :state="isValid('MSA')" name="MSA"/>
          </b-input-group>
        </b-form-group>
        <b-alert v-if="isFT()" show variant="info" class="text-center">Freitextantworten erhalten automatisch ein Antwortfeld für den Freitext.</b-alert>
        <b-form-group label-cols="3" v-if="isSC() || isMC() || isAR()">
          <template v-slot:label>
            Antworten: <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Listet die verschiedenen Antwortmöglichkeiten für die Aufgabe. Je nach Item Typ gibt es Punkte für die korrekte Lösung, Punkte für die nichtauswahl der Lösung'"/>
          </template>
          <transition-group name="fade" style="width: 100%;">
            <div v-for="(answer, index) in form.answers" :key="'answer' + index">
              <b-row class="answers">
                <b-col>
                  <b-form-input type="text" v-model="form.answers[index].text" placeholder="..." v-b-tooltip.hover title="Antworttext" v-validate="'required'" :state="isValid('Antworttext ' + index)" :name="'Antworttext ' + index" :key="index + 'a'"/>
                </b-col>
                <b-col cols="2">
                  <b-form-input :ref="'pointsSelected' + index" type="number" min="0" max="10" step="any" v-model.number="form.answers[index].points" placeholder="5" v-validate="'required'" :state="isValid('pointsSelected' +  index)" :name="'pointsSelected' + index" :key="index + 'b'" v-b-tooltip.hover :title="!isAR() ? 'Punkte' : 'Punkte bei richtiger Zuordnung'"/>
                </b-col>
                <b-col cols="2" v-if="isMC()">
                  <b-form-input type="number" min="0" max="10" step="any" v-model.number="form.answers[index].pointsNotSelected" placeholder="5" v-validate="'required|notEqualTo:pointsSelected' + index" :state="isValid('pointsNotSelected' + index)" :name="'pointsNotSelected' + index" :key="index + 'c'" v-b-tooltip.hover title="Punkte Negativantwort"/>
                </b-col>
                <b-col cols="2" v-if="isAR()">
                  <b-form-input :ref="'sequenceStep' + index" type="number" min="1" v-model.number="form.answers[index].sequenceStep" placeholder="2" v-validate="'required|notEqualTo:sequenceStep' + (index - 1) + '|'" :state="isValid('sequenceStep' + index)" :name="'sequenceStep' + index" :key="index + 'd'" v-b-tooltip.hover title="Korrekte Platzierung"/>
                </b-col>
                <b-col cols="1">
                  <b-button variant="danger" @click="removeInput(index)" v-b-tooltip.hover title="Löschen" tabindex="-1"><font-awesome-icon icon="trash-alt" /></b-button>
                </b-col>
              </b-row>
            </div>
          </transition-group>
          <b-button @click="newAnswerField" variant="info">Neue Antwort</b-button>
        </b-form-group>
        <b-row class="bloomRow">
          <b-col cols="3">
            Einordnung in Taxonomie nach Anderson & Krathwohl: <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Die Matrix ermöglicht eine Einordnung des Items in die Wissens und kognitive Prozessdimension. Dies kann später für die Prüfungserzeugung und für Analysen genutzt werden'"/>
          </b-col>
          <b-col>
            <akMatrix ref="akMatrix" :dataToShow="form.annotations.bloom"/>
          </b-col>
        </b-row>
        <b-form-group>
          <b-row>
            <legend class="col-3 col-form-label">Themen: <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Über diese Auswahl kann das Item mit Themen und Themenkomplexen versehen werden. Dies kann später bei der Prüfungserzeugung und für Analysen genutzt werden'"/></legend>
            <b-col>
              <div id="multiselect">
                <multiselect ref="multiselect" v-model="form.annotations.topics" :options="$store.state.topics" label="title" track-by="@id" :multiple="true" :close-on-select="false" placeholder="Themen zur Einordnung" selectLabel="Enter drücken zum auswählen" selectedLabel="Ausgewäht" deselectLabel="Enter drücken zum entfernen" :taggable="true" @tag="addToTopics" tag-placeholder="Als neues Thema hinzufügen" :class="{ highlighted: highlightMultiselect }"></multiselect>
              </div>
              <b-tooltip :disabled="!highlightMultiselect" :show="highlightMultiselect" target="multiselect" placement="top">
                Wir empfehlen Themen auszuwählen
              </b-tooltip>
            </b-col>
          </b-row>
        </b-form-group>
        <hr>
        <p v-if="form.annotations.status === 'deferred'" align="center" style="color: red;">Zurückgestellte Items bleiben beim speichern zurückgestellt. Der Status kann nur in der Begutachten-Ansicht geändert werden.</p>
        <p v-if="form.annotations.flagged === true" align="center" style="color: red;">Eine Markierung wird beim speichern nicht entfernt! Dies kann nur in der Begutachten-Ansicht erfolgen.</p>
        <p v-if="form.annotations.status === 'draft' && !isEmpty(form['@id'])" align="center" style="color: red;">Bei Speicherung des Items wird der Status auf "Überarbeitet" gesetzt.</p>
        <p v-if="form.annotations.status === 'toRevise' || form.annotations.status === 'published'" align="center" style="color: red;">Bei Speicherung des Items wird der Status auf "Überarbeitet" gesetzt.</p>
        <b-row class="buttonSpacing">
          <b-col cols="5">
            <b-button type="reset" variant="danger" tabindex="-1">Reset</b-button>
          </b-col>
          <b-col cols="2">
            <b-button v-if="!isRE()" v-b-modal.previewModal variant="primary">Vorschau</b-button>
          </b-col>
          <b-col/>
          <b-col cols="4" style="margin-right: 0;">
            <div class="float-right" style="margin-right: 0;">
              <b-button v-on:click="copyItem()" variant="info" v-if="form['@id'] && !isRE()" v-b-tooltip.hover title="Erstellt eine Kopie des aktuellen Items im gleichen Projekt und öffnet die Kopie folgend">Item kopieren</b-button>
              <b-button v-on:click="validate()" variant="info">Validieren</b-button>
              <b-button v-if="enableSaveButton" type="submit" variant="success" :disabled="!enableSaveButton">Speichern</b-button>
              <span v-else v-b-tooltip.hover title="Bitte erst die Eingabe validieren">
                <b-button type="submit" variant="success" disabled>Speichern</b-button>
              </span>
            </div>
          </b-col>
        </b-row>
      </div>
      <div v-else>
        <b-alert show variant="danger" class="text-center">Noch nicht implementiert</b-alert>
      </div>
    </b-form>
    <b-modal id="previewModal" centered title="Item-Vorschau" ok-only size="xl">
      <b-container fluid>
        <b-row align-v="center">
          <b-col>
            <itemPreview id="itemPreview" :item="form" :studentView="true"/>
          </b-col>
        </b-row>
      </b-container>
    </b-modal>
  </b-card>
</template>

<script>

import itemAPI from '../api/item.js'
import isEmpty from 'lodash/isEmpty'
import assignIn from 'lodash/assignIn'
import last from 'lodash/last'
import union from 'lodash/union'
import remove from 'lodash/remove'
import akMatrix from '@/components/akMatrix.vue'
import learningOutcomeFormInput from '@/components/learningOutcomeFormInput.vue'
import multiselect from 'vue-multiselect'
import itemStatusBar from '@/components/itemStatusBar.vue'
import itemPreview from '@/components/itemPreview'

export default {
  name: 'itemForm',
  components: {
    akMatrix,
    learningOutcomeFormInput,
    multiselect,
    itemStatusBar,
    itemPreview
  },
  props: {
    itemID: { required: true },
    item: { type: Object, default: () => { return {} } }
  },
  data () {
    return {
      defaultForm: {
        '@type': undefined,
        title: undefined,
        description: undefined,
        task: undefined,
        points: 5,
        remoteItemURL: undefined,
        // difficulty : 50
        expectedSolvability: 0.5,
        learningOutcome: null,
        maximumSelectableAnswers: 1,
        minimumSelectableAnswers: 1,
        answers: [
          { text: '', points: 5, pointsNotSelected: 5, sequenceStep: 1 },
          { text: '', points: 5, pointsNotSelected: 5, sequenceStep: 2 },
          { text: '', points: 5, pointsNotSelected: 5, sequenceStep: 3 },
          { text: '', points: 5, pointsNotSelected: 5, sequenceStep: 4 }
        ],
        annotations: {
          bloom: [ /* {
            performanceLevel: null,
            knowledgeDimension: null
          } */ ],
          status: 'draft',
          topics: [],
          note: null,
          flagged: false
        }
      },
      form: {
        '@type': undefined,
        title: undefined,
        description: undefined,
        task: undefined,
        points: 5,
        remoteItemURL: undefined,
        expectedSolvability: 0.5,
        learningOutcome: null,
        maximumSelectableAnswers: 1,
        minimumSelectableAnswers: 1,
        answers: [
          { text: '', points: 5, pointsNotSelected: 5, sequenceStep: 1 },
          { text: '', points: 5, pointsNotSelected: 5, sequenceStep: 2 },
          { text: '', points: 5, pointsNotSelected: 5, sequenceStep: 3 },
          { text: '', points: 5, pointsNotSelected: 5, sequenceStep: 4 }
        ],
        annotations: {
          bloom: [],
          status: 'draft',
          note: null,
          flagged: false,
          topics: []
        }
      },
      itemTypes: this.$store.state.optionsItemTypes.sort((a, b) => (a.text === 'Remote') ? 1 : 0),
      continousValidation: false,
      enableSaveButton: false,
      highlightMultiselect: false
    }
  },
  created: async function () {
    this.isEmpty = isEmpty
    if (!isEmpty(this.item))
      assignIn(this.form, this.item)
    else
      this.form['@type'] = this.itemTypes[0].value
  },
  watch: {
    item: function (newVal, oldVal) {
      if (!isEmpty(newVal)) {
        assignIn(this.form, newVal)
      } else {
        this.form = assignIn({}, JSON.parse(JSON.stringify(this.defaultForm)), { '@type': this.itemTypes[0].value })
      }
      this.continousValidation = false
    },
    form: {
      handler: function (newVal, oldVal) {
        if (this.enableSaveButton === true)
          this.enableSaveButton = false
        if (newVal.minimumSelectableAnswers > newVal.maximumSelectableAnswers)
          newVal.maximumSelectableAnswers = newVal.minimumSelectableAnswers
        newVal.expectedSolvability = Number(newVal.expectedSolvability)
        if (!isEmpty((newVal.annotations || {}).topics)) {
          this.highlightMultiselect = false
          if (typeof newVal.annotations.topics[0] === 'string')
            newVal.annotations.topics = newVal.annotations.topics.map((topicID) => this.$store.state.topics.find((topic) => topic['@id'] === topicID))
        }
      },
      deep: true
    }
  },
  computed: {
    expectedSolvabilityTooltipText () {
      let prefix = ''
      if (this.form.expectedSolvability <= 0.3)
        prefix = 'Nur wenige Lernende'
      else if (this.form.expectedSolvability <= 0.6)
        prefix = 'Eine mittlere Anzahl Lernende'
      else if (this.form.expectedSolvability <= 0.9)
        prefix = 'Die meisten Lernenden'
      else
        prefix = 'Alle Lernenden'
      return prefix + ' können diese Aufgabe lösen'
    }
  },
  methods: {
    isValid (ref) {
      if (this.veeFields[ref] && (this.veeFields[ref].dirty || this.veeFields[ref].validated) && this.continousValidation) {
        return (!this.errors.has(ref)) ? null : !this.errors.has(ref)
      }
      return null
    },
    isMC () {
      return this.form['@type'] === 'http://tech4comp/eal/MultipleChoiceItem'
    },
    isSC () {
      return this.form['@type'] === 'http://tech4comp/eal/SingleChoiceItem'
    },
    isFT () {
      return this.form['@type'] === 'http://tech4comp/eal/FreeTextItem'
    },
    isAR () {
      return this.form['@type'] === 'http://tech4comp/eal/ArrangementItem'
    },
    isRE () {
      return this.form['@type'] === 'http://tech4comp/eal/RemoteItem'
    },
    newAnswerField () {
      this.form.answers.push({ text: '', points: 5, pointsNotSelected: 5, sequenceStep: 2 })
    },
    removeInput (index) {
      this.form.answers.splice(index, 1)
    },
    async validate () {
      this.continousValidation = true
      let validity = await this.$validator.validateAll()
      const extendedResults = await this.extendedValidityCheck()
      const errorList = this.errors.all().concat(extendedResults.errors)
      validity = validity && extendedResults.valid
      if (validity) {
        this.$swal.fire({ icon: 'success', toast: true, timer: 5000, position: 'top-end', showConfirmButton: false, titleText: 'Die Maske ist korrekt ausgefüllt' })
        this.enableSaveButton = true
      } else {
        const h = this.$createElement
        const errorMessages = []
        const toastID = 'validation-toast'
        this.$bvToast.hide(toastID)
        if (!isEmpty(errorList)) {
          errorList.forEach(entry => {
            errorMessages.push(h('li', entry))
          })
        }

        this.$bvToast.toast([errorMessages], {
          id: toastID,
          title: 'Eingabemaske inkorrekt',
          toaster: 'b-toaster-bottom-center',
          solid: true,
          variant: 'warning',
          noAutoHide: true
        })
      }
      return validity && isEmpty(errorList)
    },
    async onSubmit (tmp, itemToPost = undefined) {
      // if (await this.validate()) {
      if (!this.form.annotations)
        this.form.annotations = {}
      this.form.annotations.bloom = this.$refs.akMatrix.reduceMatrix()
      let toPost, itemID
      if (isEmpty(itemToPost)) {
        toPost = this.cleanUp(this.form)
        itemID = this.itemID
      } else
        toPost = this.cleanUp(itemToPost)
      const result = await itemAPI.write(toPost, itemID)
      if (!isEmpty(result['@context'])) {
        this.$swal.fire({ icon: 'success', toast: true, timer: 5000, position: 'top-end', showConfirmButton: false, titleText: 'Das Item wurde gespeichert' })
        this.form = assignIn({}, this.defaultForm, result)
        return result
      } else {
        this.$swal.fire({ icon: 'error', titleText: 'Das Item konnte nicht gespeichert werden', text: result.message })
        return false
      }
    },
    onReset (evt) {
      /* Reset form values */
      this.form = assignIn({}, JSON.parse(JSON.stringify(this.defaultForm)), { '@type': this.itemTypes[0].value })
    },
    async copyItem () {
      const toPost = JSON.parse(JSON.stringify(this.form))
      delete toPost['@id']
      delete toPost['@context']
      const success = await this.onSubmit(undefined, toPost)
      if (success !== false) {
        this.$router.push(`/projects/${this.$route.params.projectID}/item/${last(success['@id'].split('/'))}`)
      }
    },
    async extendedValidityCheck () {
      let executed = []
      if (this.isSC() || this.isMC() || this.isAR())
        executed.push(await this.$validator.verify(this.form.answers, 'minLength:2', { bails: false }))
      if (this.isSC())
        executed.push(await this.$validator.verify(this.form.answers, 'minPoints:1', { bails: false }))
      if (this.isAR()) {
        executed.push(await this.$validator.verify(this.form.answers, 'sequenceStepsStartsAt:1', { bails: false }))
        executed.push(await this.$validator.verify(this.form.answers, 'sequenceStepsRising', { bails: false }))
      }
      this.$refs.akMatrix.validate()
      this.$refs.learningOutcomeFormInput.validate()
      this.highlightMultiselect = isEmpty(this.form.annotations.topics)
      executed.push(await this.$validator.verify(this.$store.state.project.chosenProject, 'required', { bails: false, name: 'Projekt' }))
      executed = executed.reduce((a, b) => { return { errors: a.errors.concat(b.errors), valid: a.valid && b.valid } }, { errors: [], valid: true })
      return executed
    },
    cleanUp (form) {
      const result = JSON.parse(JSON.stringify(form))
      if (isEmpty(result.learningOutcome))
        delete result.learningOutcome
      if (!this.isRE())
        delete result.remoteItemURL
      if (this.isMC()) {
        delete result.points
        result.minimumSelectableAnswers = Number(result.minimumSelectableAnswers)
        result.maximumSelectableAnswers = Number(result.maximumSelectableAnswers)
        result.answers.forEach((answer) => {
          delete answer.sequenceStep
        })
      } else if (this.isSC()) {
        delete result.maximumSelectableAnswers
        delete result.minimumSelectableAnswers
        delete result.points
        result.answers.forEach((answer) => {
          delete answer.pointsNotSelected
          delete answer.sequenceStep
        })
      } else if (this.isAR()) {
        delete result.maximumSelectableAnswers
        delete result.minimumSelectableAnswers
        delete result.points
        result.answers.forEach((answer) => {
          delete answer.pointsNotSelected
        })
      } else if (this.isFT()) {
        delete result.maximumSelectableAnswers
        delete result.minimumSelectableAnswers
        delete result.answers
      } else if (this.isRE()) {
        delete result.maximumSelectableAnswers
        delete result.minimumSelectableAnswers
        delete result.answers
        delete result.points
        delete result.description
        delete result.task
      }
      if (result.difficulty === null)
        delete result.difficulty
      if (!isEmpty(result.annotations)) {
        if (!isEmpty(result.annotations.status)) {
          const status = result.annotations.status
          if (status === 'toRevise' || status === 'published' || (status === 'draft' && !isEmpty(result['@id'])))
            result.annotations.status = 'revisioned'
        }
        if (result.annotations.flagged === false)
          delete result.annotations.flagged
        if (isEmpty(result.annotations.note))
          delete result.annotations.note
        if (isEmpty(result.annotations.bloom))
          delete result.annotations.bloom
        if (isEmpty(result.annotations.topics))
          delete result.annotations.topics
        else
          result.annotations.topics = result.annotations.topics.map((topic) => topic['@id'])
        if (isEmpty(result.annotations))
          delete result.annotations
      }
      if (isEmpty(result.project))
        result.project = this.$store.state.project.chosenProject
      if (isEmpty(result.contributors)) {
        if (isEmpty(this.$store.state.user))
          result.contributors = ['http://tech4comp.org/eal/user/example_user']
        else
          result.contributors = ['http://tech4comp.org/eal/user/' + this.$store.state.user.preferred_username]
      } else {
        // NOTE gradually clean up stored data from before users were existing
        if (!isEmpty(this.$store.state.user)) {
          if (result.contributors.some((el) => el.includes('http://example.org/')))
            remove(result.contributors, (el) => el.includes('http://example.org/'))
          if (!result.contributors.includes('http://tech4comp.org/eal/user/' + this.$store.state.user.preferred_username))
            result.contributors.push('http://tech4comp.org/eal/user/' + this.$store.state.user.preferred_username)
        }
      }

      return result
    },
    adoptLOBloomAndTopics () {
      const chosenLO = this.$store.state.learningOutcomes.find((lo) => this.form.learningOutcome === lo['@id'])
      if (!isEmpty(chosenLO)) {
        if (!this.form.annotations)
          this.form.annotations = {}
        const chosenTopics = chosenLO.topics.map((topic1) => {
          return this.$store.state.topics.find((topic2) => topic1 === topic2['@id'])
        })
        this.form.annotations.bloom = union(this.form.annotations.bloom, chosenLO.bloom)
        this.form.annotations.topics = union(this.form.annotations.topics, chosenTopics)
      }
    },
    async addToTopics (newTopic) {
      newTopic = await this.$store.dispatch('addTopic', newTopic)
      this.form.annotations.topics.push(newTopic)
    }
  }
}
</script>

<style scoped>
  .buttonSpacing button {
    margin: 0.25rem;
  }
  .answers {
    margin-bottom: 1rem;
  }
  input:invalid {
    border-color: red;
  }
  .bloomRow {
    margin-bottom: 1rem;
  }
  .row.answers > div {
    margin-right: 1rem;
    padding: 0 0 0 0;
  }
  .row.answers > div:first-child {
    margin-left: 1rem;
  }
  .row.answers > div:last-child {
    margin-right: 0;
  }
  .highlighted {
    border: 0.05rem solid rgb(253, 216, 53) !important;
    border-radius: 0.4rem;
  }
  .multiselect:not(.highlighted) {
    border: 0.05rem solid rgb(206, 212, 218) !important;
    border-radius: 0.4rem;
    /* border: 0.05rem solid rgb(40, 167, 69) !important; */
  }
  #itemPreview {
    border: solid rgba(0,0,0,0.2) 1px;
    background-color: rgba(0,0,0,0.025);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.5rem;
  }
</style>

<style>
  .b-toaster-bottom-center .toast-body {
    padding-left: 2rem;
  }
</style>
