<template>
  <div>
      <h3>{{item.title}}</h3>
      <h6>{{replaceItemTypeWithHumanReadableText(item['@type'])}} Item</h6>
      <hr>
      <!-- <p v-if="!isEmpty(item.description)">{{item.description}}</p> -->
      <p v-if="!isEmpty(item.description)" v-html="sanitizeHtml(item.description, sanitizeOptions)"/>
      <!-- <p v-if="!isEmpty(item.task)">{{item.task}}</p> -->
      <p v-if="!isEmpty(item.task)" v-html="sanitizeHtml(item.task, sanitizeOptions)"/>
      <a v-if="!isEmpty(item.remoteItemURL) && !studentView" :href="item.remoteItemURL" target="_blank">{{item.remoteItemURL}}</a>
      <hr v-if="(item.answers || []).length > 0 || isFT() ">
      <b-form-textarea v-if="studentView && isFT()" placeholder="Antwort..." rows="3" disabled/>
      <p v-if="(item.answers || []).length > 0 && !isFT()">
        {{item.answers.length}} Antwortmöglichkeiten<span v-if="isMC()">{{(typeof item.minimumSelectableAnswers !== 'undefined') ? ', Minimal ' + item.minimumSelectableAnswers : ''}}{{(typeof item.maximumSelectableAnswers !== 'undefined') ? ', Maximal ' + item.maximumSelectableAnswers : ''}}</span>:
      </p>
      <ul v-if="(item.answers || []).length > 0 && !isFT()">
       <li v-for="(answer, index) in item.answers" :key="'answer' + index">
        <span v-if="!studentView">{{answer.points}} Punkte{{(typeof answer.pointsNotSelected !== 'undefined') ? ', wenn falsch ' + answer.pointsNotSelected + ' Punkte' : ''}}, <span v-html="sanitizeHtml(answer.text, sanitizeOptions)"/></span>
        <b-form-checkbox v-else disabled v-html="sanitizeHtml(answer.text, sanitizeOptions)"/>
        </li>
      </ul>
      <hr>
      <p v-if="!studentView">Empirische Schwierigkeit: {{item.difficulty}}/100, Erwartete Lösungswahrscheinlichkeit: {{item.expectedSolvability}} (0-1)</p>
      <p v-if="!studentView">Status: {{renameStatusToGerman((item.annotations || {}).status)}}</p>
      <p>Intended Learning Outcome: <b-link href="#" @click="showLearningOutcome" :disabled="$store.state.learningOutcomes.findIndex ((tmp) => tmp['@id'] === item.learningOutcome) === -1">{{($store.state.learningOutcomes.find((tmp) => tmp['@id'] === item.learningOutcome) || {title: "Keines zugeordnet"}).title}}</b-link></p>

      <p v-if="!isEmpty((item.annotations || {}).topics) && !studentView">Themen: <b-badge pill variant="primary" v-for="(topic, index) in (item.annotations || {}).topics" :key="'topic' + index">{{($store.state.topics.find((tmp) => tmp['@id'] === topic) || {}).title}}</b-badge>
      </p>
      <akMatrix ref="akMatrix" v-if="!studentView" :dataToShow="(item.annotations || {}).bloom" disabled/>
      <b-alert show variant="warning" v-if="!isEmpty((item.annotations || {}).note) && !studentView" style="margin-top: 1rem; margin-bottom: 0.5rem;">
      <strong>Notiz: {{(item.annotations || {}).note}}</strong>
      </b-alert>
      <dataEditModal v-model="showLearningOutcomeModel" :dataToDisplay="learningOutcomeToDisplay" variant="learningOutcome" :disableInputs="true"/>
  </div>
</template>

<script>
import isEmpty from 'lodash/isEmpty'
import { replaceItemTypeWithHumanReadableText, renameStatusToGerman } from '@/common'
import akMatrix from '@/components/akMatrix.vue'
import dataEditModal from '@/components/dataEditModal.vue'
import sanitizeHtml from 'sanitize-html'

export default {
  name: 'itemPreview',
  components: { akMatrix, dataEditModal },
  props: {
    item: { type: Object, default: () => { return {} }, required: true },
    studentView: { type: Boolean, default: false }
  },
  data: () => {
    return {
      learningOutcomeToDisplay: {},
      showLearningOutcomeModel: false,
      sanitizeOptions: {}
    }
  },
  created () {
    const allowedAttributes = sanitizeHtml.defaults.allowedAttributes
    allowedAttributes.span = ['style']
    allowedAttributes.img = ['src', 'alt', 'height', 'width']
    this.sanitizeOptions = {
      allowedTags: sanitizeHtml.defaults.allowedTags.concat(['img']),
      allowedAttributes,
      allowedSchemesByTag: {
        img: ['https']
      },
      allowedStyles: {
        span: {
          'text-decoration': [/^underline$/]
        }
      }
    }
  },
  watch: {
    showLearningOutcomeModel (newVal) {
      if (newVal === false)
        this.learningOutcomeToDisplay = {}
    }
  },
  methods: {
    isEmpty,
    sanitizeHtml,
    renameStatusToGerman,
    replaceItemTypeWithHumanReadableText,
    isMC () {
      return this.item['@type'] === 'http://tech4comp/eal/MultipleChoiceItem'
    },
    isSC () {
      return this.item['@type'] === 'http://tech4comp/eal/SingleChoiceItem'
    },
    isFT () {
      return this.item['@type'] === 'http://tech4comp/eal/FreeTextItem'
    },
    isAR () {
      return this.item['@type'] === 'http://tech4comp/eal/ArrangementItem'
    },
    showLearningOutcome () {
      this.learningOutcomeToDisplay = JSON.parse(JSON.stringify(this.$store.state.learningOutcomes.find((lo) => lo['@id'] === this.item.learningOutcome)))
      this.showLearningOutcomeModel = true
    }
  }
}
</script>

<style scoped>
  a.disabled {
    pointer-events: none;
    color: rgb(33, 37, 41);
  }
  .badge {
    margin-right: 0.5rem;
  }
  p, li, hr {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
</style>
