<template>
    <b-form-group label-cols="3">
        <template v-slot:label>
          Status: <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Der Status zeigt an, in welchem Zustand sich ein Item befindet und kann in der Begutachten-Ansicht verändert werden'"/>
        </template>
        <b-container>
          <b-form-row v-if="value !== 'deferred'">
            <b-col>
              <b-progress :max="100" height="2.4rem" :variant="progressBarColor">
                <b-progress-bar :value="100" :label="renameStatusToGerman(shallowValue)"/>
              </b-progress>
            </b-col>
            <b-col cols="1" v-if="annotation.flagged"><b-button block variant="warning" v-b-tooltip.hover title="Öffnet bei Klick einen Dialog mit dem Grund der Markierung" @click="showReason(true)"><font-awesome-icon icon="exclamation-triangle"/></b-button></b-col>
          </b-form-row>
          <b-form-row v-else>
            <b-col>
              <b-button block :variant="progressBarColor" v-b-tooltip.hover title="Öffnet bei Klick einen Dialog mit dem Grund der Rückstellung" @click="showReason">
                {{renameStatusToGerman(shallowValue)}}
              </b-button>
            </b-col>
          </b-form-row>
        </b-container>
    </b-form-group>
</template>

<script>

import { renameStatusToGerman } from '@/common'

export default {
  name: 'itemStatusBar',
  props: {
    value: { type: String, default: 'draft' },
    annotation: { type: Object, default: () => {} }
  },
  data () {
    return {
      availableStati: ['draft', 'revisioned', 'published', 'deferred', 'toRevise']
    }
  },
  created () {
    this.renameStatusToGerman = renameStatusToGerman
  },
  computed: {
    shallowValue () {
      return this.value
    },
    progressBarColor () {
      switch (this.shallowValue) {
        case this.availableStati[0]:
          return 'secondary'
        case this.availableStati[1]:
          return 'primary'
        case this.availableStati[3]:
          return 'dark'
        case this.availableStati[4]:
          return 'info'
        default:
          return 'success'
      }
    }
  },
  methods: {
    showReason (mark = false) {
      this.$swal.fire({ icon: 'info', showConfirmButton: true, titleText: 'Grund der ' + ((mark) ? 'Markierung' : 'Rückstellung'), html: '<p>' + (this.annotation.note || '') + '</p>' })
    }
  }
}

</script>

<style scoped>
  div.container {
    padding: 0;
  }
  div.container div.progress > div {
    padding-top: 0.4rem;
    font-size: 1.5rem;
  }
</style>
