<template>
  <div class="badges" style="display: flex;">
    <b-badge v-if="availableStati.includes(status)" :variant="badgeColor" v-b-tooltip.hover :title="renameStatusToGerman(status)">{{innerElement}}</b-badge>
    <div v-else>{{innerElement}}</div>
    <b-badge class="lastBadge" v-if="flagged" variant="warning" v-b-tooltip.hover title="Markiert" >
      <font-awesome-icon icon="exclamation-triangle" transform="up-4"/>
    </b-badge>
  </div>
</template>

<script>

import { renameStatusToGerman } from '@/common'

export default {
  name: 'itemListStatus',
  props: {
    innerElement: { type: String, default: '' },
    status: { type: String, default: 'draft' },
    flagged: { type: Boolean, default: false }
  },
  data () {
    return {
      availableStati: ['draft', 'revisioned', 'published', 'deferred', 'toRevise']
    }
  },
  computed: {
    badgeColor () {
      switch (this.status) {
        case this.availableStati[0]:
          return 'secondary'
        case this.availableStati[1]:
          return 'primary'
        case this.availableStati[3]:
          return 'dark'
        case this.availableStati[4]:
          return 'info'
        default:
          return 'success'
      }
    }
  },
  methods: {
    renameStatusToGerman
  }
}

</script>

<style scoped>
  .badge {
    padding-top: 0.4rem;
    padding-bottom: 0.2rem;
  }
  .lastBadge {
    height: 1.4rem;
    margin-left: 0.5rem;
  }
</style>
