<template>
  <div>
    <transition name="fade" mode="out-in">
      <div v-if="!collapseState" class="text-center" style="margin-bottom: 0.5rem;">
        <b-button size="sm" @click="collapseState = !collapseState">Filter anzeigen</b-button>
      </div>
    </transition>
    <b-collapse id="filterCollapse" v-model="collapseState" style="margin-bottom: 1rem;">
      <b-card>
        <b-row class="filters">
          <b-col>
            <b-form-group v-if="showStati" label="Status:">
              <b-form-checkbox-group v-model="filterObject.status" :options="statusOptions" stacked/>
              <b-link @click.prevent="filterObject.status = []">Auswahl aufheben</b-link>
            </b-form-group>
            <b-form-group label="Markierung:">
              <b-form-checkbox v-model="filterObject.flagged">Markiert</b-form-checkbox>
              <b-link @click.prevent="filterObject.flagged=false">Auswahl aufheben</b-link>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group label="Item Typ:">
              <b-form-checkbox-group v-model="filterObject.itemType" :options="typeOptions" stacked/>
              <b-link @click.prevent="filterObject.itemType = []">Auswahl aufheben</b-link>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group label="Erstellt:">
              <b-form-radio-group v-model="filterObject.createdBefore">
                <b-form-radio :value="true">vor</b-form-radio>
                <b-form-radio :value="false">nach</b-form-radio>
              </b-form-radio-group>
              <b-form-datepicker v-model="filterObject.created" placeholder="Kein Datum ausgewählt" today-button label-today-button="Heute" reset-button/>
            </b-form-group>
            <b-form-group label="Letzte Modifikation:">
              <b-form-radio-group v-model="filterObject.lastModifiedBefore">
                <b-form-radio :value="true">vor</b-form-radio>
                <b-form-radio :value="false">nach</b-form-radio>
              </b-form-radio-group>
              <b-form-datepicker v-model="filterObject.created" placeholder="Kein Datum ausgewählt" today-button label-today-button="Heute" reset-button/>
            </b-form-group>
          </b-col>
        </b-row>
        <hr>
        <b-row>
          <b-col>
            <multiselect ref="multiselect" v-b-tooltip.hover title="Items, die mindestens eines der gelisteten Themen enthalten" v-model="filterObject.topics" :options="$store.state.topics" label="title" track-by="@id" :multiple="true" :close-on-select="false" placeholder="Themen" selectLabel="Enter drücken zum auswählen" selectedLabel="Ausgewäht" deselectLabel="Enter drücken zum entfernen" openDirection="bottom"></multiselect>
          </b-col>
        </b-row>
        <hr/>
        <div class="text-center">
          <b-button size="sm" @click="collapseState = !collapseState">Filter ausblenden</b-button>
        </div>
      </b-card>
    </b-collapse>
  </div>
</template>

<script>
import multiselect from 'vue-multiselect'

export default {
  name: 'itemFilter',
  components: { multiselect },
  props: {
    value: { type: Object },
    showStati: { type: Boolean, default: () => { return true } }
  },
  data () {
    return {
      collapseState: false,
      typeOptions: this.$store.state.optionsItemTypes.sort((a, b) => (a.text === 'Remote') ? 1 : 0),
      statusOptions: [{ text: 'Entwurf', value: 'draft' }, { text: 'Zu bearbeiten', value: 'toRevise' }, { text: 'Bearbeitet', value: 'revisioned' }, { text: 'Zugelassen', value: 'published' }],
      filterObject: {
        status: [],
        itemType: [],
        flagged: false,
        created: undefined,
        createdBefore: false,
        lastModified: undefined,
        lastModifiedBefore: false,
        topics: []
      }
    }
  },
  watch: {
    filterObject: {
      handler () {
        // console.log(this.filterObject)
        this.$emit('input', this.filterObject)
      },
      deep: true
    }
  }
}

</script>

<style scoped>
  .filters > .col {
    border-right: solid rgba(128, 128, 128, 0.3) 1px;
  }
  .filters > .col:last-child {
    border-right: none;
  }
</style>
