<template>
  <div>
    <h3>{{element.title}}</h3>
    <h6>Intended Learning Outcome</h6>
    <hr>
    <p v-if="!isEmpty(element.description)" v-html="sanitizeHtml(element.description, sanitizeOptions)"/>
    <akMatrix ref="akMatrix" :dataToShow="element.bloom" disabled/>
    <p v-if="!isEmpty(element.topics)">Themen: <b-badge pill variant="primary" v-for="(topic, index) in element.topics" :key="'topic' + index">{{($store.state.topics.find((tmp) => tmp['@id'] === topic) || {}).title}}</b-badge>
    </p>
  </div>
</template>

<script>
import isEmpty from 'lodash/isEmpty'
import akMatrix from '@/components/akMatrix.vue'
import sanitizeHtml from 'sanitize-html'

export default {
  name: 'itemPreview',
  components: { akMatrix },
  props: {
    element: { type: Object, default: () => { return {} }, required: true }
  },
  data: () => {
    return {
      sanitizeOptions: {}
    }
  },
  created () {
    const allowedAttributes = sanitizeHtml.defaults.allowedAttributes
    allowedAttributes.span = ['style']
    allowedAttributes.img = ['src', 'alt', 'height', 'width']
    this.sanitizeOptions = {
      allowedTags: sanitizeHtml.defaults.allowedTags.concat(['img']),
      allowedAttributes,
      allowedSchemesByTag: {
        img: ['https']
      },
      allowedStyles: {
        span: {
          'text-decoration': [/^underline$/]
        }
      }
    }
  },
  methods: {
    isEmpty,
    sanitizeHtml
  }
}
</script>

<style scoped>
  a.disabled {
    pointer-events: none;
    color: rgb(33, 37, 41);
  }
  .badge {
    margin-right: 0.5rem;
  }
  p, hr {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
</style>
