<template>
  <div>
    <b-form-group label-cols="3">
      <template v-slot:label>
        Intended Learning Outcome: <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Die Liste ermöglicht es Intended Learning Outcomes mit Items zu verknüpfen. Bei der Auswahl werden Themen und Levels nach Anderson & Krathwohl aus dem Intended Learning Outcome für das Item übernommen'"/>
      </template>
      <b-input-group append>
        <b-form-select id="loSelect" v-model="learningOutcome" :options="$store.state.optionsLearningOutcomes" :class="{highlight: highlight}">
          <template slot="first">
            <option :value="null">Intended Learning Outcome...</option>
          </template>
        </b-form-select>
        <b-tooltip :disabled="disableToolTip" :show="!disableToolTip" target="loSelect" placement="top">
          Wir empfehlen ein Intended Learning Outcome auszuwählen
        </b-tooltip>
        <b-button variant="secondary" @click="showLearningOutcomeModel = true">Anlegen</b-button>
        <b-button variant="primary" :disabled="learningOutcome === null" @click="showData" style="margin-left: 0.5rem;" v-b-tooltip.hover title="Intended Learning Outcome anzeigen"><font-awesome-icon icon="eye" transform="down-2"/></b-button>
      </b-input-group>
    </b-form-group>
    <dataEditModal v-model="showLearningOutcomeModel" :dataToDisplay="chosenLO" variant="learningOutcome" :api="api" :disableInputs="disableModalInputs"/>
  </div>
</template>

<script>

import isEmpty from 'lodash/isEmpty'
import dataEditModal from '@/components/dataEditModal.vue'
import loAPI from '@/api/learningOutcome.js'

export default {
  name: 'learningOutcomeFormInput',
  components: {
    dataEditModal
  },
  props: { value: { required: true } },
  data () {
    return {
      learningOutcome: null,
      showLearningOutcomeModel: false,
      highlight: false,
      api: loAPI,
      chosenLO: {},
      disableModalInputs: false
    }
  },
  computed: {
    disableToolTip () {
      return !this.highlight
    }
  },
  watch: {
    learningOutcome (newVal) {
      if (!isEmpty(newVal)) {
        if (isEmpty(this.value) || newVal !== this.value) {
          this.highlight = false
          this.$emit('input', newVal)
          this.$emit('choseLearningOutcome', newVal)
        }
      }
    },
    value: {
      handler (newVal) {
        this.learningOutcome = newVal
      },
      immediate: true
    },
    showLearningOutcomeModel (newVal) {
      if (newVal === false) {
        this.chosenLO = {}
        this.disableModalInputs = false
      }
    }
  },
  methods: {
    validate () {
      this.highlight = isEmpty(this.learningOutcome)
      return !this.highlight
    },
    showData () {
      this.chosenLO = this.$store.state.learningOutcomes.find((lo) => lo['@id'] === this.learningOutcome)
      this.disableModalInputs = true
      this.showLearningOutcomeModel = true
    }
  }
}

</script>

<style scoped>
  .highlight {
    border-color: #FDD835;
  }
</style>
