<template>
  <transition name="fade" mode="out-in" appear>
    <div v-if="$route.name == 'project' || $route.name === 'projects' || $route.name === 'learningOutcomes' || $route.name === 'review'" show>
      <hr/>
      <span id="legendHeading" class="mb-3">Legende</span>
      <transition name="fade" mode="out-in" appear>
        <div v-if="$route.name === 'project'" key="legend1">
          <b-badge><font-awesome-icon icon="hashtag"/></b-badge> - Anzahl<br/>
          <b-badge variant="warning"><font-awesome-icon icon="exclamation-triangle"/></b-badge> - Markiertes Item<br/>
          <b-badge class="badge-SC"><font-awesome-icon icon="circle"/></b-badge> - Single Choice Item<br/>
          <b-badge class="badge-MC"><font-awesome-icon icon="list"/></b-badge> - Multiple Choice Item<br/>
          <b-badge class="badge-FT"><font-awesome-icon icon="align-justify"/></b-badge> - Free Text Item<br/>
          <b-badge class="badge-AR"><font-awesome-icon icon="layer-group"/></b-badge> - Arrangement Item<br/>
          <b-badge class="badge-AS"><font-awesome-icon icon="long-arrow-alt-left"/></b-badge> - Assignment Item<br/>
          <b-badge class="badge-RE"><font-awesome-icon icon="link"/></b-badge> - Remote Item<br/>
          <b-badge variant="success"><font-awesome-icon icon="check"/></b-badge> - Zugelassenes Item<br/>
          <b-badge variant="danger"><font-awesome-icon icon="question"/></b-badge> - Zu begutachtendes Item<br/>
          <b-badge><font-awesome-icon icon="shopping-basket"/></b-badge> - Item-Korb<br/>
        </div>
        <div v-else-if="$route.name === 'projects'" key="legend2">
          <b-badge><font-awesome-icon icon="project-diagram"/></b-badge> - Projektnummer<br/>
          <b-badge><font-awesome-icon icon="file-alt"/></b-badge> - Items<br/>
          <b-badge><font-awesome-icon icon="graduation-cap"/></b-badge> - Learning Outcomes<br/>
        </div>
        <div v-else-if="$route.name === 'learningOutcomes'" key="legend3">
          <b-badge><font-awesome-icon icon="hashtag"/></b-badge> - Learning Outcome-Nummer<br/>
          <b-badge><font-awesome-icon icon="file-alt"/></b-badge> - Items<br/>
        </div>
        <div v-else-if="$route.name === 'review'" key="legend4">
          <b-badge><font-awesome-icon icon="hashtag"/></b-badge> - Anzahl Items des Status<br/>
          <b-badge variant="warning"><font-awesome-icon icon="exclamation-triangle"/></b-badge> - Anzahl markierter Items des Status<br/>
        </div>
      </transition>
    </div>
  </transition>
</template>

<style scoped>
  #legendHeading {
    font-size: 17px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
</style>
