<template>
  <b-modal v-model="showModal" centered title="Knoten verlinken" size="xl" ok-title="Speichern" cancel-title="Abbrechen" :ok-disabled="isEmpty(selectedLinkOptions)" @ok="handleSave">
    <b-container fluid>
      <b-row align-v="center">
        <b-col>
          <div v-if="isEmpty(element)" class="text-center">
            <b-spinner variant="info" style="width: 6rem; height: 6rem;"></b-spinner>
          </div>
          <itemPreview v-else-if="isItemUri(element['@id'])" :item="element" class="preview"/>
          <learningOutcomePreview v-else :element="element" class="preview"/>
        </b-col>
      </b-row>
      <hr v-if="!isEmpty(element)">
      <b-row>
        <legend class="col-2 col-form-label">Verlinkte Terme:</legend>
        <b-col>
          <multiselect v-model="selectedLinkOptions" :options="subjectGraph['@graph']" label="label" track-by="@id" :multiple="true" :close-on-select="false" placeholder="Terme zum Verlinken" selectLabel="Enter drücken zum auswählen" selectedLabel="Ausgewählt" deselectLabel="Enter drücken zum entfernen">
          </multiselect>
        </b-col>
      </b-row>
    </b-container>
  </b-modal>
</template>

<script>
import isEmpty from 'lodash/isEmpty'
import has from 'lodash/has'
import head from 'lodash/head'
import itemAPI from '@/api/item.js'
import itemPreview from '@/components/itemPreview'
import learningOutcomePreview from '@/components/learningOutcomePreview'
import kmAPI from '@/api/knowledgeMap'
import { isItemUri } from '@/common'
import multiselect from 'vue-multiselect'

export default {
  name: 'linkModal',
  components: { itemPreview, learningOutcomePreview, multiselect },
  props: {
    value: { type: Boolean, default: () => { return false }, required: true },
    subjectIRI: { type: String, default: undefined },
    subjectGraph: { type: Object, default: () => { return {} }, required: true },
    graphName: { type: String, default: undefined }
  },
  data: () => {
    return {
      showModal: false,
      selectedLinkOptions: [],
      element: undefined,
      existingKnowledgeMapLinks: {}
    }
  },
  watch: {
    value () {
      if (this.showModal !== this.value)
        this.showModal = this.value
    },
    showModal (newVal) {
      if (newVal === false)
        this.$emit('input', false)
    },
    async subjectIRI (newVal) {
      if (!isEmpty(newVal)) {
        try {
          this.element = undefined
          this.selectedLinkOptions = []
          this.existingKnowledgeMapLinks = {}
          if (isItemUri(newVal))
            this.element = await itemAPI.read(newVal)
          else
            this.element = JSON.parse(JSON.stringify(this.$store.state.learningOutcomes.find((lo) => lo['@id'] === newVal)))
          let tmp = await kmAPI.getLinksForElement(this.element['@id'])
          if (!isEmpty(tmp['@graph']))
            tmp = head(tmp['@graph'].filter((a) => a.project === this.$store.state.project.chosenProject && a.knowledgeMap === this.graphName))
          if (!isEmpty(tmp)) {
            this.selectedLinkOptions = tmp.topics.map((id) => this.subjectGraph['@graph'].find((el) => el['@id'] === id))
            this.existingKnowledgeMapLinks = tmp
          }
        } catch (e) {
          console.log(e)
          this.$swal.fire({ icon: 'error', titleText: 'Fehler beim abrufen der Daten', text: 'Der ausgewählte Datensatz kann leider nicht angezeigt werden. Bitte wählen sie einen anderen Datensatz aus und berichten sie den Fehler an den Entwickler der Anwendung.', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
          this.showModal = false
        }
      }
    }
  },
  methods: {
    isEmpty,
    isItemUri,

    async handleSave () {
      const reducedSelectedLinkOptions = this.selectedLinkOptions.map((subject) => subject['@id'])

      const data = {
        '@type': 'http://tech4comp/eal/knowledgeMapLink',
        project: this.$store.state.project.chosenProject,
        element: this.element['@id'],
        knowledgeMap: this.graphName,
        topics: reducedSelectedLinkOptions
      }
      if (!isEmpty(this.existingKnowledgeMapLinks))
        data['@id'] = this.existingKnowledgeMapLinks['@id']

      await this.writeData(data, 'linkWritten')
      this.showModal = false
    },

    async writeData (data, eventName) {
      const result = await kmAPI.writeKowledgeMapLink(data)
      if (has(result, 'status') && result.status === false)
        this.$emit('failed')
      else
        this.$emit(eventName, data)
    }
  }
}
</script>

<style scoped>
  .modal-content .row:last-child {
    margin-top: 1rem;
  }
  .preview {
    border: solid rgba(0,0,0,0.2) 1px;
    background-color: rgba(0,0,0,0.025);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.5rem;
  }
</style>
