<template>
  <div @linkNode="linkNode">
    <Ontodia class="ontodiaContainer" v-show="!isEmpty(dataToShow)" :dataToShow="dataToShow" :dynamicLinking="dynamicLinking"/>
    <linkModal v-if="dynamicLinking" v-model="showLinkModal" :subjectIRI="subjectIRI" :subjectGraph="subjectGraph" :graphName="selectedKnowledgeMap" @linkWritten="$emit('reload')"/>
  </div>
</template>

<script>
import ontodia from '@/components/ontodia.js'
import isEmpty from 'lodash/isEmpty'
import linkModal from '@/components/linkModal'
import kmAPI from '@/api/knowledgeMap'

export default {
  name: 'ontodia',
  props: {
    dataToShow: { default: '' },
    dynamicLinking: { type: Boolean },
    selectedKnowledgeMap: { type: String }
  },
  components: { Ontodia: ontodia, linkModal },
  data: () => {
    return {
      subjectIRI: undefined,
      showLinkModal: false,
      subjectGraph: {}
    }
  },
  async created () {
    if (this.dynamicLinking)
      this.subjectGraph = await kmAPI.getSubjects(this.selectedKnowledgeMap)
  },
  methods: {
    isEmpty,
    linkNode (e) {
      if (!isEmpty(e.detail) && (this.$store.state.item.items['@graph'].some((item) => item['@id'] === e.detail || this.$store.state.learningOutcomes.some((lo) => lo['@id'] === e.detail)))) {
        this.subjectIRI = e.detail
        this.showLinkModal = true
      }
    }
  }
}
</script>

<style scoped>
  .ontodiaContainer {
    border-style: solid;
    border-color: rgba(0,0,0,.25);
    border-width: 2px;
    border-radius: 4px;
    height: 48rem;
  }
</style>
