<template>
  <div>
    <b-modal id="reviewActionModal" ref="modal" centered hide-footer title="Was wollen sie tun?" @hidden="$emit('hidden')" v-model="showModal" size="xl">
      <b-container fluid>
        <b-row align-v="center">
          <b-col>
            <itemPreview id="itemPreview" :item="item"/>
          </b-col>
        </b-row>
        <hr>
        <b-row>
          <b-col v-if="$route.query.status !== 'published'">
            <b-button block variant="success" @click="publishItem()">Zulassen</b-button>
            <p>Durch ein Zulassen des Items bringen sie es in den Zustand, in dem es für Prüfungen verwendet werden kann. Markierungen und Notizen werden entfernt.</p>
          </b-col>
          <b-col v-if="$route.query.status !== 'deferred'">
            <b-button block variant="secondary" v-b-modal.deferModal>Zurückstellen</b-button>
            <p>Zurückgestellte Items sind zugelassene Items, die aus einem Grund nicht zur Prüfungserzeugung zugelassen sind.</p>
          </b-col>
          <b-col v-if="(item.annotations || {}).flagged !== true">
            <b-button block variant="warning" v-b-modal.markModal>Markieren</b-button>
            <p>Bei der Markierung eines Items weisen sie auf einen speziellen Fall hin, den sie mit einem Kommentar weiter beschreiben können. Markierte Items werden als "zu überarbeiten" eingeordnet.</p>
          </b-col>
          <b-col v-else>
            <b-button block variant="warning" @click="demarkItem">Markierung entfernen</b-button>
            <p>Die Markierung wird entfernt, die Notiz gelöscht und das Item als Überarbeitet eingeordnet</p>
          </b-col>
          <b-col>
            <b-button block variant="primary" :to="`/projects/${$route.params.projectID}/item/${last((item['@id'] || '').split('/'))}`">Bearbeiten</b-button>
            <p>Sie werden zur Bearbeitungsansicht eines Items weitergeleitet. Der aktuelle Status bleibt erhalten.</p>
          </b-col>
          <b-col>
            <b-button block variant="danger" @click="deleteItem">Löschen</b-button>
            <p>Das Item wird dauerhaft gelöscht. Es existiert kein Papierkorb!</p>
          </b-col>
        </b-row>
      </b-container>
    </b-modal>
    <b-modal id="markModal" ref="markModal" centered cancel-title="Abbrechen" title="Item Markieren" @hide="noteText = ''" @ok="markItem()" :ok-disabled="!inputLongEnough">
      <p>Der eingegebene Text wird an das Item angehangen, es wird markiert und zur Überarbeitung eingereicht.</p>
      <b-form-textarea v-model="noteText" placeholder="Geben sie mindestens 5 Buchstaben ein..." rows="3" :state="inputLongEnough"/>
    </b-modal>
    <b-modal id="deferModal" ref="deferModal" centered cancel-title="Abbrechen" title="Item Zurückstellen" @hide="noteText = ''" @ok="deferItem()" :ok-disabled="!inputLongEnough">
      <p>Der eingegebene Text wird an das Item angehangen und es wird zurückgestellt. Der Text ist bspw. als Begründung für die Rückstellung aufzufassen.</p>
      <b-form-textarea v-model="noteText" placeholder="Geben sie mindestens 5 Buchstaben ein..." rows="3" :state="inputLongEnough"/>
    </b-modal>
  </div>
</template>

<script>
import last from 'lodash/last'
import has from 'lodash/has'
import itemAPI from '@/api/item.js'
import itemPreview from '@/components/itemPreview'

export default {
  name: 'reviewModal',
  components: { itemPreview },
  props: {
    value: { type: Boolean, default: () => { return false }, required: true },
    item: { type: Object, default: () => { return {} } }
  },
  data: () => {
    return {
      noteText: '',
      showModal: false
    }
  },
  created () {
    this.last = last
  },
  computed: {
    inputLongEnough () {
      return this.noteText.length >= 5
    }
  },
  watch: {
    value () {
      if (this.showModal !== this.value)
        this.showModal = this.value
    },
    showModal (newVal, oldVal) {
      if (newVal === false)
        this.$emit('input', false)
    }
  },
  methods: {
    addAnnotationStructure () {
      if (!this.item.annotations)
        this.item.annotations = {}
    },
    async publishItem () {
      this.addAnnotationStructure()
      this.item.annotations.status = 'published'
      this.item.annotations.flagged = false
      delete this.item.annotations.note
      await this.writeItem(this.item, 'published')
      this.showModal = false
    },
    async deferItem () {
      this.addAnnotationStructure()
      this.item.annotations.status = 'deferred'
      this.item.annotations.note = this.noteText
      await this.writeItem(this.item, 'deferred')
      this.$refs.deferModal.hide()
      this.showModal = false
    },
    async markItem () {
      this.addAnnotationStructure()
      this.item.annotations.flagged = true
      this.item.annotations.note = this.noteText
      this.item.annotations.status = 'toRevise'
      await this.writeItem(this.item, 'marked')
      this.$refs.markModal.hide()
      this.showModal = false
    },
    async demarkItem () {
      this.addAnnotationStructure()
      this.item.annotations.flagged = false
      delete this.item.annotations.note
      this.item.annotations.status = 'revisioned'
      await this.writeItem(this.item, 'marked')
      this.$refs.markModal.hide()
      this.showModal = false
    },
    async deleteItem () {
      const deleteItem = await this.$swal.fire({ icon: 'warning', titleText: 'Das Item wirklich löschen?', html: `<p>Sie können das Item vor dem Löschen in der Export-Ansicht herunterladen, um eine Sicherrungskopie des Items zu erhalten.</p><a href="/projects/${this.$route.params.projectID}/items">Zur Export-Ansicht</a>`, showCancelButton: true, cancelButtonText: 'Abbrechen', confirmButtonText: 'Löschen', reverseButtons: true })
      if (deleteItem.value === true) {
        if (!(await itemAPI.delete(this.item['@id'])))
          this.$emit('failed')
        else {
          this.$emit('deleted', this.item)
        }
        this.showModal = false
      }
    },
    async writeItem (item, eventName) {
      const result = await itemAPI.write(item)
      if (has(result, 'status') && result.status === false)
        this.$emit('failed')
      else
        this.$emit(eventName, item)
    },
    openItem (id) {
      this.$router.push({ path: `/projects/${this.$route.params.projectID}/item/${last(id.split('/'))}` })
    }
  }
}
</script>

<style scoped>
  #reviewActionModal .row:last-child > .col {
    padding: 0.5rem 1rem 0.5rem 1rem !important;
  }
  #reviewActionModal .row:last-child > .col:nth-child(-n+3) {
    border-right: solid rgba(0,0,0,0.1) 1px;
  }
  #reviewActionModal .row:last-child > .col > p {
    margin-top: 1rem;
  }
  #itemPreview {
    border: solid rgba(0,0,0,0.2) 1px;
    background-color: rgba(0,0,0,0.025);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.5rem;
  }
</style>
