<template>
  <div>
    <b-alert :show="this.$store.state.showValidationError" @dismissed="clearReport()" variant="warning" dismissible fade>
      <h4 class="alert-heading">{{this.$store.state.validationText}}</h4>
      <hr v-if="this.$store.state.validationList.length !== 0"/>
      <ul v-for="(text, index) in this.$store.state.validationList" :key="index">
        <li>{{text}}</li>
      </ul>
    </b-alert>
  </div>
</template>

<script>
export default {
  name: 'validationReport',
  methods: {
    clearReport () {
      this.$store.commit('clearValidationReport')
    }
  }
}
</script>
