<template>
  <transition name="fade" mode="out-in" appear>
    <component class="helpContent" v-bind:is="content"></component>
  </transition>
</template>

<script>
import MarkdownIt from 'markdown-it'
import last from 'lodash/last'

export default {
  name: 'VueMarkdown',
  props: {
    source: { type: String, default: '', required: true }
  },
  data () {
    return {
      md: MarkdownIt,
      ids: []
    }
  },
  computed: {
    content () {
      this.ids = [] //eslint-disable-line
      return {
        name: 'VueMarkdown',
        template: '<div>' + this.md.render(this.source) + '</div>'
      }
    }
  },
  created () {
    this.md = new MarkdownIt({
      replaceLink: function (link, env) {
        if (link.includes('tutorials'))
          return '/help/' + last(link.split('/')).replace('.md', '')
        else
          return link
      },
      xhtmlOut: true,
      html: true
    })
    this.md
      .use(require('markdown-it-replace-link'))
      .use(require('markdown-it-anchor').default, {
        permalink: true,
        permalinkBefore: false,
        permalinkSymbol: '&#128279;'
      })
      .use(require('markdown-it-toc-done-right').default)

    const defaultImageRender = this.md.renderer.rules.image

    this.md.renderer.rules.image = function (tokens, idx, options, env, self) {
      const attributeIndex = tokens[idx].attrIndex('src')
      let src = tokens[idx].attrs[attributeIndex][1]
      if (src.includes('tutorial_img')) {
        src = '/tutorial_img/' + last(src.split('/'))
      }
      return defaultImageRender(tokens, idx, options, env, self)
    }

    const defaultLinkOpenRender = this.md.renderer.rules.link_open || function (tokens, idx, options, env, self) {
      return self.renderToken(tokens, idx, options)
    }

    const that = this

    this.md.renderer.rules.link_open = function (tokens, idx, options, env, self) {
      const token = tokens[idx]
      const hrefIndex = token.attrIndex('href')
      let href = 'http'
      if (hrefIndex >= 0) {
        href = token.attrs[hrefIndex][1]
      }
      if (!href.startsWith('http') && !href.startsWith('#')) { // local SPA link --> exchange with router-link
        token.attrs = token.attrs.map(attr => {
          if (attr[0] === 'href') {
            attr[0] = 'to'
            that.ids.push(idx)
          }
          return attr
        })
        return '<router-link class="test"' + self.renderAttrs(token) + '>'
      } else if (href.startsWith('http')) { // link to different page --> add target="_blank"
        const targetIndex = token.attrIndex('target')
        if (targetIndex < 0) {
          token.attrPush(['target', '_blank'])
        } else {
          token.attrs[targetIndex][1] = '_blank'
        }
        return defaultLinkOpenRender(tokens, idx, options, env, self)
      } else {
        return defaultLinkOpenRender(tokens, idx, options, env, self)
      }
    }

    const defaultLinkCloseRender = this.md.renderer.rules.link_close || function (tokens, idx, options, env, self) {
      return self.renderToken(tokens, idx, options)
    }

    this.md.renderer.rules.link_close = function (tokens, idx, options, env, self) {
      if (that.ids.includes(idx - 2)) // check if start tag is router-link or not
        return '</router-link>'
      else
        return defaultLinkCloseRender(tokens, idx, options, env, self)
    }
  }
}
</script>

<style>
  :target:before {
    content: "";
    display: block;
    height: 4.5rem;
    margin-top: -4.5rem;
  }
  div.helpContent :is(h1,h2,h3,h4,h5,h6) > a.header-anchor {
      display: none;
  }
  div.helpContent :is(h1,h2,h3,h4,h5,h6):hover > a.header-anchor  {
    display: inline;
  }
</style>
